﻿@model TeamOPSchoolCup.Web.Helpers.PaginatedList<TeamOPSchoolCup.Domain.POCO.Record>
@using TeamOPSchoolCup.Domain.Resources;
@{
    ViewBag.Title = "_RecordResultTable";
}
@if (Model.TotalCount > 0)
{
<table id="myResultTable" class="pagertable alternatingRows">
    <tr>
    <th class="header">
            Sport
        </th>
       
        <th class="header">
            RecordHolder
        </th>
        <th class="header">
            Result
        </th>
         <th class="header">
            Meeting
        </th>
        <th class="header">
            Event
        </th>
        <th class="header">
            RecordDate
        </th>
        <th class="header">
            Age
        </th>
       
         
        @if (Roles.IsUserInRole("ISFAdmin")) { <th class="header"></th>}
    </tr>
    @foreach (var item in Model)
{
    <tr>
   
             <td class="infocell" >@if (item.Event.Sport.Abbreviation.ToLower().Equals("ath"))
                                   {<img src="../../Content/images/Athletics.png" alt="athletics"/>}
                                   else
                                   {<img src="../../Content/images/Swimming.png" alt="swimming"/>}
            </td>
        
        
        <td class="infocell">
            @Html.DisplayFor(modelItem => item.RecordHolder.Name)
        </td>
        <td class="infocell">
            @Html.DisplayFor(modelItem => item.Result)
        </td>
        <td class="infocell">
            @Html.DisplayFor(modelItem => item.Meeting)
        </td>
        <td class="infocell">
            @Html.DisplayFor(modelItem => item.Event.Name)
        </td>
        <td class="infocell">
            @Html.DisplayFor(modelItem => item.RecordDate)
        </td>
        <td class="infocell">
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        
        
        @if (Roles.IsUserInRole("ISFAdmin")) { <td><a title="Edit Record" href="@Url.Action("Edit", new { id = item.RecordId})"><img class="editRecord" alt="edit" src="@Url.Content("~/Content/images/gear.png")"/></a></td>}
    </tr>
}
    <tr>
        <td>
            @if (Model.PageIndex > 0)
            { 
                <span class="pager" id="previous">@SharedStrings.Previous</span>
            }
        </td>
        <td></td><td></td><td colspan="2"></td><td colspan="2"></td>
        <td>
            @if (Model.HasNextPage && Model.PageIndex < Model.TotalPages)
            {
               <span  class="pager" id="next">@SharedStrings.Next</span>
            } 
        </td>
        
    </tr>
</table>
    }
    else
    {
        <p class="center">@SharedStrings.noresults</p>
    }
