﻿@using TeamOPSchoolCup.Domain.Resources
@using System.Web.Security

<div id="schoolCupNav">
    <a title="@TeamStrings.Nav_SchoolCup" href="@Url.Action("SchoolCup", "SchoolCup")">
        <img alt="@TeamStrings.Nav_SchoolCup" src="@Url.Content("~/Content/images/home.png")" />
        <span class="MSCoptionSpan">@TeamStrings.Nav_SchoolCup</span>
    </a>
    @if (Roles.IsUserInRole("Student")) {
    <a title="@TeamStrings.Nav_MyResults" href="@Url.Action("MyResults", "SchoolCup")">
        <img alt="@TeamStrings.Nav_MyResults" src="@Url.Content("~/Content/images/myresults.png")" />
        <span class="MSCoptionSpan">@TeamStrings.Nav_MyResults</span>
    </a>
    <a title="@TeamStrings.Nav_AddResult" href="@Url.Action("CreateSingle","Result")">
        <img alt="@TeamStrings.Nav_AddResult" src="@Url.Content("~/Content/images/addresults.png")" />
        <span class="MSCoptionSpan">@TeamStrings.Nav_AddResult</span>
    </a>
    }
    else {
        <a title="@TeamStrings.Nav_MyTeamResults" href="@Url.Action("TeamResults", "Team", new { teamId = Model.TeamId })">
            <img alt="@TeamStrings.Nav_MyTeamResults" src="@Url.Content("~/Content/images/myresults.png")" />
            <span class="MSCoptionSpan">@TeamStrings.Nav_MyTeamResults</span>
        </a>
    }
    <a title="@TeamStrings.Nav_Details" href="@Url.Action("ProfileDetails", "Member")">
        <img alt="@TeamStrings.Nav_Details" src="@Url.Content("~/Content/images/setting.png")" />
        <span class="MSCoptionSpan">@TeamStrings.Nav_Details</span>
    </a>
    @if (Roles.IsUserInRole("Coach")) {
        <a title="@TeamStrings.Nav_AddStudentTitle" href="@Url.Action("AddTeamMembership", "Team", new { id = Model.TeamId })">
            <img alt="@TeamStrings.Nav_AddStudent" src="@Url.Content("~/Content/images/mscteam.png")" />
            <span class="MSCoptionSpan">@TeamStrings.Nav_AddStudent</span>
        </a> 
       <!-- <a title="@TeamStrings.Nav_AddResultsTitle" href="#">
            <img alt="@TeamStrings.Nav_AddResults" src="@Url.Content("~/Content/images/addresults.png")" />
            <span class="MSCoptionSpan">@TeamStrings.Nav_AddResults</span>
        </a>--->
    }
    @if (Roles.IsUserInRole("Coach"))
    {
        <a title="@TeamStrings.Nav_AddMeetingTitle" href="@Url.Action("CreateCoachMeeting","Meeting",new { teamId=Model.TeamId })">
            <img alt="@TeamStrings.Nav_AddMeeting" src="@Url.Content("~/Content/images/meeting.png")" />
            <span class="MSCoptionSpan">@TeamStrings.Nav_AddMeeting</span>
        </a>
    }
</div>

