﻿@model TeamOPSchoolCup.Web.Helpers.PaginatedList<TeamOPSchoolCup.Domain.POCO.Result>
@using TeamOPSchoolCup.Domain.Resources;
@{
    ViewBag.Title = "_MyResultTable";
}
@if (Model.TotalCount > 0)
{
<table id="myResultTable">
    <tr id="header">
        <th>@TeamStrings.Result_Sport</th>
        <th>@TeamStrings.Result_Meeting</th>
        <th>@TeamStrings.Result_Event</th>
        <th>@TeamStrings.Result_Student</th>
        <th>@TeamStrings.Result_Result</th>
        <th>@TeamStrings.Result_Official</th>
    </tr>
    @foreach (var item in Model)
    { 
        <tr>
            <td>@if(item.Event.Sport.Abbreviation.ToLower().Equals("ath")){<img src="../../Content/images/Athletics.png" alt="athletics"/>}else{<img src="../../Content/images/Swimming.png" alt="swimming"/>}
            </td>
            <td>@item.Meeting.Name
            </td>
            <td>@item.Event.Name
            </td>
             <td>@TeamOPSchoolCup.Domain.Services.MemberService.GetMember(item.MemberId).Name
            </td>
            <td>@item.ResultScore
            </td>
            <td>@if (item.Event.IsOfficial)
                {<img src="../../Content/images/checkbox40x40_checked.png" alt="official"/>}
            </td>
            
        </tr>
    }
    <tr>
        <td>
            @if (Model.PageIndex > 0)
            { 
                <span class="pager" id="previous">@SharedStrings.Previous</span>
            }
        </td>
        <td></td><td></td><td></td><td></td>
        <td>
            @if (Model.HasNextPage && Model.PageIndex < Model.TotalPages)
            {
               <span  class="pager" id="next">@SharedStrings.Next</span>
            } 
        </td>
        
    </tr>
</table>
    }
    else
    {
        <p class="center">@SharedStrings.noresults</p>
    }
