﻿@model TeamOPSchoolCup.Web.Models.ChangePasswordModel
@using TeamOPSchoolCup.Domain.Resources
@using System.Web.Security
@{
    ViewBag.Title = "Change Password";
}
@section editprofile{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Profile.css")" type="text/css" />
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/SchoolCupNavigation.css")" type="text/css" />
}
@if (Roles.IsUserInRole(User.Identity.Name, "Coach") || Roles.IsUserInRole(User.Identity.Name, "Student")) {@Html.Partial("../Member/_NavigationDetails")}
<h1 class="wrappertitel">@ViewBag.Title</h1>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div id="cpModel">
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
        <table>
            <tr class="crud_row">
                <td class="number">@Html.LabelFor(model => model.OldPassword)
                </td>
                <td>
                    @Html.EditorFor(model => model.OldPassword)
                    @Html.ValidationMessageFor(model => model.OldPassword)
                </td>
            </tr>
            <tr class="crud_row">
                <td class="number">@Html.LabelFor(model => model.NewPassword)
                </td>
                <td>
                    @Html.EditorFor(model => model.NewPassword)
                    @Html.ValidationMessageFor(model => model.NewPassword)
                </td>
            </tr>
            <tr class="crud_row">
                <td class="number">@Html.LabelFor(model => model.NewPasswordConfirmed)
                </td>
                <td>
                    @Html.EditorFor(model => model.NewPasswordConfirmed)
                    @Html.ValidationMessageFor(model => model.NewPasswordConfirmed)
                </td>
            </tr>
            <tr>
                <td>
                    @if (Roles.IsUserInRole(User.Identity.Name, "Coach") || Roles.IsUserInRole(User.Identity.Name, "Student")) {
                        <a class="return" href="@Url.Action("SchoolCup", "SchoolCup")">
                            <img src="@Url.Content("~/Content/Images/return_button.png")", alt="@RegionStrings.Back" />
                            <span>@RegionStrings.Back</span> </a>
                    }
                    else {
                        <a class="return" href="@Url.Action("Index", "Administration")">
                            <img src="@Url.Content("~/Content/Images/return_button.png")", alt="@RegionStrings.Back" />
                            <span>@RegionStrings.Back</span> </a>
                    }
                </td>
                <td class="crud_submit">
                    <input type="submit" value="@RegionStrings.Save" />
                </td>
            </tr>
        </table>
    }
</div>
