﻿@model TeamOPSchoolCup.Web.Models.LogOnModel
           
<div id="login-form" title="Login" style="height: 160px !important">
    @using (Html.BeginForm("LogOnPost", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginform" }))
    {
        <div>
            <div class="accountLabel">
                @Html.LabelFor(m => m.Email)
            </div>
            <div class="accountField">
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <div class="accountLabel">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="accountField">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="accountLabel" id="remember">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>

            <input type="submit" value="go" style="visibility: hidden" />
        </div>
    }
</div>