﻿@model IEnumerable<TeamOPSchoolCup.Domain.POCO.Members.Student>
@using TeamOPSchoolCup.Domain.Resources
@{
    ViewBag.Title = String.Format(TeamStrings.AddStudentToTeam, @ViewBag.Team.Name);
}
@section teamDashboard {
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Team.css")" type="text/css" />
}
<h1 class="wrappertitel">@ViewBag.Title</h1>
<div id="add"><p id="add1">@Html.ActionLink(TeamStrings.CreateNewStudent,"AddStudent","Member",new {teamId=ViewBag.Team.TeamId},null)</p></div>
<table>
    <tr id="header">
        <th class="head" id="numberHeader" />
        <th class="head">@TeamStrings.Name</th>
        <th class="head">@TeamStrings.Email</th>
        <th />
    </tr>
    @{int index = 1;}
    @foreach (var student in Model)
    {
    <tr>
        <td class="number">@index</td>
        <td class="infocell">@student.Member.Name</td>
        <td class="infocell">@student.Member.Email</td>
        <td class="last">@Html.ActionLink(TeamStrings.AddToTeam, "ActualAddTeamMembership", new { teamId = ViewBag.Team.TeamId, studentId=student.MemberId })</td>
    </tr>
    index += 1;
    }  
</table>
<div id="back"><p><a class="return" href="@Url.Action("Dashboard", "Team", new { Id = ViewBag.Team.TeamId })">
    <img src="@Url.Content("~/Content/Images/return_button.png")", alt="@TeamStrings.BackToDashboard" />
    <span>@TeamStrings.BackToDashboard</span>
</a></p></div>