﻿@model TeamOPSchoolCup.Domain.POCO.Team
@using TeamOPSchoolCup.Domain.Resources
@using TeamOPSchoolCup.Domain.DTO;
@{
    ViewBag.Title = "Create";
}
@section region{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Team.css")" type="text/css" />
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/SchoolCupNavigation.css")" type="text/css" />
}
@Html.Partial("../SchoolCup/Partials/_Navigation")
<h2 class="wrappertitel">@TeamStrings.CreateTeam</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div id="content-form">
    @using (Html.BeginForm("Create", "Team", FormMethod.Post, new { enctype = "multipart/form-data" })) {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.School);
        @Html.HiddenFor(model => model.TeamCoaches);                                      
        <table>
            <tr class="crud_row">
                <td class="number">@Html.LabelFor(model => model.Name)
                </td>
                <td>@Html.EditorFor(model => model.Name)@Html.ValidationMessageFor(model => model.Name)
                </td>
            </tr>
            <tr class="crud_row">
                <td class="number">@Html.LabelFor(model => model.Gender)
                </td>
                <td id="genderSelect">
                    @{List<Gender> genders = new List<Gender>();
                  foreach(Gender g in Enum.GetValues(typeof(TeamOPSchoolCup.Domain.DTO.Gender)))
                  { 
                      if(!g.Equals(Gender.UNISEX)){
                      genders.Add(g);}
                  }}
                @Html.DropDownListFor(model => model.Gender, new SelectList(genders))
                @Html.ValidationMessageFor(model => model.Gender)
                </td>
            </tr>
            <tr class="crud_row">
                <td class="number">@Html.LabelFor(model => model.SportId, @TeamStrings.Result_Sport)
                </td>
                <td id="sportSelect">
                    @Html.DropDownListFor(model => model.SportId, new SelectList(TeamOPSchoolCup.Domain.Services.SportService.GetSports(true), "SportId", "Name"))
                    @Html.ValidationMessageFor(model => model.SportId)
                </td>
            </tr>
            <tr class="crud_row">
                <td class="number">@TeamStrings.photo
                </td>
                <td>
                    <input id="choosePhoto" type="file" accept=".png, .jpg, .jpeg, .gif" name="Photo" />
                </td>
            </tr>
            <tr class="crud_row">
                <td class="number">@TeamStrings.Logo</td>
                <td>
                    <input id="chooseLogo" type="file" accept=".png, .jpg, .jpeg, .gif" name="Logo" />
                </td>
            </tr>
            <tr>
                <td>
                    <a class="@TeamStrings.Back" href="@Url.Action("SchoolCup", "SchoolCup")">
                        <img src="@Url.Content("~/Content/Images/return_button.png")", alt="@TeamStrings.Back" />
                        <span>@TeamStrings.Back</span> </a>
                </td>
                <td class="crud_submit">
                    <input id="derp" type="submit" value="@TeamStrings.Create" />
                </td>
            </tr>
        </table>
    }
</div>
