﻿@model TeamOPSchoolCup.Domain.POCO.Team
@using TeamOPSchoolCup.Domain.Resources
@{
    ViewBag.Title = "Dashboard";
}
@using TeamOPSchoolCup.Domain.Services;
@section teamDashboard{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Team.css")" type="text/css" />
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/SchoolCupNavigation.css")" type="text/css" />
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Meeting.css")" type="text/css" />
    <script src="@Url.Content("~/Scripts/Meeting.js")" type="text/javascript"></script>
}
@Html.Partial("Partials/_Navigation")
<h1 id="DashboardTitel">@Model.Name</h1>
<div id="TDBinfo" class="roundedBorder">
    @if (ViewBag.BestTeamResult != null) {
        <p class="derp">@TeamOPSchoolCup.Domain.Resources.TeamStrings.bpv: <span class="underline">
            <i>@ViewBag.BestTeamResult.TeamResult.PointValue</i></span></p>
    }
    else { 
        <p class="derp">@TeamOPSchoolCup.Domain.Resources.TeamStrings.bpv: <span class="underline">
            <i>@TeamStrings.None</i></span></p>
    }
    @if (ViewBag.LatestTopicMessage != null) {<p class="derp">
        <a href="@Url.Action("Topic", new { id = ViewBag.LatestTopicMessage.TopicId })" title="View topic">@TeamStrings.imp
            - @ViewBag.LatestTopicMessage.Topic.Title</a></p>}
</div>
<div id="TDBmessages" class="roundedBorder">
    <div id="TDBmessagesTitle">
        @if (User.IsInRole("Student")) {
            <a href="@Url.Action("Create", "Conversation", new { teamId = Model.TeamId })">
                <img title="@TeamOPSchoolCup.Domain.Resources.TeamStrings.topic" alt="add" src="@Url.Content("~/Content/images/addlogo.png")" /></a>
        }
        @if (User.IsInRole("Coach")) { 
            <a href="@Url.Action("Create", "Conversation", new { teamId = Model.TeamId })">
                <img title="@TeamOPSchoolCup.Domain.Resources.TeamStrings.topic" alt="add" src="@Url.Content("~/Content/images/addlogo.png")" /></a>
        }
        <p>@TeamOPSchoolCup.Domain.Resources.TeamStrings.con</p>
    </div>
    @foreach (TeamOPSchoolCup.Domain.POCO.Topic item in (List<TeamOPSchoolCup.Domain.POCO.Topic>)ViewBag.Topics) {
        <div class="roundedBorder topicDiv">
            <p class="topic">@Html.ActionLink(item.Title, "Topic", new { id = item.TopicId })
                @if (item.Student != null && item.Coach == null) {
                    if (TeamOPSchoolCup.Domain.Services.MemberService.GetMember(email: User.Identity.Name).MemberId == item.Student.MemberId) {
                    <a href="@Url.Action("Edit", "Conversation", new { id = item.TopicId })">
                        <img title="@TeamOPSchoolCup.Domain.Resources.TeamStrings.change" alt="change" src="@Url.Content("~/Content/images/gear.png")" /></a>
                    }
                }
                else {
                    if (TeamOPSchoolCup.Domain.Services.MemberService.GetMember(email: User.Identity.Name).MemberId == item.Coach.MemberId) {
                    <a href="@Url.Action("Edit", "Conversation", new { id = item.TopicId })">
                        <img title="@TeamOPSchoolCup.Domain.Resources.TeamStrings.change" alt="change" src="@Url.Content("~/Content/images/gear.png")" /></a>
                    }
                }
            </p>
            @if (item.Coach == null) {<p class="poster">@Html.ActionLink(item.Student.Member.Name, "Profile", "Member", new { id = item.Student.MemberId }, null)</p> }
            else {  <p class="poster">@Html.ActionLink(item.Coach.Member.Name, "Profile", "Member", new { id = item.Coach.MemberId }, null)</p> }
            @if (ConversationService.GetFirstMessage(item) != null) {<p class="date">@ConversationService.GetFirstMessage(item).DatePosted</p>}
        </div>
    }
</div>
<div id="TBDnews" class="roundedBorder">
    @if (ViewBag.TeamRankings.Count != 0) {
        <table>
            <tr class="header">
                <th class="head">@TeamStrings.Result_Event
                </th>
                <th class="head">@TeamStrings.Rank_CWR_Head
                </th>
                <th class="head">@TeamStrings.Rank_BWRTY_Head
                </th>
            </tr>
            @foreach (var item in ViewBag.TeamRankings) {
                var link = item.CurrentWorldRanking;
                <tr>
                    <td class="number">@(item.EventId!=0 ? TeamOPSchoolCup.Domain.Services.EventService.GetEvent(item.EventId).Name : "Overall")
                    </td>
                    <td>@item.CurrentWorldRanking
                    </td>
                    <td>@item.BestWorldRankingThisYear
                    </td>
                </tr>
            }
        </table>
        <p class="exp">@TeamStrings.Rank_Explanation1<br />
            @TeamStrings.Rank_Explanation2</p>
        <div id="ownmeetings">@Html.Action("MeetingsForTeam", "Meeting", new { teamId = Model.TeamId })</div>
    }
    else {
        <p id="plain">No Rankings Were found</p>
    }
</div>
