﻿@model TeamOPSchoolCup.Domain.POCO.Team
@using TeamOPSchoolCup.Domain.Resources
@using TeamOPSchoolCup.Domain.Services
@{
    ViewBag.Title = "Profile";
}
@section profile{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Profile.css")" type="text/css" />
}
<div class="profileDiv">    
    @if (Model.Sport.SportId == 1) {
        <div class="headerDiv" id="swim">
            @if (Model.Gender_Value == 1) {
                <img class="gender" id="male" src="@Url.Content("~/Content/images/man.png")" alt="gender"/>
            }
            else {
                <img class="gender" id="female" src="@Url.Content("~/Content/images/woman.png")" alt="gender"/>
            }

            @if (System.IO.File.Exists(ViewBag.photopathTest)) { <div class="teamfoto" id="teamfoto2"><img alt="teamfoto" src="@Url.Content(ViewBag.photopath)"/></div> }
            else { <div class="teamfoto" id="teamfoto1"></div> }
            
            <div id="teamname">@Model.Name</div>
        </div>
    }
    else if (Model.Sport.SportId == 2) {
        <div class="headerDiv" id="ath">
            @if (Model.Gender_Value == 1) {
                <img class="gender" id="male" src="@Url.Content("~/Content/images/man.png")" alt="gender"/>
            }
            else {
                <img class="gender" id="female" src="@Url.Content("~/Content/images/woman.png")" alt="gender"/>
            }
            @if (System.IO.File.Exists(ViewBag.photopathTest)) { <div class="teamfoto" id="teamfoto2"><img alt="teamfoto" src="@Url.Content(ViewBag.photopath)"/></div> }
            else { <div class="teamfoto" id="teamfoto1"></div> }
            
            <div id="teamname">@Model.Name</div>
        </div>
    }
    <div id="teaminfo">
        <div id="coachSchool">
            <span class="infoTitle">@TeamStrings.Coach: </span><span class="infovalue">@Html.ActionLink(TeamService.GetCurrentCoachOfTeam(team: Model).Member.Name, "Profile", "Member", new { id = TeamService.GetCurrentCoachOfTeam(team: Model).MemberId }, null)</span><br />
            <span class="infoTitle">@TeamStrings.School: </span><span class="infovalue">@Model.School.Name (<span class="italic">@Model.School.AbbrName</span> )</span>
        </div>

        <table id="rankingTable"> 
            <tr class="tableHeader">
                <th id="first">@TeamStrings.Result_Event</th>
                <th>@TeamStrings.Rank_CWR_Head</th>
                <th>@TeamStrings.Rank_BWRTY_Head</th>
            </tr>           
            @foreach (var item in ViewBag.teamRankings) {
                var link = @item.CurrentWorldRanking;
                <tr>
                    <td class="number">@TeamOPSchoolCup.Domain.Services.EventService.GetEvent(item.EventId).Name</td>
                    <td>@item.CurrentWorldRanking</td>
                    <td>@item.BestWorldRankingThisYear</td>
                </tr>
            } 
        </table>
        <p>@TeamStrings.Rank_Explanation1<br />@TeamStrings.Rank_Explanation2</p>

        <table id="teamMembers">
            <tr class="tableHeader">
                <th class="number"></th>
                <th>@TeamStrings.TeamMember</th>
            </tr>
            @{int index = 1;}
            @foreach (var item in (List<TeamOPSchoolCup.Domain.POCO.TeamMembership>)ViewBag.teamMembers) { 
                <tr>
                    <td class="number">
                        @index
                    </td>
                    <td class="center">
                        @Html.ActionLink(item.Student.Member.Name, "Profile", "Member", new { id = item.Student.Member.MemberId }, null)
                    </td>
                    @{ index += 1; } 
                </tr>               
            }
        </table>
    </div>
</div>
