﻿@model IEnumerable<TeamOPSchoolCup.Domain.POCO.Result>
@{
    ViewBag.Title = "TeamResults";
}
@section SchoolCup{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/SchoolCup.css")" type="text/css" />
}
@using TeamOPSchoolCup.Domain.POCO;
@using TeamOPSchoolCup.Domain.POCO.Members;
@using TeamOPSchoolCup.Domain.DTO;
@using TeamOPSchoolCup.Domain.Services;
@using TeamOPSchoolCup.Domain.Resources.GraphStrings;
@using TeamOPSchoolCup.Domain.Resources;
@using System.Web.Script.Serialization;
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load('visualization', '1.1', { packages: ['controls', 'linechart'] });
</script>
<script src="@Url.Content("~/Scripts/Graph.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/TeamResults.js")" type="text/javascript"></script>
<script type="text/javascript">
 
    
    var studentsInTeamsWithEvents=@Html.Raw(ViewBag.StudentsInTeamsWithEvents);
    var language = $('body').attr('data-language');
    
    $(document).ready(function(){
        
            function drawGraph(memberIds,eventName) {
                $.ajax({
                    type: 'GET',
                    url: '/' + language + '/SchoolCup/GetGraphData?memberIds='+ memberIds.join().toString(),
                    success: function (data) {
                        if(data == ""){ $("#chart").empty();$("#chart").append("There is no data for the graph"); return; }
                        setEventPicker(data,eventName);
                        drawMyResultsGraph(data, (eventName == null? data.ComparisonLines[0].EventName: eventName));
                    },
                    error: function (errorData) { }
                });
            }
             var srh_students=[];
            var srh_eventName=$("#srh_EventSelect").val();
            function getSrhStudentsChecked() {
                srh_students=[];
                $(".srh_studentcheck").each(function() { 
                    if ($(this).prop("checked") && !$(this).prop("disabled")) {
                        srh_students.push($(this).data("studentid")); 
                    }
                });
                drawGraph(srh_students,srh_eventName);
            }
            function resetSrhStudentCheckboxes() {
                $(".srh_studentcheck").each(function() {
                    var studentNodes=studentsInTeamsWithEvents[$(this).data("team")];
                    for (var i=0; i<studentNodes.length; i++) {
                        if ($(this).data("studentid")==studentNodes[i].Id) {
                            $(this).attr("disabled","disabled");
                            if (studentNodes[i].ParticipatingEvents[srh_eventName]===true) {
                                $(this).removeAttr("disabled");
                            }
                        }
                    }
                });
            }
            getSrhStudentsChecked();
            
            
            $(".srh_studentcheck").click(function() {
                getSrhStudentsChecked();
             });
            $("#EventSelect").change(function(){
                srh_eventName=$("#EventSelect").val();
                resetSrhStudentCheckboxes();
                getSrhStudentsChecked();
             });
            $("#srh_quickteamselect a").click(function(e) {
                e.stopPropagation();
                var teamId=$(this).data("teamid");
                switch ($(this).data("status")) {
                    case "checked":
                        $(".srh_studentcheck[data-teamid='"+teamId+"']").removeAttr("checked");
                        $(this).data("status","unchecked").attr("title","Select "+$(this).data("team")).text("Select "+$(this).data("team"));
                        break;
                    case "unchecked":
                        $(".srh_studentcheck[data-teamid='"+teamId+"']").attr("checked","checked").prop("checked","checked");
                        $(this).data("status","checked").attr("title","Deselect "+$(this).data("team")).text("Deselect "+$(this).data("team"));
                        break;
                }
                getSrhStudentsChecked();
                
                return false; //To stop the original events
            });
        
        
        
        function setEventPicker(data, eventName)
        {
        
            $("#EventSelect").empty();
            var select = document.getElementById("EventSelect");
            
            for(var i = 0; i < data.ComparisonLines.length; i++){
                var opt = data.ComparisonLines[i];
                var el = document.createElement("option");
                el.text = opt.EventName;
                el.id = opt.EventId;
                el.value = opt.EventName;
                if(eventName == opt.EventName){
                el.selected = "selected";
                }
                select.appendChild(el);
            }
        }
        google.setOnLoadCallback(function() {
        getSrhStudentsChecked()
        });     
        });
    onLoad(@ViewBag.StudentsInTeamsWithEventsData[0].TeamId);
   
</script>
<h1 class="wrappertitel">
    Team Results</h1>
@if (Model != null && Model.ToList().Count != 0)
{
<div id="myResult">
    <table class="filters">
        <tr>
            <td>@RankingStrings.Sport
            </td>
            <td>@RankingStrings.Meeting
            </td>
            <td>@RankingStrings.Event
            </td>
            <td>@TeamStrings.Result_Official</td>
        </tr>
        <tr>
            <td class="selectFilter">
                <label>@Html.DropDownList("Sports", String.Empty)</label>
            </td>
            <td class="selectFilter">
                <label>@Html.DropDownList("Meetings", String.Empty)</label>
            </td>
            <td class="selectFilter">
                <label>@Html.DropDownList("Events", String.Empty)</label>
            </td>
            <td class="selectFilter">
                <label>
                    <select id="Official">
                        <option value="null"></option>
                        <option value="true">@TeamStrings.Result_Official</option>
                        <option value="false">@TeamStrings.Unofficial</option>
                    </select></label>
            </td>
        </tr>
    </table>
    <div id="myResultDiv">
        @Html.Action("LoadTeamResult", "Team", new { teamId = ViewBag.StudentsInTeamsWithEventsData[0].TeamId })
    </div>
</div>

    <div id="graph">
        <div id="EventPicker">
            <select id="EventSelect">
            </select>
            <div id="srh_quickteamselect">
                @foreach (var teamNodes in ViewBag.StudentsInTeamsWithEventsData)
                {
                    <a href="#" title="Deselect @teamNodes.Name" data-teamid="@teamNodes.TeamId" data-status="checked" data-team="@teamNodes.Name">@String.Format(TeamStrings.DeselectTeam,@teamNodes.Name)</a>
                }
            </div>
            <div id="searchresults">
            <table class="alternatingRows">
                <tr class="header">
                    <th>
                        &nbsp;
                    </th>
                    <th>@TeamStrings.Student</th>
                    <th>@TeamStrings.Team</th>
                </tr>
                @foreach (var teamNodes in ViewBag.StudentsInTeamsWithEventsData)
                {
                    foreach (var studentNode in teamNodes.Students)
                    {
                    <tr>
                        <td>
                            <input type="checkbox" class="srh_studentcheck" data-team="@teamNodes.Name" data-teamid="@teamNodes.TeamId" data-student="@studentNode.Name" data-studentid="@studentNode.Id" checked="checked"/>
                        </td>
                        <td>@studentNode.Name
                        </td>
                        <td>@teamNodes.Name
                        </td>
                    </tr>
                    }
                }
            </table>
            </div>
        </div>
        <div id="chart">
        </div>
        <div class="cl">
        </div>
    </div>
    
    <div class="clear">
    </div>
}
 else
    {
        <p class="center">@SharedStrings.noresults</p>
    }