﻿@model TeamOPSchoolCup.Domain.DTO.EditableTeam
@using TeamOPSchoolCup.Domain.Resources
@{
    ViewBag.Title = "TeamManagement";
}

@section SchoolCup{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/SchoolCup.css")" type="text/css" />
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Team.css")" type="text/css" />
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/SchoolCupNavigation.css")" type="text/css" />
}
@Html.Partial("../Team/Partials/_Navigation")

<h2 class="wrappertitel">@TeamStrings.TeamManagement</h2>
<div id="SCcontent">
    <div id="profile-form">
@using (Html.BeginForm("TeamManagement", "Team", FormMethod.Post, new { enctype = "multipart/form-data" })) {
  @Html.ValidationSummary(true)
  @Html.HiddenFor(model => model.TeamId)
  <table>
    <tr class="crud_row">
        <td class="number">@Html.LabelFor(model => model.Name)</td>
        <td>
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </td>
    </tr>
    <tr class="crud_row">
        <td class="number">@Html.LabelFor(model => model.IsParticipating)</td>
        <td>
            @Html.EditorFor(model => model.IsParticipating)
            @Html.ValidationMessageFor(model => model.IsParticipating)
        </td>
    </tr>
    <tr class="crud_row">
        <td class="number">@TeamStrings.photo</td>
        <td>
            <input id="choosePhoto" type="file"  accept=".png, .jpg, .jpeg, .gif"  name="Photo" />
        </td>
    </tr>
    <tr class="crud_row">
        <td class="number">@TeamStrings.Logo</td>
        <td>
            <input id="chooseLogo" type="file"  accept=".png, .jpg, .jpeg, .gif"  name="Logo" />
        </td>
    </tr>
    </table>
    <div id="buttons">
        <div>
            <div id="back">
                <a class="@TeamStrings.Back" href="@Url.Action("SchoolCup", "SchoolCup")">
                    <img src="@Url.Content("~/Content/Images/return_button.png")", alt="@RegionStrings.Back" />
                    <span>@RegionStrings.Back</span>
                </a>
            </div>
            <div class="crud_submit"><input type="submit" value="@RegionStrings.Save" /></div>
        </div>
    </div>
  
}
</div>
</div>
