﻿@model TeamOPSchoolCup.Domain.POCO.Message
@using TeamOPSchoolCup.Domain.Resources
@{
    ViewBag.Title = "Topic";
}
@using TeamOPSchoolCup.Domain.Services;
@section teamDashboard{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Team.css")" type="text/css" 
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/SchoolCupNavigation.css")" type="text/css" />
}


<h2 class="wrappertitel">@ViewBag.Topic.Title</h2>


<div id="messages">
    <div id="topicList" class="roundedBorder">
        @foreach (TeamOPSchoolCup.Domain.POCO.Topic item in (List<TeamOPSchoolCup.Domain.POCO.Topic>)ViewBag.Topics) {
            <div class="roundedBorder">
                <p class="topic">@Html.ActionLink(item.Title, "Topic", new { id = item.TopicId })
                    @if (item.Student != null && item.Coach == null) {
                        if (TeamOPSchoolCup.Domain.Services.MemberService.GetMember(email: User.Identity.Name).MemberId == item.Student.MemberId) {
                            <a href="@Url.Action("Edit", "Conversation", new { id = item.TopicId })"><img title="@TeamOPSchoolCup.Domain.Resources.TeamStrings.change" alt="change" src="@Url.Content("~/Content/images/gear.png")" /></a>
                        }
                    }
                    else {
                        if (TeamOPSchoolCup.Domain.Services.MemberService.GetMember(email: User.Identity.Name).MemberId == item.Coach.MemberId) {
                            <a href="@Url.Action("Edit", "Conversation", new { id = item.TopicId })"><img title="@TeamOPSchoolCup.Domain.Resources.TeamStrings.change" alt="change" src="@Url.Content("~/Content/images/gear.png")" /></a>
                        }
                    }   
                </p> 
                @if (item.Coach == null) {<p class="poster">@Html.ActionLink(item.Student.Member.Name, "Profile", "Member", new { id = item.Student.MemberId }, null)</p> }
                else { <p class="poster">@Html.ActionLink(item.Coach.Member.Name, "Profile", "Member", new { id = item.Coach.MemberId }, null)</p> }
                @if (ConversationService.GetFirstMessage(item) != null)
                {<p class="date">@ConversationService.GetFirstMessage(item).DatePosted</p>}
            </div>
        }
    </div>  
    <div id="messagesList" class="roundedBorder">
        @{int index = 0;}
        @foreach (TeamOPSchoolCup.Domain.POCO.Message message in ViewBag.Messages) {
            if (index == 0) {
                <div class="roundedBorder" id="initialMessage">
                    <p class="message">@Html.Raw(Html.Encode(message.Content).Replace("\n", "<br />"))</p>
                    @if (message.Coach == null) {<p class="posted">@String.Format(TeamStrings.PostedByOn,@message.Student.Member.Name,@TeamOPSchoolCup.Domain.Services.ConversationService.GetFirstMessage(ViewBag.Topic).DatePosted)</p>}
                    else {<p class="posted">@String.Format(TeamStrings.PostedByOn,message.Coach.Member.Name,TeamOPSchoolCup.Domain.Services.ConversationService.GetFirstMessage(ViewBag.Topic).DatePosted)</p>}                                                                                                                                                      
                    @{index += 1;}
                </div>
            }
            else {
                <div class="roundedBorder otherMessage">
                    <p class="message">@Html.Raw(Html.Encode(message.Content).Replace("\n", "<br />"))</p>
                    @if (message.Coach == null) {<p class="posted">@String.Format(TeamStrings.PostedByOn,@message.Student.Member.Name,@message.DatePosted)</p>}
                    else {<p class="posted">@String.Format(TeamStrings.PostedByOn,message.Coach.Member.Name,@message.DatePosted)</p> }                                                                                                                                                      
                    @{ index += 1; }
                </div>  
            }
        }           
    </div>   
    <div id="newMessage">
        @using (Html.BeginForm()) {
            @Html.HiddenFor(model => model.TopicId)
            @Html.TextAreaFor(model => model.Content)
            <input type="submit" value="@TeamOPSchoolCup.Domain.Resources.TeamStrings.send" />         
        }        
    </div>  
</div>
<div id="back">@Html.ActionLink(@TeamStrings.BackToDashboard,"Dashboard","Team",new {id = ViewBag.Topic.TeamId},null)</div>

