﻿@model TeamOPSchoolCup.Web.Helpers.PaginatedList<TeamOPSchoolCup.Domain.POCO.Members.Coach>
@using TeamOPSchoolCup.Domain.Resources;
@using TeamOPSchoolCup.Domain.Services;
@using TeamOPSchoolCup.Domain.POCO.Members;
    <table id="coach_results" class="pagertable">
       <tr class="header">
        <th id="result">
            @if (Model.TotalPages > 0)
            {
                @Search.CoachResults
            }
            else { 
                @Search.NoCoachesFound
            }
        </th>
      </tr>
           @foreach (var obj in Model)
           {
               if (SearchService.GetType(obj) == typeof(Coach))
               {
                   Coach coach = (Coach)obj;
                    <tr id="row">

                        <td>@Html.ActionLink(coach.Member.Name, "Profile", "Member", new { id = coach.Member.MemberId }, null)</td>
                    </tr>
    
               }
           }
       <tr class="tablebottomactions">
        <td>
            @if (Model.PageIndex > 0)
            { 
                <a class="pager" id="previous"><img src="@Url.Content("~/Content/images/return_button.png")" alt="@SharedStrings.Previous" /><span>@SharedStrings.Previous</span></a>
            }
            @if (Model.HasNextPage && Model.PageIndex < Model.TotalPages)
            {
               <a class="pager" id="next"><span>@SharedStrings.Next</span><img src="@Url.Content("~/Content/images/next_button.png")" alt="@SharedStrings.Next" /></a>
            } 
        </td>
      </tr> 
    </table>
