﻿@model TeamOPSchoolCup.Web.Helpers.PaginatedList<TeamOPSchoolCup.Domain.POCO.Meeting>
@using TeamOPSchoolCup.Domain.Resources;
@using TeamOPSchoolCup.Domain.Services;

    <table id="meeting_results" class="pagertable">
       <tr class="header">
        <th id="result">
            @if (Model.TotalPages > 0)
            {
                @Search.MeetingResults
            }
            else { 
                @Search.NoMeetingsFound
            }
        </th>
      </tr>
           @foreach (var obj in Model)
           {
               if (SearchService.GetType(obj) == typeof(TeamOPSchoolCup.Domain.POCO.Meeting))
               {
                   TeamOPSchoolCup.Domain.POCO.Meeting meeting = (TeamOPSchoolCup.Domain.POCO.Meeting)obj;
                    <tr id="row">
                        <td>@Html.ActionLink(meeting.Name, "Detail", "Meeting", new { id = meeting.MeetingId }, null)</td>
                    </tr>
               }
           }
  <tr class="tablebottomactions">   
        <td>
            @if (Model.PageIndex > 0)
            { 
                <a class="pager" id="previous"><img src="@Url.Content("~/Content/images/return_button.png")" alt="@SharedStrings.Previous" /><span>@SharedStrings.Previous</span></a>
            }
            @if (Model.HasNextPage && Model.PageIndex < Model.TotalPages)
            {
               <a class="pager" id="next"><span>@SharedStrings.Next</span><img src="@Url.Content("~/Content/images/next_button.png")" alt="@SharedStrings.Next" /></a>
            } 
        </td>
    </tr>  
    </table>