﻿@model TeamOPSchoolCup.Web.Helpers.PaginatedList<TeamOPSchoolCup.Domain.POCO.Members.Student>
@using TeamOPSchoolCup.Domain.Resources;
@using TeamOPSchoolCup.Domain.Services;
@using TeamOPSchoolCup.Domain.POCO.Members;

    <table id="student_results" class="pagertable">
       <tr class="header">
        <th id="result" colspan="2">
          
            @if (Model.TotalPages > 0)
            {
                @Search.StudentResults
            }
            else { 
                @Search.NoStudentsFound
            }
        </th>
      </tr>
           @foreach (var obj in Model)
           {
               if (SearchService.GetType(obj) == typeof(Student))
               {
                   Student stud = (Student)obj;
                    <tr id="row">
                        <td colspan="2">@Html.ActionLink(stud.Member.Name, "Profile", "Member", new { id = stud.Member.MemberId }, null)</td>
                    </tr>
    
               }
           }
           <tr class="tablebottomactions">
        <td>
            @if (Model.PageIndex > 0)
            { 
               <a class="pager" id="previous"><img src="@Url.Content("~/Content/images/return_button.png")" alt="@SharedStrings.Previous" /><span>@SharedStrings.Previous</span></a>
            }
        </td><td>
            @if (Model.HasNextPage && Model.PageIndex < Model.TotalPages)
            {
               <a class="pager" id="next"><span>@SharedStrings.Next</span><img src="@Url.Content("~/Content/images/next_button.png")" alt="@SharedStrings.Next" /></a>
            } 
      </td>
      </tr>
    </table>
