﻿@model TeamOPSchoolCup.Web.Helpers.PaginatedList<TeamOPSchoolCup.Domain.POCO.Team>
@using TeamOPSchoolCup.Domain.Resources;
@using TeamOPSchoolCup.Domain.Services;
@using TeamOPSchoolCup.Domain.POCO;
    <table id="team_results" class="pagertable">
       <tr class="header">
        <th id="result" colspan="2">
            @if (Model.TotalPages > 0)
            {
                @Search.TeamResults
            }
            else { 
                @Search.NoTeamsFound
            }
        </th>
      </tr>
           @foreach (var obj in Model)
           {
               if (SearchService.GetType(obj) == typeof(Team))
               {
                   Team team = (Team)obj;
                    <tr id="row">
                        <td colspan="2">@Html.ActionLink(team.Name, "Profile", "Team", new { id = team.TeamId }, null)</td>
                    </tr>
               }
           }
        <tr class="tablebottomactions">
        <td>
            @if (Model.PageIndex > 0)
            { 
                 <a class="pager" id="previous"><img src="@Url.Content("~/Content/images/return_button.png")" alt="@SharedStrings.Previous" /><span>@SharedStrings.Previous</span></a>
            }
            
        </td><td>
            @if (Model.HasNextPage && Model.PageIndex < Model.TotalPages)
            {
               <a class="pager" id="next"><span>@SharedStrings.Next</span><img src="@Url.Content("~/Content/images/next_button.png")" alt="@SharedStrings.Next" /></a>
            } 
        </td>
      </tr>
    </table>
