﻿@model TeamOPSchoolCup.Web.Models.LogOnModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Android/Android.css")" type="text/css" />
</head>
<body>
    <div id="login-form" title="Login">
        
        @using (Html.BeginForm())
        {
            <table id="table">
                <tr>
                    <td colspan="2">@Html.ValidationSummary(true, "Could not login. Please try again.")</td>
                </tr>
                <tr>
                    <td class="number">@Html.LabelFor(m => m.Email)</td>
                    <td>@Html.TextBoxFor(m => m.Email)</td>
                </tr>
                <tr>
                    <td class="number">@Html.LabelFor(m => m.Password)</td>
                    <td>@Html.PasswordFor(m => m.Password)</td>
                </tr>
                <tr>
                    <td>
                        <div class="hidden">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                        <input type="submit" value="Log On" />
                    </td>
                </tr>
            </table>
        }
    </div>
</body>
</html>
