﻿@model Boolean
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>SetPermission</title>
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Android/Android.css")" type="text/css" />
</head>
<body>

    @if (!@Model)
    {
        using (Html.BeginForm())
        {
            
        <table id="table">
            <tr>
                <td>By continuing, you agree to give the application access to your account.
            <br /><br />
                    None of your personal data will be stored on the device.</td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Continue" /></td>
            </tr>
        </table>
        }
    }
    else
    {
        <div id="MobileAccessKey">@ViewBag.MAK.ToString()</div>
        <div id="IsStudent">@ViewBag.IsStudent</div>
    }
</body>
</html>
