﻿.ui-dialog-titlebar{
    background: rgba(146,60,135,.6);
}
#ui-id-1{
    color: #fff;
    text-shadow:0 2px 2px rgba(0, 0, 0, .5);
}

.ui-widget-overlay
{
    background: #000;
    opacity: .5;
}

.ui-state-default .ui-icon{
    background-image: url(../images/close.png);
    background-size:20px 20px;
}

.ui-dialog .ui-icon{
    width: 20px;
    height: 20px;
}

.accountLabel{
    color: #923c87;
    margin-top: 5px;
}

.accountField input{
    width: 310px;
}

.ui-button-text{
    color: #923c87;
}

#remember{
    margin-top: 7px;
}