﻿#admin{
    width: 880px;
    height: 500px;
    margin: 0 auto;
}

#threeadmin{
    width: 700px;
    height: 500px;
    margin: 0 auto;
}

#sccadmin{
    width: 700px;
    height: 230px;
    margin: 0 auto;
}

.bigAdminIcon{
    width: 240px;
    height: 220px;
    margin-right: 50px;
    margin-left: 50px;
    float: left;
    margin-top:10px;
}
#admindiv{
    width: 700px;
    margin: 0 auto;
}

#isfadmindiv{
    width: 600px;
    height: 50px;
    margin:0 auto;
}

.isfDiv a span.admintext
{
    display: block;
    width: 180px;
    text-align: center;
}
.sccadmintext
{
    display: block;
    width: 210px;
    margin: 0 auto;
    text-align: center;
}
.adminimage{
    display: block;
    width: 160px;
    height: 140px;
}

.normalDiv{
    margin: 50px;
    width: 250px;
    height: 210px;
    float:left;
}

.isfDiv{
    margin: 10px;
    width: 180px;
    height: 180px;
    float: left;
}

.isfDiv a{
    display: block;
}

.bol{
    width: 200px;
    height: 200px;
}

.adv{
    height: 200px;
    width: 230px;
}

.isfbol{
    width: 140px;
    height: 140px;
    margin-left: 20px;
}

.isfadv{
    height: 100px;
    width: 130px;
    margin-left:20px;
}

#admin div div a img:hover{
    opacity: .5;
}

#header{
    height:35px;
    background: rgba(146,60,135,.8);   
}

#nssftable tr{
    height: 25px;
}

#nssftable th{
    text-align:left;
    color: white;
    opacity:.9;
    padding-left:3px;
    height: 30px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

#numberHeader{
    width: 30px;
    border-bottom: 2px solid white;
}
#add{
    width:700px;
    margin: 0 auto 10px auto;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
   
}

#add a:hover{
    text-decoration:none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .75);
}

#add1{
    margin-left: 25px;
    width: 100px;
}

#back{
    width: 100px;
    margin-left: 105px;
    text-align:center;
}

#content-form{
    width: 500px;
    margin: 0 auto;
}

.text-box{
    height: 25px;
    font-size: 15px
}

#RegionId{
    height: 25px;
}

#RegionId option{
    height: 25px;
}
.field-validation-error span{
    color: Red;
}

.crud_submit input{
    height: 30px;
    width: 60px;
    margin-top: 15px;
    margin-right: 15px;
}

#content-form table{
    margin: 0 auto;
}

#derp{
    margin-right: 50px;
}

#genderSelect select{
    width: 100px;
    height: 25px;
}

#centre{
    margin-left:200px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 250px;
    height: 210px;
    float:left;
}
#setting
{
    position: absolute;
    top: 0;
    right: 0;
}

#setting img{
    vertical-align:middle;
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

#setting img:hover{
    cursor: hand;
}