﻿/*******************************************************************************
 * Tree container
 */
ul.dynatree-container
{
	font-family: tahoma, arial, helvetica;
	font-size: 10pt; /* font size should not be too big */
	white-space: nowrap;
	padding: 3px;
	margin: 0; /* issue 201 */
	background-color: white;
	border: 1px dotted gray;
	overflow: auto;
	height: 100%; /* issue 263 */
}

ul.dynatree-container ul
{
	padding: 0 0 0 16px;
	margin: 0;
}

ul.dynatree-container li
{
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	-moz-background-clip:border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background-attachment: scroll;
	background-color: transparent;
	background-position: 0 0;
	background-repeat: repeat-y;
	background-image: none;  /* no v-lines */

	margin:0;
	padding:1px 0 0 0;
}

/*******************************************************************************
 * Common icon definitions
 */
span.dynatree-empty,
span.dynatree-connector,
span.dynatree-expander,
span.dynatree-checkbox
{
	width: 16px;
	height: 16px;
	display: inline-block; /* Required to make a span sizeable */
	vertical-align: top;
	background-repeat: no-repeat;
	background-position: left;
	background-image: url("../images/dynatree.png");
	background-position: 0 0;
	vertical-align:middle;
}



/************** Connector, Expander ***************/

span.dynatree-connector
{
	background-image: none;
}

span.dynatree-expander
{
	background-position: 0px -80px;
	cursor: pointer;
}
span.dynatree-expander:hover
{
	background-position: -16px -80px;
}
.dynatree-expanded span.dynatree-expander {
	background-position: -32px -80px;
}
.dynatree-expanded span.dynatree-expander:hover {
	background-position: -48px -80px;
}

/*******************************************************************************
 * Checkbox icon
 */
span.dynatree-checkbox
{
	margin-left: 3px;
	background-position: 0px -32px;
}
span.dynatree-checkbox:hover
{
	background-position: -16px -32px;
}

.dynatree-partsel span.dynatree-checkbox
{
	background-position: -64px -32px;
}
.dynatree-partsel span.dynatree-checkbox:hover
{
	background-position: -80px -32px;
}

.dynatree-selected span.dynatree-checkbox
{
	background-position: -32px -32px;
}
.dynatree-selected span.dynatree-checkbox:hover
{
	background-position: -48px -32px;
}

/*******************************************************************************
 * Node titles
 */
 span.dynatree-node { height:22px; display:inline-block; }
span.dynatree-node span.dynatree-title
{
	display: inline-block; /* Better alignment, when title contains <br> */
	padding-left: 3px;
	padding-right: 3px; /* Otherwise italic font will be outside bounds */
	/*	line-height: 16px; /* should be the same as img height, in case 16 px */
	margin-left: 3px;
}