﻿.titel {
    margin: 15px 0px 0px 10px;
    text-align: center;
 }
 
.center{
    text-align: center;
}

.addlogo{
    width:20px;
    height:20px;
    vertical-align:middle;
}

#addbutton{
    margin-left: 130px;
}

p span{
     color:#923c87;
     font-weight:normal;
} 

a:hover{
    text-decoration:none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .75);
}

.last{
    text-align: center;
}

.last a img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.last a img:hover{
    opacity: .7;
}

#NSSFId, #Directionality{
    width: 65px;
}

#SportId{
    width: 150px;
}

div.content-form select,input{
    height: 22px;

    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #923c87;
}


#MinimumValue, #MaximumValue{
    width: 60px;
}

#Unit{
    width: 100px;
}

fieldset
{  
    padding-left: 10px;
    color:#923c87;
    padding-bottom: 5px;
}

fieldset legend
{
    margin-left: 20px;
}

div.event-form
{
    width: 350px;
    margin: 15px auto 0 auto;
}

div.event-form input[type="submit"]
{
    margin-top: 10px;
    color: #923c87;
    width: 60px;
    height: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    cursor: pointer;
    background-color: White;
    border-radius: .5em;
	border: solid 1px #923c87;
	background: white;
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#cdcecf));
	background: -moz-linear-gradient(top,  white,  #cdcecf);
}

div.event-form input[type="submit"]:hover
{
    background: white;
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#bab6b9));
	background: -moz-linear-gradient(top,  white,  #cdcfff);
}

.return 
{
    padding-right:60px;    
}

.return img
{
   margin-top:17px;
   vertical-align:-10%;
 }
 
 
tr.crud_row input, select
{
  width:300px;  
}

td.crud_submit
{
  float:right; 
}