﻿.filters 
{
    color:Purple;
    text-align:center;    
}

.selectFilter select 
{
    padding: 3px;
    margin: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 10pt;
    padding-right:20px;
    -webkit-box-shadow: 0 2px 0 #923c87, 0 -1px #fff inset;
    -moz-box-shadow: 0 2px 0 #923c87, 0 -1px #fff inset;
    box-shadow: 0 2px 0 #923c87, 0 -1px #fff inset;
    background: #f8f8f8;
    color: #923c87;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

.selectFilter span {position:relative}
.selectFilter span:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:9px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}

.selectFilter span:before {
    content:'';
    right:9px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}