﻿.slider-holder { position: relative;}

.slider {  background: white url(../images/test.jpg) no-repeat 0 0; background-size:900px 400px; width: 900px; height:400px; position:relative; margin-bottom:-10px; overflow: hidden; padding:0; }
.slider ul { list-style:none; list-style-position: outside; }
.slider ul li { float: left; width: 900px; height: 417px; }
.slider .slide-cnt {width: 550px; height: 220px; position:relative; overflow: hidden; float: right;  }

.slider h4 { color:#fff; font-size: 16px; font-family: 'Raleway', sans-serif;  font-weight: 500; text-shadow: rgba(0,0,0,0.5) 0px 1px 0px; text-transform: uppercase; }
.slider h2 { color:#f8f8f8; font-family: 'Raleway', sans-serif; font-size: 56px; line-height:56px; padding-bottom: 12px; font-weight: 700; text-shadow: rgba(0,0,0,0.5) 0px 1px 0px; }
.slider p { color:#fff; }
.slider p a { color:#fff; text-decoration: underline; }
.slider p a:hover { color: #0e4d02 }

.slider img { float:left; margin-right:0px;  }
.slider .socials { width: 150px; float:right; padding-top:18px;padding-left: 50px;}
.slider .socials a { width: 31px; height: 30px; float:left; margin-left: 6px; font-size: 0; line-height: 0; text-indent: -4000px; }

.ico {width: 32px; height:30px; }
.playico {height: 30px;
          width: 32px;
          border-radius: 5px;}
.playico:hover { opacity:.7; }
.ico:hover { opacity:.7; }

#thumbs-wrapper { width: 80px; padding: 0 20px; position: absolute; bottom: 2px; left:410px; overflow: hidden; }
#thumbs { height: 80px; width: 434px; position:relative; overflow: hidden; padding-top:7px; }
#thumbs a { margin-bottom:8px; width: 10px; height: 10px; margin-right: 8px; float:left; padding: 3px; }
#thumbs a img { width: 10px; height: 10px; float:left; opacity: .5; }

#thumbs a.selected { height: 10px; position:relative; } 
#thumbs a.selected img { height: 10px; opacity: 1;}

#filling{
    background-color:white;
    width:900px;
    height: 500px;
    margin: 10px 0px;
}


.homeResults{
    width: 600px;   
    min-height: 235px; 
    margin: 10px 8px;
    border: 2px solid rgba(114,114,114,.2);   
    border-radius: 5px;
}

.homeResults table{
    margin-top: 10px;
}

.homeResults p{
    width: 400px;
    margin: 5px auto;
    text-align:center;
}

#worldResultsAth{
    float: left;
    
}
#worldResultsSw{
    float: right;
}

#worldEvents{
    width: 250px;
    min-height: 235px;
    float: left;
    margin: 10px 8px; 
    border: 2px solid rgba(114,114,114,.2);   
    border-radius: 5px; 
    background-color: rgba(114,114,114,.05);
}

#worldEvents table{
    border: 2px solid rgba(114,114,114,.2);   
}

#worldEvents p{
    margin: 5px auto;
    width: 150px;
    text-align:center;
}


#worldEvents li {
    width: 90%;
    color: #923c87;
}

#team_rankingtable a{
   color: #923c87; 
   font-size: 14px;
}

#aboutUs{
    width: 250px;
    margin: 10px 8px;
    float:right;
    min-height: 235px;
    text-align: center;
    border: 2px solid rgba(114,114,114,.2);   
    border-radius: 5px;
    background-color: rgba(114,114,114,.05);
}

#aboutUs p{
    text-align: center;
    margin-bottom: 15px;
    margin-top:5px;
}

#aboutUs a{
    color: #923c87;
    text-decoration: underline;
}

#noresults{
    margin: 0 auto;
    width: 500px;
    text-align: center;    
}

#searchresults{
    width: 900px;
    text-align: left;
    margin: 0 auto;
    color: #923c87;
}

#contacts{
    width: 800px;
    height: 500px;
    margin: 0 auto;
    padding: 10px;
}

.contact{
    width: 390px;
    height: 150px;
    margin-bottom: 30px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.roundedborder{
    border: 2px solid rgba(114,114,114,.2);
    border-radius: 5px; 
}

img.contactPhoto {
    width: 120px;
    height: 140px;
    margin:5px;
    vertical-align: middle;
}

div.contactInfo{
    width: 240px;
    height: 140px;
    margin-top: 5px;
    margin-right: 5px;
    float:right;
}


#tabATH, #tabSW {
    font-family:  sans-serif;
    font-size: 10pt;
    margin: 0 auto;
    border-radius:0;
    color:#923c87;    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:none;
    width: 99%;
    height: 99%;
    margin: 0 auto;
}

#tabATH .ui-state-default, #tabSW .ui-state-default  
{
    color:#923c87;     
}

#tabATH ul, #tabSW ul
{
    width:auto;
    margin: 0 auto;
    background:#923c87;  
    border-radius:0;
    
}

#tabATH li, #tabSW li  
{
    border-radius:0;  
}

#tabATH li a, #tabSW li a
{
    color: #923c87;
}


#tabATH table, #tabSW table
{
  width: auto;  
}

#easterEgg{
    position: fixed;
    top:0;
    right:0;
    height: 10px;
    width:10px;
    
}

#easterEgg:hover{
    cursor:pointer;
    background-color:#923c87;
}

