﻿.rank{
    width: 4%;
}

.name{
    width: 20%;
}

.sex{
    width: 20%;
}

.age{
    width: 20%;
}

.school{
    width: 20%;
}

.measure{
    width: 16%;
}

#pagebody.actionDetail table 
{
    width:720px;
}
#pagebody.actionDetail table .name, #pagebody.actionDetail table .measure 
{
    font-weight:bold;
}

#pagebody .content-form.hasDynatree li
{
    float: none;
    display: list-item;
}
#ownmeetings #ownmeetingsaction a img, #detailsTopActions a img
{
    width:20px;
    vertical-align: middle;
}
#ownmeetings #ownmeetingsaction span, #detailsTopActions span
{
    margin-left:5px;
}
#pagebody.controllerMeeting.actionIndex tr.tablebottomactions,
#pagebody.controllerTeam.actionDashboard tr.tablebottomactions
{
    background-color:#FFFFFF;
}

#pagebody.controllerTeam.actionDashboard #ownmeetings table { width:100%; }
#pagebody.controllerTeam.actionDashboard table td:first-child { width:102px; }
#pagebody.controllerTeam.actionDashboard table td:last-child { width:127px; }

#meetingInfo{
    width: 500px; 
    margin: 0 auto 20px auto; 
      
}

#meetingInfo p{
    width: 400px;
    text-align:center;
    margin:0 auto;
    color: #923c87;
    font-size: 15px;
}

#tabs {
    padding: 3px;
    font-family: Raleway, sans-serif;
    font-size: 15px;
    color: #727272;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:none;
    width: 860px;
    height: 99%;
    margin: 0 auto;
}
#tabs ul
{
    width:852px;
    margin: 0 auto;
    background:#923c87;  
    border-radius:0;
    border:0;
    padding:5px 5px 0;
}
#tabcontents  
{
    border: 1px solid #923C87;
    width:860px;
    margin:0 auto;
    color: #727272;
}
#tabcontents div table
{
    color: #727272;
}
#tabcontents a {
color: #923C87;
text-decoration: none;
cursor: pointer;
}

#tabs li  
{
    height:30px;
    vertical-align:middle;
    border-radius:0;  
    padding:10px 5px;
}
#tabs li a
{
    vertical-align:middle;
    color: #923c87;
    padding:0;
}
#tabs li a img 
{
    display: inline-block;
    vertical-align: middle;
}
#tabs li a span 
{
    vertical-align:middle;
    display:inline-block;
}
.tablebottomactions #nextparent { text-align:right; }