﻿.wrappertitel{
    width: 500px;
}

a.active
{
    font-weight: 600;
}

.profileMenu
{
    width: 680px;
    margin: 0 auto 0 auto;
}

.profileMenu img{
    width: 25px;
    height: 20px;
    vertical-align: middle;
    margin: 5px;
}

.profileDiv{
    width: 680px;
    border: 2px solid rgba(146,60,135,.5);
    padding-bottom: 20px;
    margin: 5px auto 0 auto;
}

.headerDiv
{
    border-bottom: 2px solid rgba(146,60,135,.3);
    position: absolute;
    width:680px;
    height: 300px;
}

.headerDiv #teamname{
    font-family: 'Raleway', sans-serif;
    color: #923c87;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 270px;
    left: 250px;
}

#swim{
    background: url(../images/Swimming_wallpapers.jpg) no-repeat 0 0;
    background-size: 680px 265px;
}

#memberbg
{
    background: url(../images/member_profile_bg.jpg) no-repeat 0 0;
    background-size: 680px 265px;
}

#ath{
    background: url(../images/atletiek.jpg) no-repeat 0 0;
    background-size: 680px 265px;
}

#memberfoto2 img{
    width: 180px;
    height: 130px; 
}

#memberfoto1{
    background: url(../images/nssfpurple.png) no-repeat 0 0;
    background-size: 180px 130px;
}

.teamfoto{
    width: 180px;
    height: 130px;
    border: 3px solid white;
    margin-top: 166px;
    margin-left: 50px;
}

#teamfoto1{
    background: url(../images/teamfoto_zat1_2006_2007_2.jpg) no-repeat 0 0;
    background-size: 180px 130px;
}

#teamfoto2 img{
    width: 180px;
    height: 130px;    
}

.memberfoto{
    width: 180px;
    height: 130px;
    border: 3px solid white;
    margin-top: 166px;
    margin-left: 50px;
}

.gender
{
    position: absolute;
    left: 15px;
    bottom: 0;
    height: 25px;
    opacity: .8;
}

#teaminfo{
    width: 560px;
    min-height: 50px;
    margin: 320px auto 0 auto;
    color: #923c87;   
    
}


#teamResultTable{
    width:450px;
    margin: 0 auto;
}

#coachSchool{
    margin: 0 auto;
    width: 350px;
}

.infoTitle{
    font-size: 20px;
    font-weight: bold;    
}

.infovalue{
    font-size: 16px;
    float: right;
}

#rankingTable{
    width: 55%;
    margin: 20px auto 5px auto;
}

#teaminfo p{
    width: 55%;
    margin: 0 auto 20px auto;
    font-size: 12px;
}
#teaminfo table
{
    margin: 0 auto;
}
.tableHeader{
    height:35px;
    background: rgba(146,60,135,.8);
    color: White;
    border-bottom: 2px solid white;
      
}
#student_id{visibility:collapse; opacity:0%;}
#rankingTable td{
    text-align: center;
}
#compareTable { margin-top: -30px; float:right;}
#compareToMe 
{
    padding-left:20px;
    font-family: 'Raleway', sans-serif;
    font-size: 11pt;
    padding-right:20px;
    color: #923c87;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    font-weight:bold;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;    
}
#years {margin-left:-55px; margin-top: 1px;}
#sports {margin-top: 1px;}
.selectFilter select 
{
    padding: 3px;
    margin: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 10pt;
    padding-right:20px;
    -webkit-box-shadow: 0 2px 0 #923c87, 0 -1px #fff inset;
    -moz-box-shadow: 0 2px 0 #923c87, 0 -1px #fff inset;
    box-shadow: 0 2px 0 #923c87, 0 -1px #fff inset;
    background: #f8f8f8;
    color: #923c87;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {



.selectFilter label {position:relative}

    .selectFilter label:after {
        content:'<>';
        font:11px "Consolas", monospace;
        color:#aaa;
        -webkit-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        transform:rotate(90deg);
        right:9px; top:2px;
        padding:0 0 2px;
        border-bottom:1px solid #ddd;
        position:absolute;
        pointer-events:none;
    }

    .selectFilter label:before {
        content:'';
        right:9px; top:0px;
        width:20px; height:20px;
        background:#f8f8f8;
        position:absolute;
        pointer-events:none;
        display:block;
    }
}

#search 
{
    width: 24px;
    height: 24px;    
    vertical-align:middle;
}
#rankingTable tr th{
    border-right: 2px solid white;
}

#teamMembers {
    width: 60%;
}
#teamMembers tr th{
    border-right: 2px solid white;
}

#first{
    width: 50%;
}

.number{
    width: 15%;
}

#profile-form form
{
    width: 500px;
    margin: 0 auto;
}

#profile-form form tr td input
{
    font-family: 'Raleway', sans-serif;
    color: #923c87;
    font-size: 15px;
    height: 25px;
}

.crud_submit input
{
    margin-top: 10px;
color: #923c87;
font-family: 'Raleway', sans-serif;
font-size: 13px;
cursor: pointer;
background-color: White;
border: solid 1px #923c87;
background: white;
background: -webkit-gradient(linear, left top, left bottom, from(white), to(#cdcecf));
background: -moz-linear-gradient(top, white, #cdcecf);
padding: 5px;
}

#buttons
{
    width: 600px;
    height: 50px;
    padding-left: 80px;
}

#profile-form form table{
    width: 500px;
}

#cp{
    text-align: left;
}

#buttons div div{
    width: 100px;
    float: left;
    margin-right: 50px;
}

#cpModel{
    width: 550px;
    margin-left: 200px;    
}

#cpModel p input{
    height: 25px;
    
    margin-top: 20px;
}
#cpModel .number 
{
   width:200px;
}

.crud_row input{
    height: 25px;
    font-size: 15px;
    border-radius: .0em;
}

.field-validation-error
{
    color: Red;
    text-decoration: underline
}
.meeting
{
    width: 20%;
}
.event
{
    width: 20%;
}
.result
{
    width: 20%;
}
