﻿
.header{
    height:35px;
    background: rgba(146,60,135,.8);   
    color:White;
}


#sports{
   width: 120px; 
}

#events{
    width:120px;
}

#rank{
    width: 4%;
    border-left: 2px solid white;
}

.ranking
{
    font-family:   'Raleway', sans-serif;
    text-align:center;
}

#row:nth-child(odd) { background:#F1EFEF; }
#row:nth-child(even) { background:#FFFFFF; }

#name{
    width: 35%;
}

#meeting{
    width: 35%;
}

#measure{
    width: 13%;
}

#points{
    width:10%;
}

#school{
    width:15%;
}

.selectType 
{
    color:White;
}

.filters 
{
    color:Purple;
    text-align:center;    
    font-weight:bold;
}


.selectFilter select 
{
    padding: 3px;
    margin: 5px;
    font-family:  sans-serif;
    font-size: 10pt;
    font-weight:bold;
    padding-right:20px;
    -webkit-box-shadow: 0 2px 0 #923c87, 0 -1px #fff inset;
    -moz-box-shadow: 0 2px 0 #923c87, 0 -1px #fff inset;
    box-shadow: 0 2px 0 #923c87, 0 -1px #fff inset;
    background: #f8f8f8;
    color: #923c87;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
#pagebody.controllerComparison.actionCompare #EventSelect { width:150px; }

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}


.selectFilter label {position:relative}

    .selectFilter label:after,.selectFilter label.delayedFilling:after {
        content:'<>';
        font:11px "Consolas", monospace;
        color:#aaa;
        -webkit-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        transform:rotate(90deg);
        right:9px; top:2px;
        padding:0 0 2px;
        border-bottom:1px solid #ddd;
        position:absolute;
        pointer-events:none;
    }

    .selectFilter label:before,.selectFilter label.delayedFilling:before {
        content:'';
        right:9px; top:0px;
        width:20px; height:20px;
        background:#f8f8f8;
        position:absolute;
        pointer-events:none;
        display:block;
    }
}
#events {
  width:150px;  
}

#country {
   text-indent:-2px;

}

#region {
  text-indent:-2px;
}

.slide-up-boxes { 
	margin: 50px 10px 3px 10px;
}

section 
{
    	width:97%;
    }

.slide-up-boxes a.actualbox { 
	display: block; 
	height: 130px; 
	margin: 0 0 20px 0; 
	background: rgba(215, 215, 215, 0.5); 
	border: 1px solid #ccc; 
	height: 65px; 
	overflow: hidden; 
}
		
.slide-up-boxes h5 { 
	color: #333; 
	text-align: center;
	height: 65px; 
	font: italic 18px/65px Georgia, Serif;    /* Vertically center text by making line height equal to height */
	opacity: 1;
	-webkit-transition: all 0.2s linear; 
	-moz-transition: all 0.2s linear; 
	-o-transition: all 0.2s linear;
}
		
.slide-up-boxes a.actualbox:hover h5 { 
	margin-top: -65px; 
    text-align:center;
	opacity: 0; 
}
		
.slide-up-boxes #slider { 
	position: relative; 
	color: white; 
	height: 45px; 
	padding: 20px; 
	opacity: 0; 
	text-align:center;
	font-size:40px;
	font-family: 'Raleway', sans-serif;
	-webkit-transform: rotate(6deg); 
	-webkit-transition: all 0.4s linear; 
	-moz-transform: rotate(6deg); 
	-moz-transition: all 0.4s linear; 
	-o-transform: rotate(6deg); 
	-o-transition: all 0.4s linear; 
}
.slide-up-boxes a.actualbox:hover #slider { 
	opacity: 1; 
	-webkit-transform: rotate(0); 
	-moz-transform: rotate(0); 
	-o-transform: rotate(0); 
}
.slide-up-boxes #slider { background: #923c87 17px 17px no-repeat;  }


.pager { color:#923c87; cursor:pointer; margin-top: 10px; }
#next { padding-left:7px; }

.compare input
{
  margin-left:25px; 
}

a.profile_link
{
    color: Purple;  
    border: none;
    width: auto;
    height: auto;
    margin: 0px;
    background: transparent;  
}