﻿#regionTable
{
   width: 500px;
   margin: 0 auto;
   border-collapse: collapse;
}

.addlogo{
    width:20px;
    height:20px;
    vertical-align:middle;
}

#regionTable tr{
    height: 25px;
}

#header{
    height:35px;
    background: rgba(146,60,135,.8);   
}

#Name, #Parent_Name{
    height: 24px;
    float: left;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #923c87;
}

#regionTable th{
    text-align:left;
    color: white;
    opacity:.9;
    padding-left:3px;
    height: 30px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

#numberHeader{
    width: 30px;
    border-bottom: 2px solid white;
}

#back{
    margin-left: 200px;
    margin-top: 10px;
}

#back a:hover{
    text-decoration:none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .75);
}

#add1{
    float: left;
   /* width: 200px;*/
    padding-left: 5px;
    margin-left: 100px;
}


#add2{
    float:right;
    /*width:200px; This fucks up in dutch. Also, you should never give stuff with text directly in it an absolute width.*/
    text-align:right;
    padding-right: 5px;
}

#add{
    width:700px;
    margin: 0 auto 10px auto;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
   
}

#add a:hover{
    text-decoration:none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .75);
}

p span{
     color:#923c87;
     font-weight:normal;
}

#newOne{
    float:left; 
    display: block;
    margin-top: 3px;
    font-weight: bold;
}

#newOne a:hover{
    text-decoration:none;
    color:#766977;
}

#newMore{
    float:right;
    display: block;
    margin-top: 3px;
}

.last{
    text-align: center;
}

.last a:hover{
    text-decoration:none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .75);       
}     

.number {
    background: rgba(146,60,135,.8);
    color: white;
    opacity: .9;
    text-align:center;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    width: 10%;
}

.infocell{
    color: rgba(115,115,115, .8);
    padding-left: 3px;
    width: 40%;
}

.infocell a:hover{
    text-decoration:none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .75);
}

#addRegion
{
    width: 350px;    
    padding-left: 10px;
    color:#923c87;
    padding-bottom: 5px;
    margin:15px auto 0 auto;
}

#addRegion legend{
    margin-left: 20px;
}


.editor-field{
    margin-top: 10px;        
}


.continent{
    background: rgba(146,60,135,.5);
}

.continent td{
    color: White;
    opacity: 1;
}

.continent td a{
    color: White;
}

.continent td a:hover{
    color: #923c87;
}


#addRegion p{
    margin-top:10px;
}

#addRegion p input{
    color: #923c87;
    width: 60px;
    height: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    cursor: pointer;
    background-color: White;
    border-radius: .5em;
	border: solid 1px #923c87;
	background: white;
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#cdcecf));
	background: -moz-linear-gradient(top,  white,  #cdcecf);
}

#addRegion p input:hover{
    background: white;
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#bab6b9));
	background: -moz-linear-gradient(top,  white,  #cdcfff);
}

#chooseFile{
    width: 500px;
    margin-left: 100px;
}

#ok:hover{
    background: white;
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#bab6b9));
	background: -moz-linear-gradient(top,  white,  #cdcfff);    
}


#ok{
    width: 50px;
    height: 25px;
    color: #923c87;    
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    cursor: pointer;
    background-color: White;
    border-radius: .5em;
	border: solid 1px #923c87;
	background: white;
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#cdcecf));
	background: -moz-linear-gradient(top,  white,  #cdcecf);   
}

.editor-field input{
    width: 320px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #923c87;
}

.editor-field select{
    width: 325px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #923c87;
}

#btl{
    margin-left: 275px;
}

#btl a:hover{
    color: #403841;
}


#content-form form table tbody tr td input,select{
    color: #923c87;
    font-family: 'Raleway', sans-serif;   
}



