﻿#pagebody.actionCreate table 
{
    width:100%;
}
#pagebody.actionCreate tr.tablebottomactions 
{
    background-color:#FFFFFF;
}
table#resultCreateCrudTable select { width:164px; }
table#resultCreateCrudTable input[type="text"] { width:135px; }