﻿.controllerSchool.actionDetails .return img 
{
    margin:0;
}
.controllerSchool.actionDetails table 
{
    width: 300px;
    margin-top: 20px;
    float: left;
    margin-left: 150px;
}
.controllerSchool.actionDetails #teams 
{
    margin-left:0;
    margin-top: 25px;
}

.crud_row input{
    height: 25px;
    font-size: 15px;
}