#schoolCupNav
{
    width: 95px;
    height: 620px;
    float:left;
    background: rgba(146,60,135,.9);
    padding-top: 10px;
}

#schoolCupNav a{
    display: block;
    margin-top: 10px;
}

#schoolCupNav a img{
    display: block;
    width: 60px;
    margin: 0 auto;
    padding-top: 5px;
    transition: opacity 0.05s linear;
}

#schoolCupNav a span{
    display: block;
    text-align: center;
    color: #fff;
    transition: opacity 0.05s linear;
}

#schoolCupNav a:hover span{
    text-decoration: none;
    opacity: .7;
    text-shadow: none;
}

#schoolCupNav a:hover img{
    opacity: .7;
}