﻿#SCcontent
{
    height: 620px;
    width: 790px;
    float: right;
    padding-top: 20px;
    margin-right: 10px;
}

#SCinfo
{
    float: left;
    width: 350px;
    margin-left: 50px;
}

#slide-bar
{
    display: none;
}

#infoBox
{
    border: 2px solid rgba(114,114,114,.2);
    border-radius: 5px;
    padding: 10px;
    height: 120px;
}

#edit
{
    margin-top: 10px;
}

#edit a{
    text-decoration:none;
}

.infoTitle
{
    font-weight: bold;
    color: #923c87;
}

#myteams
{
    overflow-y: scroll;
}

#myteams div
{
    width: 235px;
    height: 25px;
    padding-left: 5px;
    color: #923c87;
}

#myteams div a img{
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

#myteams div a img:hover{
    opacity: .5;
}

.fright{
    float: right;
}

.normal
{
    background-color: #f1efef;
}

#SCresults
{
    width: 684px;
    min-height: 200px;
    float: left;
    margin-top: 25px;
    margin-left: 50px;
    border: 2px solid rgba(114,114,114,.2);
    border-radius: 5px;
}

#rankingTable
{
    width: 55%;
    margin: 20px auto 5px auto;
}

.tableHeader
{
    height: 35px;
    background: rgba(146,60,135,.8);
    color: White;
    border-bottom: 2px solid white;
}

#rankingTable td
{
    text-align: center;
}

#rankingTable tr th
{
    border-right: 2px solid white;
}

#SCresults p
{
    font-size: 15px;
    color: #923c87;
    width: 200px;
    margin: 20px auto;
    text-align:center;
}

#myResultTable
{
    width: 700px;
    margin: 0 auto;
    border-collapse: collapse;
}

#header
{
    height: 35px;
    background: rgba(146,60,135,.8);
}

#header th
{
    color: white;
}


#myResultTable tr td
{
    text-align: center;
}


#add
{
    width: 500px;
    margin: 0 auto 5px auto;
    padding-left: 10px;
}

#searchcontrols
{
    text-align: left;
}
#searchresultstAthM1 
{
    float:left;
    width:240px;
}
#studentPicker
{
    margin-top: 40px;
}
.clear
{
    clear:both;
}
#slide-bar
{
    width: 89px;
    margin-right: 0;
}

#slide-info
{
    width: 89px;
}

#mscteams a img
{
    width: 60px;
    margin-bottom: 0px;
    margin-left: 15px;
}

#mscteams a img:hover
{
    opacity: .5;
}

#addtoteams a img
{
    width: 60px;
    margin-bottom: 0px;
    margin-left: 15px;
}

#addtoteams a img:hover
{
    opacity: .5;
}

#tab_students .pager:hover
{
    color: #923c87;
}
.add_me
{
    position: absolute;
    top: 400px;
    left: 550px;
}
.filters 
{
    color:Purple;
    text-align:center;    
    font-weight:bold;
}

.selectFilter select 
{
    padding: 3px;
    margin: 5px;
    font-family:  sans-serif;
    font-size: 10pt;
    font-weight:bold;
    padding-right:20px;
    -webkit-box-shadow: 0 2px 0 #923c87, 0 -1px #fff inset;
    -moz-box-shadow: 0 2px 0 #923c87, 0 -1px #fff inset;
    box-shadow: 0 2px 0 #923c87, 0 -1px #fff inset;
    background: #f8f8f8;
    color: #923c87;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}


.selectFilter label {position:relative}

    .selectFilter label:after {
        content:'<>';
        font:11px "Consolas", monospace;
        color:#aaa;
        -webkit-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        transform:rotate(90deg);
        right:9px; top:2px;
        padding:0 0 2px;
        border-bottom:1px solid #ddd;
        position:absolute;
        pointer-events:none;
    }

    .selectFilter label:before {
        content:'';
        right:9px; top:0px;
        width:20px; height:20px;
        background:#f8f8f8;
        position:absolute;
        pointer-events:none;
        display:block;
    }
}
.pager { color:#923c87; cursor:pointer; margin-top: 10px; }
#next { padding-left:7px; }
p
{
    color: #923c87;
}

#addteam{
    float: right;
    margin-right: 50px;
}

#addteam:hover{
    opacity: .7;
}

#profiletable table{
    width: 500px;
}

#profiletable table tr.number{
    width: 50px;
}

#editLink img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

#searchquery{
    margin-top: 10px;
}