﻿#row td { font-family: sans-serif; }
#row:nth-child(odd) { background:#F1EFEF; }
#row:nth-child(even) { background:#FFFFFF; }
#nodata { text-align:center; margin:0 auto; }
#searchTitle { text-align:center; margin:0 auto; }
.pager { color:#923c87; cursor:pointer; margin-top: 10px; }

#tabs {
    padding: 3px;
    font-family:  sans-serif;
    font-size: 10pt;
    margin: 0 auto;
    font-weight:bold;
    color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:none;
    cursor: pointer;
    width: 99%;
    height: 99%;
    margin: 0 auto;
}

#tabs .ui-state-default  
{
    color:#923c87;     
}

#tabs ul
{
    width:600px;
    margin: 0 auto;
    background:#923c87;  
    border-radius:0;

}

#tabs li  
{
    border-radius:0;  
}
#tabs li a
{
    color: #923c87;
}


#tabs  table
{
  width: 400px;  
  margin: 0 auto;
}


#next
{
  float:right;
}

#search_query { visibility:hidden; opacity:0; display:none; }

#search_pages { visibility:hidden; opacity:0; display:none; }


