* { margin: 0; padding: 0; outline: 0; }

body, html { height: 100%; }

body {
    font-size: 15px;
    line-height: 22px;
    font-family: 'Raleway', sans-serif;
    color: #727272;
    background: url(../images/body-pattern.png) repeat 0 0;
    min-width: 100%;
}

h1,h3 {
    color:#923c87; 
    margin-bottom: 20px;
}

.center{
    text-align: center;
}

#welcome{
    float: right;
    font-size: 70%;
    color:#923c87;
    margin-top: 5px;
    margin-right: 20px;
    font-style:italic;
}

#wrapper{ margin: 0 auto;
              
}

.italic{
    font-style: italic;
}

a { color: #923C87; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

article, aside, details, footer, header, menu, nav, section { display: block; float:right; margin-top:9px;}
input, textarea, select {color: #923c87; font-family: 'Raleway', sans-serif;  height: 25px; }
textarea { overflow: auto;}

#search_box
{
    opacity:0.5;
    background-color: rgba(255,255,255,1);       
}

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

.shell {box-shadow: 0px 0px 0px 2px rgba(146,60,135,0.2); background-color:white; position: relative; margin: 0 auto; border-top:1px solid #923c87;border-left:1px solid #923c87;border-right:1px solid #923c87;border-bottom:1px dotted #923c87; width: 900px;}
#pagebody {
    padding-bottom:5px;
    height:100%;
    min-height:600px;
}
#pagebody:after {
    content:" ";
    display:block;
    clear:both;
    
}


#top{margin: 0 auto; position:relative;background:white; width:902px;}
#top-bar{height:30px; border-bottom: 1px dotted #923c87; width:100%}
.bar-content{width:900px; position:relative; margin:0 auto; background-color:#923c87;}
#info{margin-left:20px;}
#info a{font-size: 13px; margin-top: 3px; color:#923c87; vertical-align: middle; width: 70px; float:left; text-shadow: 0 1px 1px rgba(0, 0, 0, .75);opacity:.9;}
#info a:hover{color: #403841; text-decoration: none; text-shadow:0 2px 2px rgba(0, 0, 0, .75);}

#bottom-bar{height:75px; background-color: #923c87;opacity:.9; border-bottom: 1px solid white;}

.search { width: 210px; float:right; margin-top:2px; margin-right: 10px;}
.search input.field { float:left; width: 166px; padding:0 8px; height: 24px; line-height: 24px;  border: 1px solid #d3d3d3; font-size: 11px; color:#923c87; background: #ededed; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; }
.search input.search-btn { float:right;  font-size: 0; line-height: 0; text-indent: -4000px; cursor: pointer; width: 20px; height: 26px; border: 0; background: url(../images/search-ico.png) no-repeat 0 0; }

.ui-tooltip{
    border: 1px solid green;
    font-size: 12px;
    font-family:  'Raleway', sans-serif;
}


nav{position:relative;
}

#navigation ul{background-color:transparent;
margin: 0 auto;
height:35px;
vertical-align:middle;
}

#navigation  ul, li{
  list-style:none;
  display:inline;
  float:left;
  margin:10px 15px 0 15px;
}

#navigation ul li a{display:block;
text-decoration:none;
color:white;  
text-shadow: 0 1px 1px rgba(255, 255, 255, .45);
opacity:.9;
font-size: 16px;
}

#navigation ul li a:hover{
text-decoration: none; 
text-shadow:0 2px 2px rgba(255, 255, 255, .45);
color: #000;
opacity:.5;
}

#navigation ul li a:active{
color:#923c87;
opacity:1;
}

#navigation ul li:first-child { padding-left: 0; }
#logotitel{height:70px;
margin-right:20px;
margin-top: 5px;}

#submenusc{position: absolute;
z-index: 99999999999;
top: 67px;
left: 450px;
background-color:white;
border-bottom:3px solid #923c87;
border-radius:15px;
width: 420px;
height: 150px;
display:none;
}

#submenusc ul{width: 200px;
margin-top: 10px;
}

#submenusc ul li a{
color:#923c87;  
text-shadow: 0 1px 1px rgba(0, 0, 0, .75);
opacity:.9;
}

#submenusc ul li a:hover{
text-decoration: none; 
text-shadow:1px 2px 2px rgba(0, 0, 0, .75);
color: #766977;
}

.wrappertitel 
{
margin: 0 auto 0 auto; 
padding: 10px 0 15px 0;
color:#923c87; 
/*width:400px;*/
min-height: 30px;
text-align: center;
}


#footer {margin: 0 auto; /*height:30px;*/ width:902px; background-color: white; padding-bottom:5px;}
.footer-nav ul {width: 900px; position:relative; margin:0 auto; list-style:none; list-style-position: outside; vertical-align: middle;}
.footer-nav ul li { padding:0 10px; font-size: 10px; line-height: 10px; }
.footer-nav ul li a { color: #923c87; }
.footer-nav ul li.last { border-right: 0; }

/* JS */

/* Use with gender icon */
.gender, img.sport-image
{
    height: 25px;
    opacity: .8;
}

#dashboard_div
{
    margin: 0 auto 0 auto;
    width:900px;
}

.titel {
    margin: 15px 0px 0px 10px;
    text-align: center;
 }
 
.center{
    text-align: center;
}

.middle
{
    margin: 0 auto;
}

table{
   width: auto;
   /* margin: 0 auto; */
   margin: 0 auto 25px auto;
   border-collapse: collapse;
   overflow:scroll;
}
table.alternatingRows tr:nth-child(odd)
{
    background: #FFFFFF;
}
table.alternatingRows tr:nth-child(even)
{
    background: #F1EFEF;
}

.addlogo{
    width:20px;
    height:20px;
    vertical-align:middle;
}

table tr{
    height: 25px;
}

table td, table th{
    padding: 3px 8px;
}

tr.header{
    height:35px;
    background: rgba(146,60,135,.8) !important;   
}

tr.header th {
    text-align:center;
    color: white;
    opacity:.9;
    padding-left:3px;
    height: 30px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

td.number 
{
    background: rgba(146,60,135,.8);
    color: white;
    text-align:center;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    width: 10%;
}

td.purple
{
    background: rgba(146,60,135,.8);
    color: white;
    text-align:center;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

td.numberHeader{
    width: auto;
    border-bottom: 2px solid white;
}
#pagebody table.alternatingRows.pagertable tr.tablebottomactions { background:#FFFFFF; }
#pagebody table.pagertable tr.tablebottomactions #nextparent { text-align:right; }
#pagebody table.pagertable tr.tablebottomactions img, p.alternatepager img { vertical-align:middle; }
#pagebody table.pagertable tr.tablebottomactions #next span { padding-right:5px; }
#pagebody table.pagertable tr.tablebottomactions #previous span, p.alternatepager img { padding-left:5px; }

p span{
     color:#923c87;
     font-weight:normal;
} 

a:hover{
    text-decoration:none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .75);
}

#addbutton 
{
    display: block;
    width: 200px;
    margin: 5px 0px 5px 10px;
}

fieldset
{  
    padding-left: 10px;
    color:#923c87;
    padding-bottom: 5px;
}

fieldset legend
{
    margin-left: 20px;
}

div.content-form
{
    width: 450px;
    margin: 15px auto 0 auto;
}

div.content-form input[type="submit"], div.content-form input[type="button"]
{
    margin-top: 10px;
    color: #923c87;
    /*width: 60px;
    height: 25px;*/
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    cursor: pointer;
    background-color: White;
	border: solid 1px #923c87;
	background: white;
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#cdcecf));
	background: -moz-linear-gradient(top,  white,  #cdcecf);
	padding:5px;
}

div.content-form input[type="submit"]:hover, div.content-form input[type="button"]:hover
{
    background: white;
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#bab6b9));
	background: -moz-linear-gradient(top,  white,  #cdcfff);
}

.return 
{
    padding-right:60px;    
}

.return img
{
   margin-top:17px;
   vertical-align:-10%;
 }
 
 
tr.crud_row input
{
  width:350px;  
}

input.text-box{
      height:25px;
    font-size:15px;
}

tr.crud_row select
{
  width:355px;  
}

td.crud_submit
{
  float:right; 
}


/*
 * Advertisements - Put it in here because it's on every page
 * About the sizes: http://en.wikipedia.org/wiki/Web_banner#Standard_sizes
 */
#footerad /* Standard ad size leaderboard */
{
    width:728px;
    height:90px;
    border: 2px solid rgba(114,114,114,.2);
    margin:5px auto;
}

/*
 * Languages
 */
#languagepicker 
{
    float:right;
    width:150px;
    height:18px;
    margin-right:0px;
    padding-right:2px;
}

#languagepicker:hover{
    cursor: pointer;
}

#languagepicker #currentlanguage
{
    border: 2px solid rgba(114,114,114,.2);
    width:100px;
    display:block;
    margin-left:20px;
    padding:2px;
}
#languagepicker ul#languagelist 
{
    text-align:left;
    display:none;
    float:none;
    border: 2px solid #923c87;
    z-index:200;
    background:#FFFFFF;
    width:150px;
    position:relative;
}
#languagepicker ul#languagelist li 
{
    float:none;
    display:list-item;
    padding:0;
    margin:5px;
    height:16px;
}
#languagepicker ul#languagelist li a span 
{
    margin-left:20px;
    margin-top:-14px;
    display:block;
}

#currentlanguage img{
    vertical-align: middle;
    margin-right: 5px;
}

#popupoverlay 
{
    z-index:100;
    position:absolute;
    bottom:0;
    right:0;
    top:0;
    left:0;
    display:none;
}

span.isfcolor{
    color: #923c87;
}

#options{
    float:left;
    width: 95px;
    height: 570px;
    background: rgba(146,60,135,.9);
    padding-top: 10px;
    border-right: 3px solid rgba(0,0,0,.2);
    border-bottom: 1px solid #923c87;
}

#options div{
    padding: 0;
    margin-top: 10px;
}

#myresults a img{
    width: 60px;
    margin-bottom: 0px;
    margin-left: 15px;
}

#myresults a img:hover {
    opacity: .5;
}

.MSCoptionSpan{
    color: #fff;  
    width: 86px;
    margin-left: 5px;
    text-align: center;
     
}

.MSCoptionSpan:hover{
    text-decoration: none; 
}

#home a img{
    width: 50px;
    margin-left: 20px;
}

#home a img:hover {
    opacity: .5;
}

#profile a img{
    width: 50px;
    margin-left: 20px;
}

#profile a img:hover {
    opacity: .5;
}

#profile a span{
    margin-left: 12px;
}

#teams{
    width: 320px;
    height: 166px;
    
    margin-left: 40px;
    float: left;
}

.title{
    color: #923c87;
    margin: 0 auto;
    text-align: center;
}

#myteams{
    width: 250px;
    height: 120px;
    margin: 0 auto;
    overflow: auto;
    border: 2px solid rgba(114,114,114,.2);
    border-radius: 5px;
    padding: 10px;
}

p.errormessage { text-align:center; }

/*Graph CSS*/
#graph
{
    width: 800px;
    min-height: 250px;
    margin: 20px 0 0 100px;
    
}
#graphcontrols
{
    float:left;
    width:240px;
}
.chart1
{
    
    position: absolute;
    top:440px;
    left: 300px;
    width:550px;
}

.chart2{
    position: absolute;
    left: 300px;
    top: 200px;
    width:550px;
}

.chart3{
    position: absolute;
    left: 280px;
    top:120px;
    width: 600px;
}
#pagebody.controllerComparison.actionCompareTeam #chart { width:570px; }

    .google-visualization-controls-rangefilter-thumblabel
    {
        color: #923C87;
    }
    .google-visualization-controls-slider-horizontal
    {
        border: 1px solid #923C87;
    }
    .google-visualization-controls-slider-handle
    {
        background-color: #923C87;
    }
    .google-visualization-controls-slider-thumb
    {
        background-color: #923C87;
        border: 1px solid #808080;
    }

/*Search both for the normal search and the search used in the MyResults*/
#row
{
    color: #923c87;
    text-align: center;
}
#row a
{
    color: #923c87;
}
#nodata
{
    color: #923c87;
}

/**** INDEX PAGES ****/
p.actionLinksTop 
{
    width:700px;
    margin: 0 auto 10px auto;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}
p.actionLinksTop span#add1 
{
    background-image:url(/Content/images/addlogo.png);
}
p.actionLinksTop span#add2 
{
    background-image:url(/Content/images/addslogo.png);
    float:right;
}
p.actionLinksTop span
{
    background-size: 22px;
    background-repeat:no-repeat;
    height: 22px;
    display: inline-block;
}
p.actionLinksTop span a
{
    padding-left: 25px;
}
#searchresults
{
    width: 240px;
    float:left;
}
/*#pagebody .content-form.hasDynatree .dynatree-container li
{
    float: none;
    display: list-item;
}*/

#recordForm{
    width: 480px;
    margin: 0 auto;
}

#recordForm input, #recordForm select {
    height: 25px;
    font-size:15px;
}

#recordForm td.crud_submit input{
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 0px;
    width:60px;
    height: 25px;
}

.editRecord{
    width:20px;
    height: 20px;
    vertical-align:middle;
}

#backDiv{
    margin-left:110px;
}

.tableTitleSw{
    color: #923c87;
    font-family: 'Raleway', sans-serif;
}

.tableTitleAth{
    color:#923c87;
    font-family: 'Raleway', sans-serif;
}