﻿.addlogo{
    width:20px;
    height:20px;
    vertical-align:middle;
}

#sportTable
{
   width: 350px;
   margin: 0 auto;
   border-collapse: collapse;
}

.wrappertitel{
    margin-top: 20px;
}

#sportTable tr{
    height: 25px;
}

#header{
    height:35px;
    background: rgba(146,60,135,.8);   
}

.last{
    text-align: center;
}

.last a:hover{
    text-decoration:none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .75);       
}     

#sportTable th{
    text-align:left;
    color: white;
    opacity:.9;
    padding-left:3px;
    height: 30px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

#numberHeader{
    width: 30px;
    border-bottom: 2px solid white;
}

.number {
    background: rgba(146,60,135,.8);
    color: white;
    opacity: .9;
    text-align:center;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    width: 13%;
}

#abbreviation{
    width: 35%;
}

#add1{
    float: left;
    width: 200px;
    padding-left: 5px;
}

#add{
    width:350px;
    margin: 0 auto 10px auto;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
   
}
#addSport
{
    width: 350px;    
    padding-left: 10px;
    color:#923c87;
    padding-bottom: 5px;
    margin:15px auto 0 auto;
}

#addRegion legend{
    margin-left: 20px;
}


.editor-field{
    margin-top: 10px;        
}

.editor-field input{
    width: 320px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #923c87;
}

.editor-field select{
    width: 325px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #923c87;
}

p span{
    font-weight: normal;
}

a:hover{
    text-decoration:none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .75);
}

#btl a{
    margin-left: 275px;
    margin-top: 50px;
}

#btl a:hover{
    color: #403841;
}

#addSport p input
{
    margin-top: 8px;
    margin-bottom: 5px;
    color: #923c87;
    width: 60px;
    height: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    cursor: pointer;
    background-color: White;
    border-radius: .5em;
	border: solid 1px #923c87;
	background: white;
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#cdcecf));
	background: -moz-linear-gradient(top,  white,  #cdcecf);
}

#addSport p input:hover{
    background: white;
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#bab6b9));
	background: -moz-linear-gradient(top,  white,  #cdcfff);
}

#content-form{
    width: 500px;
    margin: 0 auto;
}

.crud_submit input{
    height: 25px;
    width: 60px;
    margin-right: 30px;
    margin-top: 15px;
}

.text-box{
    height: 25px;
    font-size: 15px;
}
