﻿#TDBmessages {
    width: 290px;
    height: 496px;
    float: right;
    margin-right: 20px;
    overflow-y: scroll;
    padding: 5px;
    background-color: #f1efef;
}

#TDBmessagesTitle {
    color: #923c87;
    text-align: center;
}

    #TDBmessagesTitle img {
        float: left;
        width: 20px;
        height: 20px;
        vertical-align: middle;
    }

        #TDBmessagesTitle img:hover {
            cursor: pointer;
        }

    #TDBmessagesTitle p {
        float: right;
        margin-right: 80px;
    }

.topicDiv {
    min-height: 75px;
    width: 270px;
    float: left;
    margin-top: 5px;
    background-color: White;
}

    .topicDiv p {
        width: 250px;
    }

        .topicDiv p img {
            width: 15px;
            height: 15px;
            vertical-align: middle;
            margin-top: 3px;
            float: right;
        }

            .topicDiv p img:hover {
                cursor: hover;
            }

.topic {
    width: 250px;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    color: #923c87;
    font-weight: bold;
}

    .topic img {
        width: 15px;
        height: 15px;
        vertical-align: middle;
        margin-top: 3px;
        float: right;
    }

        .topic img:hover {
            cursor: pointer;
        }

.poster {
    width: 270px;
    padding-left: 5px;
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
    color: #923c87;
}

.date {
    width: 210px;
    margin: 0 auto;
    padding-right: 5px;
    text-align: right;
    text-align: center;
}

h1#DashboardTitel {
    width: 810px;
    margin-left: 90px;
    text-align: center;
    height: 40px;
    padding-top: 10px;
}

#options {
    border-radius: 0px;
}

#TDBinfo {
    width: 450px;
    /*height: 30px;*/
    float: left;
    margin-left: 20px;
}

#TBDnews {
    width: 450px;
    height: 450px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    padding-top: 10px;
}

#latestmessage {
    margin-top: 50px;
}

    #latestmessage h3 {
        width: 440px;
        margin: 0 auto;
        text-align: center;
        color: Red;
    }

    #latestmessage div {
        width: 400px;
        height: 100px;
        margin: 10px auto 0 auto;
        padding: 5px;
    }

#TBDnews table {
    width: 300px;
}

#TBDnews.exp{
    width: 200px;
    margin: 0 auto;
    font-size: 15px;
    padding-left: 10px;
}

.roundedBorder {
    border: 2px solid rgba(114,114,114,.2);
    border-radius: 5px;
}

.derp {
    width: 430px;
    margin: 0 auto;
    text-align: center;
}

span.underline {
    text-decoration: underline;
}

#messages {
    width: 700px;
    height: 550px;
    margin: 0 auto;
    padding: 10px;
}

#topicList {
    width: 290px;
    height: 550px;
    float: left;
    margin-right: 20px;
    overflow-y: scroll;
    padding: 5px;
    background-color: #f1efef;
}

    #topicList div {
        height: 75px;
        width: 270px;
        float: left;
        margin-top: 5px;
        background-color: White;
    }

#messagesList {
    width: 360px;
    height: 346px;
    float: right;
    padding: 5px;
    background-color: #f1efef;
    overflow-y: scroll;
}

    #messagesList div {
        min-height: 80px;
        min-width: 340px;
        float: left;
        margin-top: 5px;
    }

.message {
    width: 330px;
    margin: 0 auto;
    min-height: 50px;
    border-bottom: 1px solid rgba(255,255,255,.2);
}

.posted {
    width: 330px;
    margin: 0 auto;
    height: 20px;
    text-align: center;
    font-size: 10px;
}

#initialMessage {
    background-color: #923c87;
    opacity: .7;
    color: White;
}

.otherMessage {
    background-color: White;
}

#newMessage {
    width: 370px;
    height: 194px;
    margin-top: 6px;
    float: right;
}

    #newMessage textarea {
        resize: none;
        padding: 5px 5px 5px 5px;
        margin: 0 auto;
    }

    #newMessage form {
        width: 360px;
        height: 174px;
        margin: 0 auto;
        padding-top: 5px;
    }

#Content {
    width: 350px;
    height: 140px;
    border: 2px solid rgba(114,114,114,.2);
    color: #923c87;
    opacity: .7;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

#content-form td input {
    padding: 5px;
}

#content-form td textarea {
    padding: 5px;
}

#newMessage form input {
    color: #923c87;
    width: 60px;
    height: 25px;
    float: right;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    cursor: pointer;
    background-color: White;
    border-radius: .5em;
    border: solid 1px #923c87;
    background: white;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#cdcecf));
    background: -moz-linear-gradient(top, white, #cdcecf);
}

#content-form {
    width: 800px;
    margin: 0 auto;
}

    #content-form form {
        width: 500px;
        margin: 0 auto;
    }

        #content-form form table {
            width: 400px;
            margin: 0 auto;
        }

.text-box {
    border: 2px solid rgba(114,114,114,.2);
    height: 25px;
    color: #923c87;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

#content-form textarea {
    resize: none;
}

#back {
    width: 424px;
    margin: 0 auto;
}

.create td input {
    margin-top: 10px;
    color: #923c87;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    cursor: pointer;
    background-color: White;
    border: solid 1px #923c87;
    background: white;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#cdcecf));
    background: -moz-linear-gradient(top, white, #cdcecf);
    padding: 5px;
}

#back {
    width: 700px;
    margin: 5px auto;
    text-align: right;
}

#back {
    padding-top: 15px;
}

input.check-box {
    float: left;
}

#ta textarea {
    resize: none;
    width: 300px;
    height: 200px;
}

#buttons {
    width: 600px;
    height: 30px;
    padding-left: 80px;
    margin-left: 200px;
}

    #buttons div div {
        width: 100px;
        float: left;
        margin-right: 50px;
    }

#profile-form form table {
    width: 500px;
}

.crud_submit {
    margin-top: 20px;
}

    .crud_submit input {
        width: 50px;
        height: 23px;
    }

/* SIDEBAR */
#addstudenttoteam a img {
    width: 50px;
    height: 50px;
    /* Well, we should actually just resize the image, but there is no uniform size, so I'll just leave it as-is */
}

#addstudenttoteam {
    text-align: center;
}
/*AddTeamMembership*/
#pagebody.controllerTeam.actionAddTeamMembership #add1 {
    background: url(/Content/images/addlogo.png) no-repeat;
    background-size: 20px;
}

    #pagebody.controllerTeam.actionAddTeamMembership #add1 a {
        padding-left: 25px;
    }

#pagebody.controllerTeam.actionAddTeamMembership .number {
    opacity: .9;
}

#pagebody.controllerTeam.actionAddTeamMembership #back {
    width: auto;
    margin: auto auto;
    text-align: left;
}

#pagebody.controllerTeam.actionAddTeamMembership #add, #pagebody.controllerTeam.actionAddTeamMembership #back {
    width: 700px;
    margin: 0 auto 10px auto;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}

#pagebody.controllerTeam.actionAddTeamMembership table th {
    text-align: left;
    color: white;
    opacity: .9;
    padding-left: 3px;
    height: 30px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    background: rgba(146,60,135,1);
}

#pagebody.controllerTeam.actionAddTeamMembership td.number a,
#pagebody.controllerTeam.actionAddTeamMembership tr.number a:hover,
#pagebody.controllerTeam.actionAddTeamMembership td.number a:visited,
#pagebody.controllerTeam.actionAddTeamMembership td.number a:focus {
    color: White;
    text-decoration: none;
}

#back p {
    text-align: center;
    width: 710px;
    margin-left: 20px;
}

#add1 {
    width: 190px;
    margin: 0 auto;
}

#genderSelect select, #sportSelect select {
    height: 25px;
    width: 120px;
}

#plain{
    font-size:15px;
    width: 300px;
    text-align:center;
    margin:0 auto;
}
