﻿/*
    Deze file heet vervanging.css, en wordt gebruikt voor de reclame-pagina's.
    De browserextensie "Adblocker" blokkeerde echter files met reclame-gerelateerde woorden in de naam.
 */

body
{
}

/******* CU **********/
#pagebody li
{
    float: none;
    display: list-item;
}
tr.crud_row input[type="checkbox"]
{
    width: auto;
    margin-right: 10px;
}
.dynatree-container
{
    height: 150px;
    overflow-y: scroll;
}

input
{
    color: #923c87;
    font-family: 'Raleway' , sans-serif;
}

input
{
    height: 24px;
    float: left;
    font-family: 'Raleway' , sans-serif;
    font-size: 15px;
    color: #923c87;
}
.crud_row p
{
    height: 25px;
}

.advertisementEdit.content-form
{
    width: 810px;
}
.advertisementEdit.content-form tr.crud_row input
{
    width: 725px;
}
.advertisementEdit.content-form tr.crud_row input[type="checkbox"]
{
    width: auto;
}

/*****INDEX*****/
#add1
{
    background: url(/Content/images/addlogo.png) no-repeat;
    background-size: 20px;
    margin-left: 40px;
}
#add1 a
{
    padding-left: 25px;
    font-weight: normal;
}
.number
{
    opacity: .9;
}
#add
{
    width: 700px;
    margin: 0 auto 10px auto;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}
.head
{
    text-align: left;
    color: white;
    opacity: .9;
    padding-left: 3px;
    height: 30px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    background: rgba(146,60,135,1);
}
td.number a, tr.number a:hover, td.number a:visited, td.number a:focus
{
    color: White;
    text-decoration: none;
}
td.companynamecell { max-width:200px; }
td.last img { width:20px; height:20px; }

/********** DETAILS **********/
#detailsScreen
{
    margin: 0 90px;
    padding-top: 20px;
}

#detailsScreen table
{
    width: 100%;
}

.title
{
    color: #923c87;
    margin: 0 auto;
    text-align: center;
}

.adDetailsBox
{
    border: 2px solid rgba(114,114,114,.2);
    border-radius: 5px;
    padding: 10px;
    min-height: 120px;
}
.adDetailsBox p.genderline { height:25px; }
.adDetailsBox p.genderline img { vertical-align:middle; }

.infoTitle
{
    font-weight: bold;
    color: #923c87;
}

#adInfo
{
    width: 500px;
    float: left;
}
#adInfo #edit
{
    margin-top: 10px;
}
#adInfo #edit img { height:20px; width:20px; vertical-align:middle; }
#adInfo #edit span { padding-left:5px; }
#adInfo #edit a
{
    text-decoration: underline;
}

#statistics
{
    padding-top: 20px;
}
#statistics #rankingTable td
{
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}
/*#statistics #rankingTable tr:nth-child(odd)
{
    background: #FFFFFF;
}
#statistics #rankingTable tr:nth-child(even)
{
    background: #F1EFEF;
}*/
#statistics td
{
    text-align:center;
}

#clickThrough
{
    width: 200px;
    float: right;
}
#clickThrough .adDetailsBox
{
    vertical-align: middle;
    text-align: center;
}
#clickThrough .adDetailsBox #ctr
{
    font-size: 48px;
    margin: 10px 0;
    display: inline-block;
}

.clearfix:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

