﻿@model TeamOPSchoolCup.Domain.D﻿TO.StudentComparison
@using TeamOPSchoolCup.Domain.POCO;
@using TeamOPSchoolCup.Domain.POCO.Members;
@using TeamOPSchoolCup.Domain.DTO;
@using TeamOPSchoolCup.Domain.Services;
@using TeamOPSchoolCup.Domain.Resources;
@{
    ViewBag.Title = RankingStrings.Compare;
}
@section ranking {
<link rel="Stylesheet" href="@Url.Content("~/Content/css/Ranking.css")" type="text/css" />
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load('visualization', '1.1', { packages: ['controls', 'corechart'] });
</script>
<script src="@Url.Content("~/Scripts/Graph.js")" type="text/javascript"></script>
<script type="text/javascript">
 
   var scData=@Html.Raw(ViewBag.SCJson);
   $(document).ready(function()
   {
   $("#EventSelect").change(
        function(){
            drawGraph(scData,$('#EventSelect').children(":selected").attr("value"));
        });
    function setEventPicker(data,eventName)
        {
            console.log(data);
            $("#EventSelect").empty();
            var select = document.getElementById("EventSelect");
            
            for(var i = 0; i < data.ComparisonLines.length; i++){
                var opt = data.ComparisonLines[i];
                var el = document.createElement("option");
                el.text = opt.EventName;
                el.value = opt.EventName;
                if(eventName == opt.EventName){
                el.selected = "selected";
                }
                select.appendChild(el);
            }
            $("#eventSelectLabel").addClass("delayedFilling");
        }
        
        function drawGraph(data, eventName){
            
            setEventPicker(data, eventName);
            drawMyResultsGraph(data, (eventName == null? data.ComparisonLines[0].EventName: eventName));
        }
        google.setOnLoadCallback(function () { drawGraph(scData, null); });
    });
   
</script>
}

<h1 class="wrappertitel">@ViewBag.Title</h1>
@if (Model.ComparisonLines.Count > 0)
{
<table>
    <tr class="header"> 
    
        <th>@Model.Students[0].Name
        </th>
        <!-- Beste Tijd/afstand (student 1) -->
        <th>@RankingStrings.Rank</th>
        <!-- Stand in ranking (student 1) -->
        <th>@RankingStrings.Event</th>
        <!-- Schoolcup event -->
        <th>@RankingStrings.Rank</th>
        <!-- Stand in ranking (student 2) -->
        <th>@Model.Students[1].Name
        </th>
        <!-- Beste Tijd/afstand (student 2) -->
    </tr>
    @foreach (var cl in Model.ComparisonLines)
    {
        <tr>
            <td>@cl.ResultRank[0].Result.ResultScore
            </td>
            <td>@cl.ResultRank[0].Rank
            </td>
            <td>@cl.EventName
            </td>
            <td>@cl.ResultRank[1].Rank
            </td>
            <td>@cl.ResultRank[1].Result.ResultScore
            </td>
        </tr>
    }
</table>
<div id="graph">
    <div id="graphcontrols">
        <div id="EventPicker">
        <p>@RankingStrings.Event</p>
            <div class="selectFilter"><label id="eventSelectLabel"><select id="EventSelect">
            </select></label></div>
        </div>
    </div>
    <div id="chart" class="chart2">
    </div>
</div>
}
else
{
    <p class="center">@RankingStrings.StudentCompare_NoData</p>
}
<div class="clear">
</div>
