﻿@model TeamOPSchoolCup.Domain.DTO.TeamComparison
@using TeamOPSchoolCup.Domain.POCO;
@using TeamOPSchoolCup.Domain.POCO.Members;
@using TeamOPSchoolCup.Domain.Resources;
@using TeamOPSchoolCup.Domain.Resources.GraphStrings;
@{
    ViewBag.Title = "Compare";
}

<script type="text/javascript" src="@Url.Content("~/Scripts/Graph.js")"></script>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
    var tcData=@Html.Raw(ViewBag.TCJson);
    var pointEvents=@Html.Raw(ViewBag.PointEvents);
    var teamResultEvents=@Html.Raw(ViewBag.TeamResultEvents);
    var studentsInTeamsWithEvents=@Html.Raw(ViewBag.StudentsInTeamsWithEvents);
    var language = $('body').attr('data-language');
    google.load('visualization', '1', { packages: ['corechart'] });

    function drawStudentResultEventGraph(memberIds,eventName) {
        $.ajax({
            type: 'GET',
            url: '/' + language + '/SchoolCup/GetGraphData?memberIds='+ memberIds.join().toString(),
            success: function (data) {
                if(data == ""){ $("#chart").empty();$("#chart").append("There is no data for the graph"); return; }
                //setEventPicker(data,eventName);
                drawMyResultsGraph(data, (eventName == null? data.ComparisonLines[0].EventName: eventName));
            },
            error: function (errorData,textStatus,errorThrown) { console.log("error: "+textStatus+" - "+errorThrown); }
        });
    }

    google.setOnLoadCallback(function() {
        var resultsGraphTarget={divId:'trh_graph',width:800,height:400};
        var canDrawPointsGraph=drawPointsGraph(pointEvents,{divId:'pointsHistory',width:800,height:400});
        if (!canDrawPointsGraph) { $("#pointsHistory").empty();$("#pointsHistory").append("@GraphStrings.nodata"); }
        var canDrawTeamResultGraph=drawTeamResultsGraph(tcData.ComparisonLines[0].EventName,teamResultEvents,resultsGraphTarget);
        if (!canDrawTeamResultGraph) { $("#trh_graph").empty();$("#trh_graph").append("@GraphStrings.nodata"); }
        $(document).ready(function(){
            var tab = '#tab_points';

            $('#tabs').tabs({
                activate: function (event, ui) {
                    var active = $("#tabs").tabs("option", "active");
                    determineTab(active);
                }
            });

            function determineTab(active) {
                nextPage = 0;
                if (active == 0) {
                    tab = '#tab_points';
                } else if (active == 1) {
                    tab = '#tab_teamresults';
                } else if (active == 2) {
                    tab = '#tab_studentresults';
                }
            }


            $("#the_EventSelect").change(function(){
                var canDrawGraph=drawTeamResultsGraph($("#the_EventSelect").val(),teamResultEvents,resultsGraphTarget);
                if (!canDrawGraph) { $("#the_EventSelect").empty();$("#the_EventSelect").append("@GraphStrings.nodata"); }
            });

            var srh_students=[];
            var srh_eventName=$("#srh_EventSelect").val();
            function getSrhStudentsChecked() {
                srh_students=[];
                $(".srh_studentcheck").each(function() { 
                    if ($(this).prop("checked") && !$(this).prop("disabled")) {
                        srh_students.push($(this).data("studentid")); 
                    }
                });
            }
            function resetSrhStudentCheckboxes() {
                $(".srh_studentcheck").each(function() {
                    var studentNodes=studentsInTeamsWithEvents[$(this).attr("data-teamIndex")];
                    for (var i=0; i<studentNodes.Students.length; i++) {
                        if ($(this).data("studentid")==studentNodes.Students[i].Id) {
                            $(this).attr("disabled","disabled");
                            if (studentNodes.Students[i].ParticipatingEvents[srh_eventName]===true) {
                                $(this).removeAttr("disabled");
                            }
                        }
                    }
                });
            }
            getSrhStudentsChecked();
            drawStudentResultEventGraph(srh_students,srh_eventName);
            
            $(".srh_studentcheck").click(function() {
                getSrhStudentsChecked();
                drawStudentResultEventGraph(srh_students,srh_eventName);
            });
            $("#srh_EventSelect").change(function(){
                srh_eventName=$("#srh_EventSelect").val();
                resetSrhStudentCheckboxes();
                getSrhStudentsChecked();
                drawStudentResultEventGraph(srh_students,srh_eventName);
            });
            $("#srh_quickteamselect a").click(function(e) {
                e.stopPropagation();
                var teamId=$(this).data("teamid");
                switch ($(this).data("status")) {
                    case "checked":
                        $(".srh_studentcheck[data-teamid='"+teamId+"']").removeAttr("checked");
                        $(this).data("status","unchecked").attr("title","Select "+$(this).data("team")).text("Select "+$(this).data("team"));
                        break;
                    case "unchecked":
                        $(".srh_studentcheck[data-teamid='"+teamId+"']").attr("checked","checked").prop("checked","checked");
                        $(this).data("status","checked").attr("title","Deselect "+$(this).data("team")).text("Deselect "+$(this).data("team"));
                        break;
                }
                getSrhStudentsChecked();
                drawStudentResultEventGraph(srh_students,srh_eventName);
                return false; //To stop the original events
            });
        });
    });
</script>
<style>
    .google-visualization-controls-rangefilter-thumblabel
    {
        color: #923C87;
    }
    .google-visualization-controls-slider-horizontal
    {
        border: 1px solid #923C87;
    }
    .google-visualization-controls-slider-handle
    {
        background-color: #923C87;
    }
    .google-visualization-controls-slider-thumb
    {
        background-color: #923C87;
        border: 1px solid #808080;
    }
#tabs {
    padding: 3px;
    font-family:  sans-serif;
    font-size: 10pt;
    font-weight:bold;
    color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:none;
    cursor: pointer;
    width: 860px;
    height: 99%;
    margin: 0 auto;
}
#tabs ul
{
    width:852px;
    margin: 0 auto;
    background:#923c87;  
    border-radius:0;
    border:0;
    padding:5px 5px 0;
}
#tabcontents  
{
    border: 1px solid #923C87;
    width:860px;
    margin:0 auto;
}

#tabs li  
{
    border-radius:0;  
}
#tabs li a
{
    color: #923c87;
}
#srh_controls { float:left; }
#srh_controls table { margin:10px 0 0 0; }
#tab_studentresults #chart { border: 2px solid #923c87; }
</style>
<h1 class="wrappertitel">@ViewBag.Title</h1>
<table>
    <tr class="header">
        <th>@Model.Team1.Name</th><!-- Beste Tijd/afstand (student 1) -->
        <th>Rank</th><!-- Stand in ranking (student 1) -->
        <th>Event</th><!-- Schoolcup event -->
        <th>Rank</th><!-- Stand in ranking (student 2) -->
        <th>@Model.Team2.Name</th><!-- Beste Tijd/afstand (student 2) -->
    </tr>
    @foreach (var cl in Model.ComparisonLines) {
        <tr>
            <td>@cl.ResultsT1.First().ResultScore</td>
            <td>@cl.RankT1</td>
            <td>@cl.EventName</td>
            <td>@cl.RankT2</td>
            <td>@cl.ResultsT2.First().ResultScore</td>
        </tr>
    }
    <tr>
        <td>@Model.Team1.Points</td>
        <td>@Model.Team1.Rank</td>
        <td>Overall points</td>
        <td>@Model.Team2.Rank</td>
        <td>@Model.Team2.Points</td>
    </tr>
</table>
<div id="tabs">
      <ul>
        <li><a href="#tab_points">Points</a></li>
        <li><a href="#tab_teamresults">Results (Team)</a></li>
        <li><a href="#tab_studentresults">Results (Students)</a></li>
      </ul>
    <div id="tabcontents">
       <div id="tab_points"><div id="pointsHistory" class="graph"></div></div>
        <div id="tab_teamresults">
            <div id="teamResultsHistory" class="graph"><div id="EventPicker">
                <select id="the_EventSelect">
                    @foreach (var cl in Model.ComparisonLines) {<option>@cl.EventName</option>}
                </select>
            </div><div id="trh_graph"></div></div>
        </div>
        <div id="tab_studentresults">
            <div id="studentResultsHistory" class="graph">
                <div id="srh_controls">
                    <select id="srh_EventSelect">@foreach (var cl in Model.ComparisonLines) {<option>@cl.EventName</option>}</select>
                    <div id="srh_quickteamselect">
                        @foreach (var teamNodes in ViewBag.StudentsInTeamsWithEventsData)
                        {
                            <a href="#" title="Deselect @teamNodes.Name" data-teamid="@teamNodes.TeamId" data-status="checked" data-team="@teamNodes.Name">Deselect @teamNodes.Name</a>
                        }
                    </div>
                    <table class="alternatingRows">
                        <tr class="header">
                            <th>&nbsp;</th>
                            <th>Student</th>
                            <th>Team</th>
                        </tr>
                        @{var index=0; }
                        @foreach (var teamNodes in ViewBag.StudentsInTeamsWithEventsData)
                        {
                            
                            foreach (var studentNode in teamNodes.Students)
                            {
                                <tr>
                                    <td><input type="checkbox" class="srh_studentcheck" data-team="@teamNodes.Name" data-teamIndex="@index" data-teamid="@teamNodes.TeamId" data-student="@studentNode.Name" data-studentid="@studentNode.Id" checked="checked"/></td>
                                    <td>@studentNode.Name</td>
                                    <td>@teamNodes.Name</td>
                                </tr>
                            }
                            index++;
                        }
                    </table>
                </div>
                <div id="chart" class="chart3"></div>
                <div class="cl"></div>
            </div>
        </div>
    </div>
</div>