﻿﻿@{
    ViewBag.Title = "Compare Students";
}

<script type="text/javascript" src="http://www.google.com/jsapi"></script>

 <script type="text/javascript">
     google.load('visualization', '1.1', { packages: ['controls'] });
    </script>
<script type="text/javascript">
    function drawVisualization() {
        // Create and populate the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Meetings');
        data.addColumn('number', 'TeamResults');

        data.addRows(@Html.Raw(Json.Encode(ViewBag.ListMeeting)));

        //Creates a Dashboard
        var dashboard = new google.visualization.Dashboard(document.getElementById('dashboard_div'));
        // Create a genre slider, passing some options
        var albumSlider = new google.visualization.ControlWrapper({
            'controlType': 'NumberRangeFilter',
            'containerId': 'filter_div',
            'options': {
                'filterColumnLabel': 'TeamResults'

            }
        });


        // Creates a linechart with some options
        // https://developers.google.com/chart/interactive/docs/gallery/linechart#Configuration_Options
        var lineChart = new google.visualization.ChartWrapper({
            'chartType': 'LineChart',
            'containerId': 'linechart_div',
            'options': {
                'width': 900,
                'height': 300,
                'legend': 'right',
                colors: ['#923C87']
            }
        });

        //Connects a dashboard with the charts
        
        dashboard.bind(albumSlider, lineChart);

        //Draw the dashboard
       
        dashboard.draw(data);


    }

    google.setOnLoadCallback(drawVisualization);
</script>

<style>
.google-visualization-controls-rangefilter-thumblabel { color: #923C87 }
.google-visualization-controls-slider-horizontal { border: 1px solid #923C87 }
.google-visualization-controls-slider-handle { background-color: #923C87 }
.google-visualization-controls-slider-thumb { background-color: #923C87; border: 1px solid #808080 }
</style>

<h1 class="wrappertitel">@ViewBag.Title</h1>

<table>
    <tr class="header">
        <th>@ViewBag.Name1</th> <!-- Beste Tijd/afstand (student 1) -->
        <th>Rank</th> <!-- Stand in ranking (student 1) -->
        <th>Event</th> <!-- Schoolcup event -->
        <th>Rank</th> <!-- Stand in ranking (student 2) -->
        <th>@ViewBag.Name2</th> <!-- Beste Tijd/afstand (student 2) -->
    </tr>
    @{int index = 0;}
    @foreach (TeamOPSchoolCup.Domain.POCO.Event e in ViewBag.Events)
    {
    <tr>
        <td>@ViewBag.results1[index]</td> <!-- Beste Tijd/afstand (student 1) -->
        <td>@ViewBag.rankings1[index]</td> <!-- Stand in ranking (student 1) -->
        
        <td>@e.Name</td> <!-- Schoolcup event -->
        <td>@ViewBag.rankings2[index]</td> <!-- Stand in ranking (student 2) -->
        <td>@ViewBag.results2[index]</td> <!-- Beste Tijd/afstand (student 2) -->
        @{ index += 1; }
    </tr>
    }
</table>

<div id="dashboard_div" class="center">
    <div id="linechart_div"></div>
    <div id="filter_div"></div>
</div>
