﻿@using TeamOPSchoolCup.Domain.Resources

<div id="schoolCupNav">
    <a title="My School Cup" href="@Url.Action("SchoolCup", "SchoolCup")">
        <img alt="myresults" src="@Url.Content("~/Content/images/home.png")" />
        <span>@MemberString.schoolcup</span>
    </a>
    <a title="My School Cup" href="@Url.Action("ProfileDetails", "Member")">
        <img alt="myresults" src="@Url.Content("~/Content/images/mscteam.png")" />
        <span>@MemberString.prof</span>
    </a>
    <a title="My Results" href="@Url.Action("ChangePassword", "Account")">
        <img alt="myresults" src="@Url.Content("~/Content/images/security.png")" />
        <span>@MemberString.security</span>
    </a>
    <a title="MyProfile" href="@Url.Action("Preferences", "Member")">
        <img alt="myprofile" src="@Url.Content("~/Content/images/setting.png")" />
        <span class="MSCoptionSpan">@MemberString.preferences</span>
    </a>
</div>