﻿@model TeamOPSchoolCup.Domain.POCO.Members.ISFAdmin
@using TeamOPSchoolCup.Domain.DTO;
@{
    ViewBag.Title = "addISFAdmin";
}
<h2>
    addISFAdmin</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <text>Generated Password: @ViewBag.Password</text>
    <fieldset>
        <legend>ISFAdmin</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Member.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Member.Name)
            @Html.ValidationMessageFor(model => model.Member.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Member.BirthDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Member.BirthDate)
            @Html.ValidationMessageFor(model => model.Member.BirthDate)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Member.Street)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Member.Street)
            @Html.ValidationMessageFor(model => model.Member.Street)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Member.Zipcode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Member.Zipcode)
            @Html.ValidationMessageFor(model => model.Member.Zipcode)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Member.City)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Member.City)
            @Html.ValidationMessageFor(model => model.Member.City)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Member.Country)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Member.Country)
            @Html.ValidationMessageFor(model => model.Member.Country)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Member.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Member.Email)
            @Html.ValidationMessageFor(model => model.Member.Email)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Member.Language)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Member.Language)
            @Html.ValidationMessageFor(model => model.Member.Language)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Member.Gender)
        </div>
        <div class="editor-field">
            
                @{List<Gender> genders = new List<Gender>();
                  foreach (Gender g in Enum.GetValues(typeof(TeamOPSchoolCup.Domain.DTO.Gender)))
                  {
                      if (!g.Equals(Gender.UNISEX))
                      {
                          genders.Add(g);
                      }
                  }}
                @Html.DropDownListFor(model => model.Member.Gender, new SelectList(genders))
                
            
            @Html.ValidationMessageFor(model => model.Member.Gender)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Member.PhoneNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Member.PhoneNumber)
            @Html.ValidationMessageFor(model => model.Member.PhoneNumber)
        </div>
        
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
