﻿@{
    ViewBag.Title = "AddMembersToASPNETAndShowPassword";
}

<h2>AddMembersToASPNETAndShowPassword</h2>
<h3>Users</h3>
@foreach(KeyValuePair<string,string> kvp in ViewBag.Users){
    <p>Username: @kvp.Key</p>
    <p>password: @kvp.Value</p>
    
}
<h3>UserIds</h3>
@foreach(KeyValuePair<string,string> kvp in ViewBag.UserIds){
    <p>Member name: @kvp.Key</p>
    <p>userId: @kvp.Value</p>
    
}