﻿@model TeamOPSchoolCup.Domain.DTO.BasicMemberInfo
@using TeamOPSchoolCup.Domain.DTO;
@{
    ViewBag.Title = "addNSSFRep";
}
@section region{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Administration.css")" type="text/css" />
}

<h2 class="wrappertitel">
    addNSSFRep</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div id="content-form">
    @using (Html.BeginForm("AddNSSFRep", "Member", new { nssfid = ViewBag.NSSFId }, FormMethod.Post))
    {    
        @Html.ValidationSummary(true)
        <table>
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(model => model.Name)
            </td>
            <td>
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </td>
        </tr>
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(model => model.Email)
            </td>
            <td>
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </td>
        </tr>
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(model => model.Gender)
            </td>
            <td id="genderSelect">
                @{List<Gender> genders = new List<Gender>();
                  foreach(Gender g in Enum.GetValues(typeof(TeamOPSchoolCup.Domain.DTO.Gender)))
                  { 
                      if(!g.Equals(Gender.UNISEX)){
                      genders.Add(g);}
                  }}
                @Html.DropDownListFor(model => model.Gender, new SelectList(genders))
                @Html.ValidationMessageFor(model => model.Gender)
            </td>
        </tr>
        <tr>
            <td>
                <a class="return" href="@Url.Action("Index", "NSSF")">
                    <img src="@Url.Content("~/Content/Images/return_button.png")", alt="Back" />
                    <span>Back</span> </a>
            </td>
            <td class="crud_submit">
                <input id="derp" type="submit" value="Create" />
            </td>
        </tr>
        </table>
    }
</div>
