﻿@model TeamOPSchoolCup.Domain.DTO.BasicMemberInfo
@using TeamOPSchoolCup.Domain.DTO
@using TeamOPSchoolCup.Domain.Resources
@{
    ViewBag.Title = @MemberString.AddStudent;
}
<h1 class="titel">@ViewBag.Title</h1>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="content-form">
@using (Html.BeginForm("AddStudent", "Member", new { teamId = ViewBag.Team.TeamId }, FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <table>
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(Model => Model.Name)</td>
            <td>@Html.EditorFor(Model => Model.Name)@Html.ValidationMessageFor(Model => Model.Name)</td>
        </tr>
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(Model => Model.Email)</td>
            <td>@Html.EditorFor(Model => Model.Email)@Html.ValidationMessageFor(Model => Model.Email)</td>
        </tr>
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(Model => Model.BirthDay)</td>
            <td>@Html.EditorFor(Model => Model.BirthDay, new { DateDropType = TeamOPSchoolCup.Domain.DTO.DateType.STUDENTBIRTHDAY })@Html.ValidationMessageFor(Model => Model.BirthDay)</td>
        </tr>
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(Model => Model.Gender)</td>
            <td id="genderSelect">
                @{List<Gender> genders = new List<Gender>();
                  foreach(Gender g in Enum.GetValues(typeof(TeamOPSchoolCup.Domain.DTO.Gender)))
                  { 
                      if(!g.Equals(Gender.UNISEX)){
                      genders.Add(g);}
                  }}
                @Html.DropDownListFor(model => model.Gender, new SelectList(genders))
                @Html.ValidationMessageFor(model => model.Gender)
            </td>
         </tr>
        <tr>
            <td>
                <a class="return" href="@Url.Action("AddTeamMembership", "Team", new { Id = ViewBag.Team.TeamId })">
                    <img src="@Url.Content("~/Content/Images/return_button.png")", alt="Edit" />
                    <span>Back</span>
                </a>
            </td>
            <td class="crud_submit"><input type="submit" value="Create" /></td>
        </tr>
    </table>
}
</div>