﻿@model TeamOPSchoolCup.Domain.DTO.EditableMember
@using TeamOPSchoolCup.Domain.Resources
@using System.Web.Security
@{
    ViewBag.Title = "EditProfile";
}

@section editprofile{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Profile.css")" type="text/css" />
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/SchoolCupNavigation.css")" type="text/css" />
}

@if (Roles.IsUserInRole(User.Identity.Name, "Coach") || Roles.IsUserInRole(User.Identity.Name, "Student")) {@Html.Partial("_NavigationDetails")}

<h1 class="wrappertitel">@MemberString.eprof</h1>

<div id="profile-form">
@using (Html.BeginForm("EditProfile", "Member", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
  @Html.HiddenFor(model => model.MemberId)
  @Html.ValidationSummary(true)
  <table>
    <tr class="crud_row">
        <td class="number">@Html.LabelFor(model => model.Name)</td>
        <td>
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </td>
    </tr>
    <tr class="crud_row">
        <td class="number">@Html.LabelFor(model => model.Street)</td>
        <td>
            @Html.EditorFor(model => model.Street)
            @Html.ValidationMessageFor(model => model.Street)
        </td>
    </tr>
    <tr class="crud_row">
        <td class="number">@Html.LabelFor(model => model.Zipcode)</td>
        <td>
            @Html.EditorFor(model => model.Zipcode)
            @Html.ValidationMessageFor(model => model.Zipcode)
        </td>
    </tr>
    <tr class="crud_row">
        <td class="number">@Html.LabelFor(model => model.City)</td>
        <td>
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </td>
    </tr>
    <tr class="crud_row">
        <td class="number">@Html.LabelFor(model => model.Country)</td>
        <td>
            @Html.EditorFor(model => model.Country)
            @Html.ValidationMessageFor(model => model.Country)
        </td>
    </tr>
    <tr class="crud_row">
        <td class="number">@Html.LabelFor(model => model.PhoneNumber)</td>
        <td>
            @Html.EditorFor(model => model.PhoneNumber)
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </td>
    </tr>
    @if (Roles.IsUserInRole(User.Identity.Name, "Coach") || Roles.IsUserInRole(User.Identity.Name, "Student")) {<tr class="crud_row">
        <td class="number">@TeamStrings.photo</td>
        <td>
            <input id="choosePhoto" type="file"  accept=".png, .jpg, .jpeg, .gif"  name="Photo" />
        </td>
    </tr>}
    </table>
    <div id="buttons">
        <div>
           @if (Roles.IsUserInRole(User.Identity.Name, "Coach") || Roles.IsUserInRole(User.Identity.Name, "Student")) {
                <div id="back">
                <a class="return" href="@Url.Action("ProfileDetails", "Member")">
                    <img src="@Url.Content("~/Content/Images/return_button.png")", alt="@RegionStrings.Back" />
                    <span>@RegionStrings.Back</span>
                </a>
            </div>}
           else {
               <div id="back">
                <a class="return" href="@Url.Action("Index", "Administration")">
                    <img src="@Url.Content("~/Content/Images/return_button.png")", alt="@RegionStrings.Back" />
                    <span>@RegionStrings.Back</span>
                </a>
            </div>
           }
            <div id="cp">@Html.ActionLink("Change Password", "ChangePassword", "Account")</div>
            <div class="crud_submit"><input type="submit" value="@RegionStrings.Save" /></div>
        </div>
    </div>
  
}
</div>
