﻿@using TeamOPSchoolCup.Domain.Resources

@{
    ViewBag.Title = "Preferences";
}

@section schoolCupNav{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/SchoolCupNavigation.css")" type="text/css" />
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Profile.css")" type="text/css" />
}

@Html.Partial("_NavigationDetails")

<h1 class="wrappertitel">@PreferencesString.pref</h1>

<div id="cpModel">
@using (Html.BeginForm()) {
    <div>
        <fieldset>
            <legend>@PreferencesString.ChangePreferences</legend>

            <label>@PreferencesString.SelectYourLanguage</label>
            <div class="editor-label">
                @Html.DropDownList("languages")
            </div>
            <p><input type="submit" value="@PreferencesString.Save" /></p>
        </fieldset>
    </div>
}
</div>
