﻿@model TeamOPSchoolCup.Domain.POCO.Member
@using TeamOPSchoolCup.Domain.Resources

@section schoolCupNav{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/SchoolCupNavigation.css")" type="text/css" />
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/SchoolCup.css")" type="text/css" />
}

@{
    ViewBag.Title = "Profile Details";
}

@if (Roles.IsUserInRole(User.Identity.Name, "Coach") || Roles.IsUserInRole(User.Identity.Name, "Student")) {@Html.Partial("_NavigationDetails")}

<h1 class="wrappertitel">@MemberString.profDetail</h1>

<!-- TODO Photo -->
<div id="profiletable">
<table>
    <tr>
        <td class="purple">@TeamOPSchoolCup.Domain.Resources.MemberString.name</td>
        <td>@Html.DisplayFor(model => model.Name)</td>
    </tr>
    <tr>
        <td class="purple">@TeamOPSchoolCup.Domain.Resources.MemberString.dob</td>
        <td>@Html.DisplayFor(model => model.BirthDate)</td>
    </tr>
    <tr>
        <td class="purple">@TeamOPSchoolCup.Domain.Resources.MemberString.address</td>
        <td>@Html.DisplayFor(model => model.Street)<br />
            @Html.DisplayFor(model => model.Zipcode) @Html.DisplayFor(model => model.City)<br />
            @Html.DisplayFor(model => model.Country)
        </td>
    </tr>
    <tr>
        <td class="purple">E-mail</td>
        <td>@Html.DisplayFor(model => model.Email)</td>
    </tr>
    <tr>
        <td class="purple">Phone</td>
        <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
    </tr>
</table>
</div>
<div class="center" id="editLink">
    <img src="@Url.Content("~/Content/images/gear.png")" alt="change" />
     @Html.ActionLink(TeamOPSchoolCup.Domain.Resources.MemberString.edit, "EditProfile", "Member", null, null)
</div>