﻿@model TeamOPSchoolCup.Domain.POCO.Member
@using TeamOPSchoolCup.Domain.Services;           
@{
    ViewBag.Title = "Profile";
}

@section profile{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Profile.css")" type="text/css" />
     <script src="@Url.Content("~/Scripts/Profile.js")" type="text/javascript"></script>
}

<h1 class="wrappertitel">@TeamOPSchoolCup.Domain.Resources.MemberString.prof @Html.DisplayFor(m => Model.Name)</h1>

@if (Model.Student != null) {<p class="profileMenu"><a href="@Url.Action("Profile", "Member", new { id = Model.MemberId })"><img alt="profile" src="@Url.Content("~/Content/images/nssfpurple.png")"/>Profile</a> <text> - </text><a href="@Url.Action("MyResults", "SchoolCup", new { studentId = Model.MemberId }, null)"> <img alt="profile" src="@Url.Content("~/Content/images/myresultspurple.png")"/>Results</a></p>} 
<div class="profileDiv">
    <div class="headerDiv" id="memberbg">
        @if (Model.Gender_Value == 1) {
             <img class="gender" id="male" src="@Url.Content("~/Content/images/man.png")" alt="gender"/>
         }
         else {
             <img class="gender" id="female" src="@Url.Content("~/Content/images/woman.png")" alt="gender"/>
         }
         @if (System.IO.File.Exists(ViewBag.photopathTest)) { <div class="memberfoto" id="memberfoto2"><img alt="teamfoto" src="@Url.Content(ViewBag.photopath)"/></div> }
         else { <div class="memberfoto" id="memberfoto1"></div> }
         <div id="teamname">@Roles.GetRolesForUser(Model.Email).First().ToString() - @Html.DisplayFor(model => model.Name)</div><span id="student_id">@Model.MemberId</span>
         @if (User.Identity.IsAuthenticated && User.IsInRole("Student") && Model.MemberId != MemberService.GetMember(email:User.Identity.Name).MemberId && MemberService.GetMember(memberId: Model.MemberId).Coach == null && Model.Gender_Value == MemberService.GetMember(email: User.Identity.Name ).Gender_Value)
         {
              <table id="compareTable" >
                  <tr>
                   <td id="compareToMe">   <img id="search" src="@Url.Content("~/Content/images/magnifying_glass.png")" />
                     <span>Compare to Me</span></td>
                  </tr>
                  <tr>
                    <td id="sport_select" class="selectFilter"><label>@Html.DropDownList("sports")</label></td>
                    <td id="year_select" class="selectFilter"><label>@Html.DropDownList("years")</label></td>
                  </tr>
             </table>
         }
    </div> 
    <h2 class="center">@Html.DisplayFor(model => model.Name)</h2>
    <table id="teaminfo">
        <tr>
            <td>@TeamOPSchoolCup.Domain.Resources.MemberString.dob :</td>
            <td>@Html.DisplayFor(model => model.BirthDate)</td>
        </tr>
        <tr>
            <td>@TeamOPSchoolCup.Domain.Resources.MemberString.address :</td>
            <td>@Html.DisplayFor(model => model.Street)</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.DisplayFor(model => model.Zipcode) @Html.DisplayFor(model => model.City)</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.DisplayFor(model => model.Country)</td>
        </tr>
        <tr>
            <td>E-mail</td>
            <td>@Html.DisplayFor(model => model.Email)</td>
        </tr>
        <tr>
            <td>@TeamOPSchoolCup.Domain.Resources.MemberString.phone :</td>
            <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
        </tr>

    </table>
</div> 