﻿@model IEnumerable<TeamOPSchoolCup.Domain.POCO.TeamMembership>    
@{
    ViewBag.Title = "Results";
}

@section profile{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Profile.css")" type="text/css" />
}
<h1 class="wrappertitel">@TeamOPSchoolCup.Domain.Resources.MemberString.results @ViewBag.memberName</h2>

<p class="profileMenu">@Html.ActionLink(TeamOPSchoolCup.Domain.Resources.MemberString.prof, "Profile", "Member", new { id = ViewBag.memberId }, null) - @Html.ActionLink(TeamOPSchoolCup.Domain.Resources.MemberString.results, "Results", "Member", new { id = ViewBag.memberId }, htmlAttributes: new { @class = "active" })</p>


@foreach(TeamOPSchoolCup.Domain.POCO.TeamMembership mship in Model)
{
   
    if(mship.Results.Count() > 0)
    { 
    <h3 class="center">@Html.ActionLink(mship.Team.Name, "Profile", "Team", new { id = mship.Team.TeamId }, null)</h3>
        <table class="center">
            <tr class="header">
                <th class="meeting">@TeamOPSchoolCup.Domain.Resources.MemberString.meeting</th>
                <th class="event">@TeamOPSchoolCup.Domain.Resources.MemberString.ev</th>
                <th class="result">@TeamOPSchoolCup.Domain.Resources.MemberString.result</th>
            </tr>
            @foreach (TeamOPSchoolCup.Domain.POCO.Result r in mship.Results)
            {
                <tr>
                    <td>@Html.ActionLink(r.Meeting.Name, "Detail", "Meeting", new { id = r.MeetingId }, null)</td>
                    <td>@r.Event.Name</td>
                    <td>@r.ResultScore</td>
                </tr>
            }
        </table>
    } else {
        <p class="center">@TeamOPSchoolCup.Domain.Resources.MemberString.noresults</p>
    }
}  

<div id="graph"></div>