﻿@model TeamOPSchoolCup.Web.Models.ChangePasswordModel
@using TeamOPSchoolCup.Domain.Resources

@{
    ViewBag.Title = "Security";
}

@section editprofile{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Profile.css")" type="text/css" />
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/SchoolCupNavigation.css")" type="text/css" />
}

@Html.Partial("_NavigationDetails")

<h1 class="wrappertitel">Security</h1>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div id="cpModel">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, SecurityString.nosuccess)
    <div>
        <fieldset>
            <legend>Change password</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.OldPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.NewPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.NewPasswordConfirmed)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.NewPasswordConfirmed)
                @Html.ValidationMessageFor(m => m.NewPasswordConfirmed)
            </div>

            <p>
                <input type="submit" value="Change Password" />
            </p>
        </fieldset>
    </div>
}
</div>