﻿@model TeamOPSchoolCup.Domain.POCO.Region

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Region</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Parent</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Parent.Name)
    </div>

    <div class="display-label">Children</div>
    <div class="display-field">
        @foreach (TeamOPSchoolCup.Domain.POCO.Region r in Model.Children)
        {
            <li>@r.Name</li>
        }
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.RegionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
