﻿@model IEnumerable<TeamOPSchoolCup.Domain.POCO.Region>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Parent
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parent.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RegionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RegionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RegionId })
        </td>
    </tr>
}

</table>
