﻿@model TeamOPSchoolCup.Domain.DTO.Meetings.EditableISFMeeting
@using TeamOPSchoolCup.Domain.Resources
@{
    ViewBag.Title = @MeetingStrings.CreateISFMeeting;
}
@section meeting {
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/dynatree.css")" type="text/css" />
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Meeting.css")" type="text/css" />
    <script src="@Url.Content("~/Scripts/dynatree.js")"></script>
    <script>
        var regions=@Html.Raw(ViewBag.RegionsJson);
        var events=@Html.Raw(ViewBag.EventsJson);
        regions=regions.Children;
        var selectedRegions="";
        var selectedEvents="";
    </script>
    <script src="@Url.Content("~/Scripts/Meeting.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}
<h1 class="titel">@ViewBag.Title</h1>
<div class="content-form hasDynatree hasDynatreeForEvents hasDynatreeForRegions">
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <table>
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(model => model.Name)</td>
            <td>@Html.EditorFor(model => model.Name)@Html.ValidationMessageFor(model => model.Name)</td>
        </tr>
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(model => model.Location)</td>
            <td>@Html.EditorFor(model => model.Location)@Html.ValidationMessageFor(model => model.Location)</td>
        </tr>
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(model => model.Date)</td>
            <td>@Html.EditorFor(model => model.Date)@Html.ValidationMessageFor(model => model.Date)</td>
        </tr>
        <tr class="crud_row">
            <td class="number">Regions</td>
            <td>
                <p><a href="#" id="regionsSelectAll">Select All</a> - <a href="#" id="regionsSelectNone">Select None</a></p>
                @Html.HiddenFor(model => model.RegionsStr, new { id = "hiddenregions", name="RegionsStr" })
                <ul id="regionselect"></ul>
            </td>
        </tr>
        <tr class="crud_row">
            <td class="number">Events</td>
            <td>
                <p>@Html.DropDownList("Sports")</p>
                <p><a href="#" id="eventsSelectAll">Select All</a> - <a href="#" id="eventsSelectNone">Select None</a></p>
                @Html.HiddenFor(model => model.EventsStr, new { id = "hiddenevents", name="EventsStr" })
                <div id="eventsselectcontainer"><ul id="eventsselect"></ul></div>
            </td>
        </tr>
        <tr>
            <td>
                <a class="return" href="@Url.Action("Index")">
                    <img src="@Url.Content("~/Content/Images/return_button.png")", alt="Back" />
                    <span>Back</span>
                </a>
            </td>
            <td class="crud_submit"><input type="submit" value="Create" /></td>
        </tr>
    </table>
}
</div>