﻿@model TeamOPSchoolCup.Web.Helpers.PaginatedList<TeamOPSchoolCup.Domain.DTO.MeetingDetails.ResultInfo>
@using TeamOPSchoolCup.Domain.DTO
@using TeamOPSchoolCup.Domain.Resources
<table class="alternatingRows pagertable">
    <tr class="header">
        <th class="rank">@MeetingStrings.rank</th>
        <th class="name">@MeetingStrings.name</th>
        <th class="age">@MeetingStrings.age</th>
        <th class="school">@MeetingStrings.school</th>
        <th class="measure">@MeetingStrings.result</th>
    </tr>
    @{int counter=1; }
    @foreach (MeetingDetails.ResultInfo res in Model) {
        <tr class="center">
            <td class="number">@counter</td>
            <td class="name">@Html.ActionLink(res.Name, "Profile", "Member", new { id = res.MemberId },null)</td>
            <td>@res.Age</td>
            <td>@res.School</td>
            <td class="measure">@res.Score.ToString("0.00")</td>
        </tr>
        counter++;
    }
    <tr class="tablebottomactions">
        <td colspan="2">
            @if (Model.PageIndex > 0)
            { 
                <a class="pager" id="previous"><img src="@Url.Content("~/Content/images/return_button.png")" alt="@SharedStrings.Previous" /><span>@SharedStrings.Previous</span></a>
            }
        </td>
        <td colspan="2"></td>  
        <td id="nextparent">  
            @if (Model.HasNextPage && Model.PageIndex < Model.TotalPages)
            {
               <a class="pager" id="next"><span>@SharedStrings.Next</span><img src="@Url.Content("~/Content/images/next_button.png")" alt="@SharedStrings.Next" /></a>
            } 
        </td>
      </tr> 
</table>