﻿@model TeamOPSchoolCup.Domain.DTO.MeetingDetails
@using TeamOPSchoolCup.Domain.Services
@using TeamOPSchoolCup.Domain.Resources
@using TeamOPSchoolCup.Domain.DTO
@using TeamOPSchoolCup.Web.Helpers
@{
    ViewBag.Title = MeetingStrings.title + ViewBag.meeting.Name;
}

@section meeting{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Meeting.css")" type="text/css" />
    <script src="@Url.Content("~/Scripts/Meeting.js")" type="text/javascript"></script>
    <script>
        var meetingId=@Model.MeetingId;
    </script>
}

<h2 class="wrappertitel">@ViewBag.meeting.Name</h2>
<p class="center" id="detailsTopActions">
    
@if (!String.IsNullOrEmpty(ViewBag.MemberType))
{
    if (MeetingService.CanUserEditMeeting(ViewBag.meeting, ViewBag.Member))
    {
        if (ViewBag.meeting.ISFMeeting != null)
        {
            @Html.ActionImage("EditISFMeeting", "Meeting", new { isfMeetingId = ViewBag.meeting.MeetingId }, "~/Content/images/gear.png", "Edit meeting", "Edit")  
        }
        if (ViewBag.meeting.RegionalMeeting != null)
        {
            @Html.ActionImage("EditRegionalMeeting", "Meeting", new { regionalMeetingId = ViewBag.meeting.MeetingId }, "~/Content/images/gear.png", "Edit meeting", "Edit")
        }
        if (ViewBag.meeting.CoachMeeting != null)
        {
            @Html.ActionImage("EditCoachMeeting", "Meeting", new { coachMeetingId = ViewBag.meeting.MeetingId }, "~/Content/images/gear.png", "Edit meeting", "Edit")
        }
    }
    <text>&nbsp; &nbsp;</text>
    if (MeetingService.CanUserAddResultsToMeeting(ViewBag.meeting, ViewBag.Member))
    {
        if (ViewBag.Member.Coach != null || ViewBag.Member.NSSFRep != null || ViewBag.Member.ISFAdmin != null)
        {
            @Html.ActionImage("Create", "Result", new { meetingId = ViewBag.meeting.MeetingId }, "~/Content/images/results_purple.png", "Add results", "Add results")
        }
        if (ViewBag.Member.Student != null)
        {
            @Html.ActionImage("CreateSingle", "Result", new { meetingId = ViewBag.meeting.MeetingId }, "~/Content/images/results_purple.png", "Add result", "Add result")
        }
    }
}
</p>
<div id="tabs">
    <ul>
        <li><a href="#tab_info"><span>Basic info</span></a></li>
        @{int counterLink = 0;}
        @foreach (MeetingDetails.ResultsGroup group in Model.ResultsGroups)
        {
            var link = "#tab_results_" + counterLink;
            <li><a href="@link" data-event="@group.EventName" data-gender"@group.Gender"><span>@group.EventName</span>
                @if (group.Gender == Gender.MALE)
                {
                    <img class="gender" id="male" src="@Url.Content("~/Content/images/man.png")" alt="gender"/>
                }
                else
                {
                    <img class="gender" id="female" src="@Url.Content("~/Content/images/woman.png")" alt="gender"/>
                }
            </a></li>
                counterLink++;
        }
    </ul>
    <div id="tabcontents">
        <div id="tab_info">
            <div id="meetingInfo">
                <p>Location: @ViewBag.meeting.Location</p>
                <p>Date: @ViewBag.meeting.Date.ToString("dd MMM yyyy")</p>
             </div>
        </div>
        @{int counterTab = 0;}
        @foreach (MeetingDetails.ResultsGroup group in Model.ResultsGroups)
        {
            var link = "tab_results_" + counterTab;
            <div id="@link" class="resultTab" data-event="@group.EventName" data-gender="@group.Gender" data-eventId="@group.EventId">
                @Html.Action("GetMeetingResults", new { meetingId = Model.MeetingId, eventId = group.EventId, gender = group.Gender.ToString(), page = 0 })
            </div>
            counterTab++;
        }
    </div>
</div>