﻿@model IEnumerable<TeamOPSchoolCup.Domain.POCO.Meeting>
@using TeamOPSchoolCup.Domain.Resources
@{
    ViewBag.Title = "Meetings";
}
@section home{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Filters.css")" type="text/css" />
    <script src="@Url.Content("~/Scripts/Meeting.js")" type="text/javascript"></script>
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Meeting.css")" type="text/css" />
    <script type="text/javascript"">        var startingPage = 0;</script>
}
<h1 class="wrappertitel">@ViewBag.Title</h1>
@if (ViewBag.MemberType.Equals("ISFAdmin")) {
    <p class="actionLinksTop"><span id="add1"><a href="@Url.Action("CreateISFMeeting","Meeting")">Create ISF Meeting</a></span></p>
}
@if (ViewBag.MemberType.Equals("NSSFRep")) {
    <p class="actionLinksTop"><span id="add1"><a href="@Url.Action("CreateRegionalMeeting","Meeting")">Create Regional Meeting</a></span></p>
}
@if (!String.IsNullOrEmpty(ViewBag.MemberType))
{
    <div id="ownmeetings">@Html.Action("OwnMeetings")</div>
}
<h2 class="wrappertitel">Upcoming meetings</h2>
<table class="filters">
        <tr>
            <td>Year</td>
            <td>Regions</td>
        </tr>
        <tr>
            @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "filterform" }))
            {
                <td class="selectFilter"><span>@Html.DropDownList("year", String.Empty)</span></td>
                <td class="selectFilter">
                    <span>
                        <select id="regionId" name="regionId">
                        <option value="1">World </option>
                        @foreach (TeamOPSchoolCup.Domain.POCO.Region continent in ViewBag.Regions)
                        {
                            if (continent.ParentId == 1)
                            {
                                <option value="@Html.DisplayFor(modelitem => continent.RegionId)" @if (ViewBag.SelectedRegionId == continent.RegionId) { <text>selected = "selected"</text> }>@Html.DisplayFor(modelItem => continent.Name)  </option>  
                                foreach (TeamOPSchoolCup.Domain.POCO.Region country in ViewBag.Regions)
                                {
                                    if (country.ParentId == continent.RegionId)
                                    {
                                        <option value="@Html.DisplayFor(modelitem => country.RegionId)" @if (ViewBag.SelectedRegionId == country.RegionId) { <text>selected = "selected"</text> }>&nbsp; @Html.DisplayFor(modelItem => country.Name)  </option>
                                        foreach (TeamOPSchoolCup.Domain.POCO.Region region in ViewBag.Regions)
                                        {
                                            if (region.ParentId == country.RegionId)
                                            {
                                                    <option value="@Html.DisplayFor(modelitem => region.RegionId)" @if (ViewBag.SelectedRegionId == region.RegionId) { <text>selected = "selected"</text> }>&nbsp; &nbsp; &nbsp; @Html.DisplayFor(modelItem => region.Name)  </option>  
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        </select>
                    </span>
                </td>
            }
        </tr>
</table>

@if (Model.ToList().Count == 0)
{ <p class="center">@MeetingStrings.nodata</p> }
else
{
    <div id="publicmeetings">@Html.Action("GetMeetings", new { })</div>
@*<table class="alternatingRows">
    <tr class="header">
        <th>Date</th>
        <th>Meeting</th>
    </tr>
    @foreach (TeamOPSchoolCup.Domain.POCO.Meeting m in Model)
    {
        <tr>
            <td>@m.Date.ToString("dd MMM yyyy")</td>
            <td>@Html.ActionLink(m.Name, "Detail", "Meeting", new { id = m.MeetingId }, htmlAttributes: new { /* @class = "profile_link"*/ })</td>
        </tr>
    }  
</table>*@
}