﻿@model TeamOPSchoolCup.Web.Helpers.PaginatedList<TeamOPSchoolCup.Domain.POCO.Meeting>
@using TeamOPSchoolCup.Domain.Services
@using TeamOPSchoolCup.Domain.Resources
@using TeamOPSchoolCup.Web.Helpers
@{
    Layout = null;
}
@if (Model.TotalCount > 0)
{
<script type="text/javascript">var startingPage=@Model.PageIndex;</script>
<h2 class="wrappertitel">Meetings that are relevant to you</h2>
<table class="alternatingRows pagertable">
    <tr class="header">
        <th>Date</th>
        <th>Meeting</th>
        <th />
    </tr>
    @foreach (TeamOPSchoolCup.Domain.POCO.Meeting m in Model)
    {
        <tr>
            <td>@m.Date.ToString("dd MMM yyyy")</td>
            <td>@Html.ActionLink(m.Name, "Detail", "Meeting", new { id = m.MeetingId }, htmlAttributes: new { /* @class = "profile_link"*/ })</td>
            <td id="ownmeetingsaction">
                    @if (MeetingService.CanUserEditMeeting(m, ViewBag.Member))
                    {
                        if (m.ISFMeeting != null)
                        {
                            @Html.ActionImage("EditISFMeeting", "Meeting", new { isfMeetingId = m.MeetingId }, "~/Content/images/gear.png", "Edit meeting","Edit")
                        }
                        if (m.RegionalMeeting != null)
                        {
                            @Html.ActionImage("EditRegionalMeeting", "Meeting", new { regionalMeetingId = m.MeetingId }, "~/Content/images/gear.png", "Edit meeting","Edit")
                        }
                        if (m.CoachMeeting != null)
                        {
                            @Html.ActionImage("EditCoachMeeting", "Meeting", new { coachMeetingId = m.MeetingId }, "~/Content/images/gear.png", "Edit meeting","Edit")
                        }
                        <br />
                    }
                    @if (MeetingService.CanUserAddResultsToMeeting(m, ViewBag.Member))
                    {
                        if (ViewBag.Member.Coach != null || ViewBag.Member.NSSFRep != null || ViewBag.Member.ISFAdmin != null)
                        {
                            @Html.ActionImage("Create", "Result", new { meetingId = m.MeetingId }, "~/Content/images/results_purple.png", "Add results", "Add results")
                        }
                        if (ViewBag.Member.Student != null)
                        {
                            @Html.ActionImage("CreateSingle", "Result", new { meetingId = m.MeetingId }, "~/Content/images/results_purple.png", "Add result", "Add result");
                        }
                    }
            </td>
        </tr>
    }
    <tr class="tablebottomactions">
        <td>
            @if (Model.PageIndex > 0)
            { 
                <a class="pager" id="previous"><img src="@Url.Content("~/Content/images/return_button.png")" alt="@SharedStrings.Previous" /><span>@SharedStrings.Previous</span></a>
            }
        </td>
        <td></td>
        <td id="nextparent">
            @if (Model.HasNextPage && Model.PageIndex < Model.TotalPages)
            {
               <a class="pager" id="next"><span>@SharedStrings.Next</span><img src="@Url.Content("~/Content/images/next_button.png")" alt="@SharedStrings.Next" /></a>
            } 
        </td>
    </tr>
</table>
}