﻿@model TeamOPSchoolCup.Web.Helpers.PaginatedList<TeamOPSchoolCup.Domain.POCO.Meeting>
@using TeamOPSchoolCup.Domain.Resources
<table class="alternatingRows">
    <tr class="header">
        <th>Date</th>
        <th>Meeting</th>
    </tr>
    @foreach (TeamOPSchoolCup.Domain.POCO.Meeting m in Model)
    {
        <tr>
            <td>@m.Date.ToString("dd MMM yyyy")</td>
            <td>@Html.ActionLink(m.Name, "Detail", "Meeting", new { id = m.MeetingId }, htmlAttributes: new { /* @class = "profile_link"*/ })</td>
        </tr>
    }  
    <tr class="tablebottomactions">
        <td>
            @if (Model.PageIndex > 0)
            { 
                <a class="pager" id="previous"><img src="@Url.Content("~/Content/images/return_button.png")" alt="@SharedStrings.Previous" /><span>@SharedStrings.Previous</span></a>
            }
        </td> 
        <td id="nextparent">  
            @if (Model.HasNextPage && Model.PageIndex < Model.TotalPages)
            {
               <a class="pager" id="next"><span>@SharedStrings.Next</span><img src="@Url.Content("~/Content/images/next_button.png")" alt="@SharedStrings.Next" /></a>
            } 
        </td>
    </tr> 
</table>