﻿@model IEnumerable<TeamOPSchoolCup.Domain.POCO.Ranking.BestTeamResult>
@using TeamOPSchoolCup.Domain.Resources
@{
    ViewBag.Title = "Index";
}

@section ranking{

    <script src="@Url.Content("~/Scripts/StudentRanking.js")?v=new" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/TeamRanking.js")" type="text/javascript"></script>
     <link rel="Stylesheet" href="@Url.Content("~/Content/css/Ranking.css")" type="text/css" />

}

    <section class="slide-up-boxes">

			<a id="student" class="actualbox">
				<h5>@RankingStrings.StudentRanking</h5>
				<div id="slider">@RankingStrings.LeaderboardStudents</div>				
			</a>
				
                @Html.Action("StudentPartial", "Ranking")
			<a id="team" class="actualbox">
				<h5>@RankingStrings.SchoolRanking</h5>
				<div id="slider">@RankingStrings.LeaderboardSchools</div>						
			</a>
		        @Html.Action("TeamPartial", "Ranking")

	</section>
