﻿@model TeamOPSchoolCup.Domain.DTO.EditableAdvertisement
@using TeamOPSchoolCup.Domain.Resources
@{
    ViewBag.Title = AdvertisementStrings.Create;
}
@section advertisement{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Vervanging.css")" type="text/css" />
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/dynatree.css")" type="text/css" />
    <script src="@Url.Content("~/Scripts/dynatree.js")"></script>
    <script>
        var regions=@Html.Raw(ViewBag.RegionsJson);
        regions=regions.Children;
        var sports=@Html.Raw(ViewBag.SportsJson);
        var selectedRegions="@(Model == null ? "" : Model.RegionsStr)";
        var selectedSports="@(Model == null ? "" : Model.SportsStr)";
    </script>
    <script src="@Url.Content("~/Scripts/advertisement.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}
<h1 class="titel">@ViewBag.Title</h1>
<div class="content-form hasDynatree">
@using (Html.BeginForm("Create", "Advertisement", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <table>
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(model => model.Company)</td>
            <td>
                @Html.EditorFor(model => model.Company)
                @Html.ValidationMessageFor(model => model.Company)
            </td>
        </tr>
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(model => model.Begin)</td>
            <td>
                @Html.EditorFor(model => model.Begin, new { DateDropType = TeamOPSchoolCup.Domain.DTO.DateType.FUTURE })
                @Html.ValidationMessageFor(model => model.Begin)
            </td>
        </tr>
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(model => model.End)</td>
            <td>
                @Html.EditorFor(model => model.End, new { DateDropType = TeamOPSchoolCup.Domain.DTO.DateType.FUTURE })
                @Html.ValidationMessageFor(model => model.End)
            </td>
        </tr>
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(model => model.Url)</td>
            <td>
                @Html.EditorFor(model => model.Url)
                @Html.ValidationMessageFor(model => model.Url)
            </td>
        </tr>
        <tr class="crud_row">
            <td class="number">@AdvertisementStrings.ModelGender</td>
            <td>
                <p>@Html.EditorFor(model => model.ForGenderMale) @AdvertisementStrings.Male
                @Html.ValidationMessageFor(model => model.Url)</p>
                <p>@Html.EditorFor(model => model.ForGenderFemale) @AdvertisementStrings.Female
                @Html.ValidationMessageFor(model => model.ForGenderFemale)</p>
            </td>
        </tr>
        <tr class="crud_row">
            <td class="number">@AdvertisementStrings.ModelRegions</td>
            <td>
                <p><a href="#" id="regionsSelectAll">@AdvertisementStrings.SelectAll</a> - <a href="#" id="regionsSelectNone">@AdvertisementStrings.SelectNone</a></p>
                @Html.HiddenFor(model => model.RegionsStr, new { id = "hiddenregions" })
                <ul id="regionselect"></ul>
            </td>
        </tr>
        <tr class="crud_row">
            <td class="number">@AdvertisementStrings.ModelSports</td>
            <td>
                <p><a href="#" id="sportsSelectAll">@AdvertisementStrings.SelectAll</a> - <a href="#" id="sportsSelectNone">@AdvertisementStrings.SelectNone</a></p>
                @Html.HiddenFor(model => model.SportsStr, new { id = "hiddensports" })
                <ul id="sportselect"></ul>
            </td>
        </tr>
        <tr class="crud_row">
            <td class="number">@AdvertisementStrings.Image</td>
            <td>
                <input id="chooseImage" type="file"  accept=".png, .jpg, .jpeg, .gif"  name="File" />
            </td>
        </tr>
        <tr>
            <td>
                <a class="return" href="@Url.Action("Index")">
                    <img src="@Url.Content("~/Content/Images/return_button.png")", alt="Edit" />
                    <span>@AdvertisementStrings.Back</span>
                </a>
            </td>
            <td class="crud_submit"><input type="submit" value="@AdvertisementStrings.Create" /></td>
        </tr>
    </table>
}
</div>