﻿@model TeamOPSchoolCup.Domain.POCO.Advertisement
@using TeamOPSchoolCup.Domain.Resources
@using TeamOPSchoolCup.Domain.DTO
@using TeamOPSchoolCup.Domain.Services
@using TeamOPSchoolCup.Domain.POCO
@{
    ViewBag.Title = AdvertisementStrings.Details;
}
@section region{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Vervanging.css")" type="text/css" />
}
<div id="detailsScreen">
    <div id="adInfo">
        <p class="title">@AdvertisementStrings.Info</p>
        <div class="adDetailsBox">
            <p><span class="infoTitle">@AdvertisementStrings.ModelCompany:</span> @Model.Company</p>
            <p><span class="infoTitle">@AdvertisementStrings.From</span> @Model.Begin.ToString("dd MMM yyyy") <span class="infoTitle">@AdvertisementStrings.until</span> @Model.End.ToString("dd MMM yyyy")</p>
            <p><span class="infoTitle">@AdvertisementStrings.ModelUrl:</span> @Model.Url</p>
            <p class="genderline">
                <span class="infoTitle">@AdvertisementStrings.ModelGender:</span> 
                @if (Model.ForGenderMale) { <img class='gender' id='male' src='@Url.Content("~/Content/images/man.png")' alt='gender'/> }
                @if (Model.ForGenderFemale) { <img class='gender' id='female' src='@Url.Content("~/Content/images/woman.png")' alt='gender'/> }
            </p>
            <p id="edit"><a href="@Url.Action("Edit","Advertisement", new { id = Model.AdvertisementId })"><img alt="edit" title="Edit" src="@Url.Content("~/Content/images/gear.png")"/><span>Edit</span></a></p>
        </div>
    </div>
    <div id="clickThrough">
        <p class="title">@AdvertisementStrings.ClickThroughRate</p>
        <div class="adDetailsBox">
            <span id="ctr">@Math.Round(ViewBag.Statistics.Ctr, 2)%</span>
            <p>@ViewBag.Statistics.Clicks <span class="infoTitle">@AdvertisementStrings.Clicks</span>, @ViewBag.Statistics.Views <span class="infoTitle">@AdvertisementStrings.Views</span></p>
        </div>
    </div>
    <div class="clearfix"></div>
    <div id="statistics">
        <p class="title">@AdvertisementStrings.Statistics</p>
        <div class="adDetailsBox">
            <table id="rankingTable alternatingRows"> 
                <tr class="tableHeader header">
                    <th id="first">@AdvertisementStrings.Region</th>
                    <th>@AdvertisementStrings.ModelGender</th>
                    <th>@AdvertisementStrings.Sport</th>
                    <th>@AdvertisementStrings.Views</th>
                    <th>@AdvertisementStrings.Clicks</th>
                </tr>           
                @foreach (var stat in Model.AdvertisementStatistics)
                {
                    <tr>
                        <td>@stat.Region.Name</td>
                        <td class="centeredcell">
                            @if (!stat.Gender.HasValue) { <img class='gender' id='unknown-gender' src='@Url.Content("~/Content/images/questionmark.png")' alt='@AdvertisementStrings.Unknown' /> }
                            @if (stat.Gender.HasValue && stat.Gender == Gender.MALE) { <img class='gender' id='male' src='@Url.Content("~/Content/images/man.png")' alt='@AdvertisementStrings.Male'/> }
                            @if (stat.Gender.HasValue && stat.Gender == Gender.FEMALE) { <img class='gender' id='female' src='@Url.Content("~/Content/images/woman.png")' alt='@AdvertisementStrings.Female'/> }
                        </td>
                        <td class="centeredcell">
                            @if (stat.SportId == 0) { <img class='sport-image' id='unknown-sport' src='@Url.Content("~/Content/images/questionmark.png")' alt='@AdvertisementStrings.Unknown' /> }
                            @if (stat.SportId != 0) { Sport sport=SportService.GetSport(stat.SportId); <img class="sport-image" id="sport-@sport.Name" src="@Url.Content("~/Content/images/" + sport.Name + ".png")" alt="@sport.Name" /> }
                        </td>
                        <td class="centeredcell">@stat.ViewCount</td>
                        <td class="centeredcell">@stat.ClickCount</td>
                    </tr>
                } 
            </table>
        </div>
    </div>
</div>