﻿@model IEnumerable<TeamOPSchoolCup.Domain.POCO.Advertisement>
@using TeamOPSchoolCup.Web.Helpers
@using TeamOPSchoolCup.Domain.Resources
@{
    ViewBag.Title = AdvertisementStrings.Index;
}
@section advertisement{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Vervanging.css")" type="text/css" />
}
<h1 class="wrappertitel">@AdvertisementStrings.Advertisements</h1>
<div id="add"><div id="add1"><a href="@Url.Action("Create", "Advertisement")">@AdvertisementStrings.CreateOne</a></div></div>
<table class="alternatingRows">
    <tr class="header">
        <th class="head" id="numberHeader" />
        <th class="head companynamecell">@AdvertisementStrings.ModelCompany</th>
        <th class="head">@AdvertisementStrings.ModelBegin</th>
        <th class="head">@AdvertisementStrings.ModelEnd</th>
        <th class="head">@AdvertisementStrings.ModelUrl</th>
        <th class="head"/>
    </tr>
    @{int index = 1;}
    @foreach (var ad in Model)
    {
    <tr>
        <td class="number">@index</td>
        <td class="infocell companynamecell">@Html.ActionLink(ad.Company, "Details", new { id = ad.AdvertisementId })</td>
        <td class="infocell">@ad.Begin.ToString("dd MMM yyyy")</td>
        <td class="infocell">@ad.End.ToString("dd MMM yyyy")</td>
        <td class="infocell"><a target="_blank" href="@ad.Url.">@ad.Url</a></td>
        <td class="last"><a href="@Url.Action("Edit","Advertisement", new { id = ad.AdvertisementId })"><img alt="edit" title="Edit" src="@Url.Content("~/Content/images/gear.png")"/></a></td>
    </tr>
    index += 1;
    }  
</table>