﻿@model TeamOPSchoolCup.Domain.POCO.School
@using TeamOPSchoolCup.Domain.Resources
@{
    ViewBag.Title = SchoolStrings.CreateSchool;
}
<h1 class="titel">@ViewBag.Title</h1>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="content-form">
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <table>
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(model => model.Name)</td>
            <td>@Html.EditorFor(model => model.Name)@Html.ValidationMessageFor(model => model.Name)</td>
        </tr>
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(model => model.AbbrName)</td>
            <td>@Html.EditorFor(model => model.AbbrName)@Html.ValidationMessageFor(model => model.AbbrName)</td>
        </tr>
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(model => model.Street)</td>
            <td>@Html.EditorFor(model => model.Street)@Html.ValidationMessageFor(model => model.Street)</td>
        </tr>
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(model => model.City)</td>
            <td>@Html.EditorFor(model => model.City)@Html.ValidationMessageFor(model => model.City)</td>
        </tr>
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(model => model.Zipcode)</td>
            <td>@Html.EditorFor(model => model.Zipcode)@Html.ValidationMessageFor(model => model.Zipcode)</td>
        </tr>
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(model => model.Email)</td>
            <td>@Html.EditorFor(model => model.Email)@Html.ValidationMessageFor(model => model.Email)</td>
        </tr>
        <tr>
        <td>
            <a class="return" href="@Url.Action("Index")">
                <img src="@Url.Content("~/Content/Images/return_button.png")", alt="@SchoolStrings.Back" />
                <span>@SchoolStrings.Back</span>
            </a>
        </td>
        <td class="crud_submit"><input type="submit" value="@SchoolStrings.Create" /></td>
    </tr>
    </table>
}
</div>