﻿@model TeamOPSchoolCup.Domain.POCO.School
@using TeamOPSchoolCup.Domain.Resources
@{
    ViewBag.Title = @Model.Name;
}
<link rel="Stylesheet" href="@Url.Content("~/Content/css/School.css")" type="text/css" />
<h1 class="titel">@Model.Name</h1>
<table>
    <tr class="crud_row">
        <td class="number">@Html.LabelFor(model => model.Name)</td>
        <td>@Html.DisplayFor(model => model.Name)</td>
    </tr>
    <tr class="crud_row">
        <td class="number">@Html.LabelFor(model => model.AbbrName)</td>
        <td>@Html.DisplayFor(model => model.AbbrName)</td>
    </tr>
    <tr class="crud_row">
        <td class="number">@Html.LabelFor(model => model.Street)</td>
        <td>@Html.DisplayFor(model => model.Street)</td>
    </tr>
    <tr class="crud_row">
        <td class="number">@Html.LabelFor(model => model.City)</td>
        <td>@Html.DisplayFor(model => model.City)</td>
    </tr>
    <tr class="crud_row">
        <td class="number">@Html.LabelFor(model => model.Zipcode)</td>
        <td>@Html.DisplayFor(model => model.Zipcode)</td>
    </tr>
    <tr class="crud_row">
        <td class="number">@Html.LabelFor(model => model.Email)</td>
        <td>@Html.DisplayFor(model => model.Email)</td>
    </tr>
    <tr>
        <td>
            <a class="return" href="@Url.Action("Index")">
                <img src="@Url.Content("~/Content/Images/return_button.png")", alt="@SchoolStrings.Back" />
                <span>@SchoolStrings.Back</span>
            </a>
        </td>
        
    </tr>
</table>
<div id="teams">
    <div class="title">@SchoolStrings.TeamsSchool</div>
    <div id="myteams">
        @{int index = 1;}
        @foreach (TeamOPSchoolCup.Domain.POCO.Team item in Model.Teams) {
            if (index % 2 == 0) {
                <div>
                    @index. @Html.ActionLink(item.Name, "Profile", "Team", new { id = item.TeamId }, null)
                </div>
            }
            else {
                <div class="normal">
                    @index. @Html.ActionLink(item.Name, "Profile", "Team", new { id = item.TeamId }, null)
                </div>
            }
            {index += 1;}
        }  
    </div>
</div>