﻿@using TeamOPSchoolCup.Domain.Resources
@{
    ViewBag.Title = SchoolStrings.ImportSchools;
}
<h1 class="titel">@SchoolStrings.ImportSchools</h1>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="content-form">
@using (Html.BeginForm("Import", "School", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <table>
        <tr class="crud_row">
            <td class="number">@SchoolStrings.File</td>
            <td><input type="file"  accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.csv"  name="file" /></td>
        </tr>
        <tr>
            <td>
                <a class="return" href="@Url.Action("Index")">
                    <img src="@Url.Content("~/Content/Images/return_button.png")", alt="@SchoolStrings.Back" />
                    <span>@SchoolStrings.Back</span>
                </a>
            </td>
            <td class="crud_submit"><input type="submit" value="@SchoolStrings.Import" /></td>
        </tr>
    </table>
}
</div>