﻿@model IEnumerable<TeamOPSchoolCup.Domain.POCO.School>
@using TeamOPSchoolCup.Domain.Resources
@{
    ViewBag.Title = SchoolStrings.Schools;
}
<h1 class="wrappertitel">@ViewBag.Title</h1>
<p class="actionLinksTop"><span id="add1">@Html.ActionLink(@SchoolStrings.CreateSchool,"Create")</span><span id="add2">@Html.ActionLink(@SchoolStrings.ImportSchools,"Import")</span></p>
<table class="alternatingRows">
    <tr class="header">
        <th class="head" id="numberheader"></th>
        <th class="head">@SchoolStrings.ModelAbbrName</th>
        <th class="head">@SchoolStrings.ModelName</th>
        <th class="head">@SchoolStrings.ModelXAddress</th>
        <th class="head">@SchoolStrings.ModelEmail</th>
        <th />
    </tr>
    @{int index = 1;}
    @foreach (var school in Model)
    {
        <tr>
            <td class="number">@index</td>
            <td class="infocell">@Html.ActionLink(school.AbbrName,"Details",new { id=school.SchoolId})</td>
            <td class="infocell">@Html.DisplayFor(modelItem => school.Name)</td>
            <td class="infocell">@Html.DisplayFor(modelItem => school.Street)<br />@Html.DisplayFor(modelItem => school.Zipcode) @Html.DisplayFor(modelItem => school.City)</td>
            <td class="infocell">@Html.DisplayFor(modelItem => school.Email)</td>
            <td><a title="Add an scc" href="@Url.Action("AddSCC", "Member", new { schoolemail = school.Email })">
                    <img class="addlogo" src="@Url.Content("~/Content/images/addlogo.png")" alt="Add SCC" />
                    <span>Add SCC</span></a></td>
        </tr>
        index += 1;
    }
</table>
        <div id="backDiv"><a class="return" href="@Url.Action("Index","Administration")">
            <img alt="back" src="@Url.Content("~/Content/images/return_button.png")" />
            <span>Back</span>
        </a></div>