﻿@model IEnumerable<TeamOPSchoolCup.Domain.POCO.Members.Student>
@{
    ViewBag.Title = "Index";
}

<h1 class="wrappertitel">Students</h1>

<table>
    <tr>
        <th>Name</th>
    </tr>
    @foreach (var student in Model)  {
    <tr>
        <td>@Html.DisplayFor(modelItem => student.Member.Name)</td>
    </tr>
    }
</table>
