* { margin: 0; padding: 0; outline: 0; }

body, html { height: 100%; }

body {
    font-size: 15px;
    line-height: 22px;
    font-family: 'Raleway', sans-serif;
    color: #727272;
    background: url(images/body-pattern.png) repeat 0 0;
    min-width: 100%;
}

#wrapper{padding-bottom: 50px;}

a { color: #923C87; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

article, aside, details, footer, header, menu, nav, section { display: block; }
input, textarea, select { font-size: 12px; font-family: arial, sans-serif; }
textarea { overflow: auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

.shell {box-shadow: 5px 5px #923c87; position: relative; margin: 115px auto 0 auto; border:1px solid #923c87; width: 900px; min-height: 1000px; padding-bottom: 55px;}

#top{position: absolute; top:0; left:0; border-bottom: 3px solid #923c87;background:white; height:100px; width:100%; min-width:910px; z-index:9999999999;}
#top-bar{height:30px; border-bottom: 1px dotted #923c87; width:100%}
.bar-content{width:900px; position:relative; margin:0 auto;}
#info{margin-left:10px;}
#info a{font-size: 13px; margin-top: 3px; color:#923c87; vertical-align: middle; width: 70px; float:left; text-shadow: 0 1px 1px rgba(0, 0, 0, .75);opacity:.9;}
#info a:hover{color: #403841; text-decoration: none; text-shadow:0 2px 2px rgba(0, 0, 0, .75);}

#bottom-bar{border-bottom:2px solid #923c87; height:70px; background:url(images/bottom-bar-pattern.png) 0 0 repeat-x;}

.search { width: 210px; float:right; margin-top:1px;}
.search input.field { float:left; width: 166px; padding:0 8px; height: 24px; line-height: 24px;  border: 1px solid #d3d3d3; font-size: 11px; color:#923c87; background: #ededed; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; }
.search input.search-btn { float:left;  font-size: 0; line-height: 0; text-indent: -4000px; cursor: pointer; width: 20px; height: 26px; border: 0; background: url(images/search-ico.png) no-repeat 0 0; }

nav{position:relative;
margin-top: 3px;
}

#navigation ul{background-color:transparant;
margin: 0 auto;
height:35px;
vertical-align:center;
}

#navigation  ul, li{
  list-style:none;
  display:inline;
  float:left;
  margin:10px 20px 0 20px;
}

#navigation ul li a{display:block;
text-decoration:none;
color:#923c87;  
text-shadow: 0 1px 1px rgba(0, 0, 0, .75);
opacity:.9;
font-size: 16px;
}

#navigation ul li a:hover{
text-decoration: none; 
text-shadow:0 2px 2px rgba(0, 0, 0, .75);
color: #766977;
}

#navigation ul li a:active{
color:#923c87;
opacity:1;
}

#navigation ul li:first-child { padding-left: 0; }
#logotitel{height:70px;
float:left;
margin-right:80px;}

#submenusc{position: absolute;
z-index: 99999999999;
top: 67px;
left: 450px;
background:white url(images/submenu1-pattern.png) 0 0 repeat-x;
border-bottom:3px solid #923c87;
border-radius:15px;
width: 420px;
height: 150px;
display:none;
}

#submenusc ul{width: 200px;
margin-top: 10px;
}

#submenusc ul li a{
color:#923c87;  
text-shadow: 0 1px 1px rgba(0, 0, 0, .75);
opacity:.9;
}

#submenusc ul li a:hover{
text-decoration: none; 
text-shadow:1px 2px 2px rgba(0, 0, 0, .75);
color: #766977;
}

#footer {border-top: 1px solid #923c87; height:30px; width:100%; background: url(images/bottom-bar-pattern50.png) repeat-x 0 0; position: fixed; bottom:0;}
.footer-nav ul {width: 900px; position:relative; margin:0 auto; list-style:none; list-style-position: outside; vertical-align: middle;}
.footer-nav ul li { padding:0 10px; font-size: 10px; line-height: 10px; }
.footer-nav ul li a { color: #afaca9; }
.footer-nav ul li.last { border-right: 0; }
