﻿@model TeamOPSchoolCup.Web.Helpers.PaginatedList<TeamOPSchoolCup.Domain.POCO.Result>
@using TeamOPSchoolCup.Domain.Resources;
@{
    ViewBag.Title = "_MyResultTable";
}
@if (Model.TotalCount > 0)
{
<table id="myResultTable" class="pagertable alternatingRows">
    <tr id="header">
        <th>
            Sport
        </th>
        <th>
            Team
        </th>
        <th>
            Meeting
        </th>
        <th>
            Event
        </th>
       
        <th>
            Result
        </th>
         <th>
            Official
        </th>
    </tr>
    
    @foreach (var item in Model)
    { 
        <tr>
            <td>@if (item.Event.Sport.Abbreviation.ToLower().Equals("ath"))
                {<img src="../../Content/images/Athletics.png" alt="athletics"/>}
                else
                {<img src="../../Content/images/Swimming.png" alt="swimming"/>}
            </td>
            <td>@TeamOPSchoolCup.Domain.Services.TeamService.GetTeam(item.TeamId).Name
            </td>
            <td>@item.Meeting.Name
            </td>
            <td>@item.Event.Name
            </td>
            <td>@item.ResultScore
            </td>
            <td>@if (item.Event.IsOfficial)
                {<img src="../../Content/images/checkbox40x40_checked.png" alt="official"/>}
            </td>
            
        </tr>
    }
   
    <tr class="tablebottomactions">
        <td>
            @if (Model.PageIndex > 0)
            { 
                <a class="pager" id="previous"><img src="@Url.Content("~/Content/images/return_button.png")" alt="@SharedStrings.Previous" /><span>@SharedStrings.Previous</span></a>
            }
        </td>
        <td></td><td></td><td></td><td></td>
        <td>
            @if (Model.HasNextPage && Model.PageIndex < Model.TotalPages)
            {
               <a class="pager" id="next"><span>@SharedStrings.Next</span><img src="@Url.Content("~/Content/images/next_button.png")" alt="@SharedStrings.Next" /></a>
            } 
        </td>
        
    </tr>
</table>
 }
    else
    {
        <p class="center">@SharedStrings.noresults</p>
    }