﻿@using TeamOPSchoolCup.Domain.Resources

<div id="schoolCupNav">
    <a title="My School Cup" href="@Url.Action("SchoolCup", "SchoolCup")">
        <img alt="myresults" src="@Url.Content("~/Content/images/home.png")" />
        <span class="MSCoptionSpan">SchoolCup</span>
    </a>
    @if (Roles.IsUserInRole(User.Identity.Name,"Student"))
    {
    <a title="My Results" href="@Url.Action("MyResults", "SchoolCup")">
        <img alt="myresults" src="@Url.Content("~/Content/images/myresults.png")" />
        <span class="MSCoptionSpan">MyResults</span>
    </a>
    <a title="Add a result" href="@Url.Action("CreateSingle", "Result")">
        <img alt="Add a result" src="@Url.Content("~/Content/images/addresults.png")" />
        <span class="MSCoptionSpan">Add Result</span>
    </a>
    }
    <a title="Profile Details" href="@Url.Action("ProfileDetails", "Member")">
        <img alt="ProfileDetails" src="@Url.Content("~/Content/images/setting.png")" />
        <span class="MSCoptionSpan">Details</span>
    </a>
   
</div>

