﻿@model TeamOPSchoolCup.Web.Helpers.PaginatedList<TeamOPSchoolCup.Domain.POCO.Members.Student>
@using TeamOPSchoolCup.Domain.Services;
@using TeamOPSchoolCup.Domain.POCO.Members;
@using TeamOPSchoolCup.Domain.Resources.GraphStrings;
@using TeamOPSchoolCup.Domain.Resources;
@if (Model.Count > 0)
{
    <p id="studentPicker">@GraphStrings.StudentPicker</p>
    <h3 id="searchTitle">
        Student Results</h3>
    <table id="student_results" class="pagertable alternatingRows">
        <tr class="header">
            <th id="check">
            </th>
            <th id="type">
                Student Name
            </th>
            <th id="result">
                Region
            </th>
        </tr>
        @foreach (var obj in Model)
        {
            if (SearchService.GetType(obj) == typeof(Student))
            {
                Student stud = (Student)obj;
            <tr id="row">
                @if (stud.MemberId != MemberService.GetMember(email: User.Identity.Name).MemberId)
                {
                       
                    <td class="compare">
                        <input name="add_student" value="@Html.DisplayFor(modelitem => stud.MemberId)" type="checkbox" id="add_student"   />
                    </td>
                    <td>@stud.Member.Name
                    </td>
                    <td>@RegionService.GetRegionOfMember(stud.MemberId).Name
                    </td>
                }
            </tr>
    
            }
        }
        <tr class="tablebottomactions">
        <td>
            @if (Model.PageIndex > 0)
            { 
                <a class="pager" id="previous"><img src="@Url.Content("~/Content/images/return_button.png")" alt="@SharedStrings.Previous" /><span>@SharedStrings.Previous</span></a>
            }
        </td>
        <td id="nextparent">
            @if (Model.HasNextPage && Model.PageIndex < Model.TotalPages)
            {
                <a class="pager" id="next"><span>@SharedStrings.Next</span><img src="@Url.Content("~/Content/images/next_button.png")" alt="@SharedStrings.Next" /></a>
            }
        </td>
        </tr>
    </table>
}
else
{  <p id="nodata">@Search.NoStudentsFound</p>
    
    <p class="alternatepager"><a class="pager" id="previous"><img src="@Url.Content("~/Content/images/return_button.png")" alt="@SharedStrings.Previous" /><span>@SharedStrings.Previous</span></a></p>
     
}
