﻿@using TeamOPSchoolCup.Domain.Resources
@using TeamOPSchoolCup.Domain.POCO
@using TeamOPSchoolCup.Domain.Services
<div id="student_rankings">
    <table class="filters">
           <tr>
                <td>@RankingStrings.Sport</td>
                <td>@RankingStrings.Event</td>
                <td>@RankingStrings.Regions</td>
                <td>@RankingStrings.Year</td>
                <td>@RankingStrings.Gender</td>
                <td>@RankingStrings.Age</td>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Student"))
                {
                    <td>@RankingStrings.Me</td>
                }
                <td>@RankingStrings.Compare</td>
           </tr>
           <tr>
                <td class="selectFilter"><label>@Html.DropDownList("student_sports")</label></td>
                <td class="selectFilter"><label>@Html.DropDownList("student_events")</label></td>
                <td class="selectFilter">
                    <label>
                        <select id="student_regions">
                        <option value="1">World </option>  
                            @foreach (TeamOPSchoolCup.Domain.POCO.Region continent in ViewBag.student_regions) {
                                if (continent.ParentId == 1)
                                {
                                    <option value="@Html.DisplayFor(modelitem => continent.RegionId)">@Html.DisplayFor(modelItem => continent.Name)  </option>  
                                    foreach (TeamOPSchoolCup.Domain.POCO.Region country in ViewBag.student_regions)
                                    {

                                        if (country.ParentId == continent.RegionId)
                                        {
                                          <option value="@Html.DisplayFor(modelitem => country.RegionId)">&nbsp; @Html.DisplayFor(modelItem => country.Name)  </option>
                                            foreach (TeamOPSchoolCup.Domain.POCO.Region region in ViewBag.student_regions)
                                            {
                                                if (region.ParentId == country.RegionId)
                                                {
                                                        <option value="@Html.DisplayFor(modelitem => region.RegionId)">&nbsp; &nbsp; &nbsp; @Html.DisplayFor(modelItem => region.Name)  </option>  
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        </select>
                    </label>
                </td>
           <td class="selectFilter"><label>@Html.DropDownList("student_years", String.Empty)</label></td>
           <td class="selectFilter"><label>@Html.DropDownList("student_genders")</label></td>
           <td class="selectFilter"><label>@Html.DropDownList("student_ages", String.Empty)</label></td>
           @if (User.Identity.IsAuthenticated && User.IsInRole("Student"))
           {
                <td class="selectFilter"><input type="checkbox" id="compare_me" value="@MemberService.GetMember(email: User.Identity.Name).MemberId" /></td>
           }
           <td class="selectFilter"><input type="button" id="compare" name="compare" value="Compare"/></td>
           </tr>

    </table>

        @Html.Action("LoadStudentRankings", "Ranking")
    </div>