﻿@model TeamOPSchoolCup.Web.Helpers.PaginatedList<TeamOPSchoolCup.Domain.POCO.Ranking.BestStudentResult>
@using TeamOPSchoolCup.Domain.Resources

<table  id="student_rankingtable" class="pagertable">
@if (Model.TotalCount > 0)
{
    <tr class="header">
        <th id="rank" />
        <th id="name">@RankingStrings.Name</th>
        <th id="meeting">@RankingStrings.Meeting</th>
        <th id="measure">@RankingStrings.Measure</th>
        <th id="points">@RankingStrings.Result</th>
        <th id="compare">@RankingStrings.Compare</th>

    </tr> 
    int index = 1;
    index = (Model.PageIndex * Model.PageSize) + 1;
    foreach (var rank in Model)
    {
        <tr id="row">
            <td class="number">
                @index
            </td>
            <td class="ranking">
                @Html.ActionLink(rank.Student.Member.Name, "Profile", "Member", new { id = rank.Student.MemberId }, htmlAttributes: new { @class = "profile_link" })    
            </td>
            <td class="ranking">
                 @Html.ActionLink(rank.Result.Meeting.Name, "Detail", "Meeting", new { id = rank.Result.MeetingId }, htmlAttributes: new { @class = "profile_link" })   
            </td>
            <td class="ranking">
                @Html.DisplayFor(modelItem => rank.Event.Unit)  
            </td>
            <td class="ranking">
                @Html.DisplayFor(modelItem => rank.Result.ResultScore)    
            </td>
            <td class="compare"><input name="student_compare" value="@Html.DisplayFor(modelitem => rank.MemberId)" type="checkbox" id="student_compare" /></td>
            @{ index += 1; }
        </tr>
    }  
    <tr class="tablebottomactions">
        <td colspan="2">
            @if (Model.PageIndex > 0)
            { 
                <a class="pager" id="previous"><img src="@Url.Content("~/Content/images/return_button.png")" alt="@SharedStrings.Previous" /><span>@SharedStrings.Previous</span></a>
            }
        </td>
        <td></td><td></td>
        <td id="nextparent" colspan="2">
            @if (Model.HasNextPage && Model.PageIndex < Model.TotalPages)
            {
               <a class="pager" id="next"><span>@SharedStrings.Next</span><img src="@Url.Content("~/Content/images/next_button.png")" alt="@SharedStrings.Next" /></a>
            } 
        </td>
        
    </tr>

}
else
{ 
    <tr><td>@RankingStrings.NoRankingsFound</td></tr>
}
</table>
