﻿@using TeamOPSchoolCup.Domain.Resources
<div id="team_rankings">
    <table class="filters">
           <tr>
                <td>@RankingStrings.Sport</td>
                <td>@RankingStrings.Regions</td>
                <td>@RankingStrings.Year</td>
                <td>@RankingStrings.Gender</td>
                <td>@RankingStrings.Compare</td>
           </tr>
           <tr>
                <td class="selectFilter"><label>@Html.DropDownList("team_sports")</label></td>
                <td class="selectFilter">
                    <label>
                        <select id="team_regions">
                            <option value="1">World </option>  
                            @foreach (TeamOPSchoolCup.Domain.POCO.Region continent in ViewBag.team_regions)
                            {
                                if (continent.ParentId == 1 )
                                {
                                    <option value="@Html.DisplayFor(modelitem => continent.RegionId)">@Html.DisplayFor(modelItem => continent.Name)  </option>  
                                    foreach (TeamOPSchoolCup.Domain.POCO.Region country in ViewBag.team_regions)
                                    {
                                        if (country.ParentId == continent.RegionId)
                                        {
                                          <option value="@Html.DisplayFor(modelitem => country.RegionId)">&nbsp; @Html.DisplayFor(modelItem => country.Name)  </option>
                                            foreach (TeamOPSchoolCup.Domain.POCO.Region region in ViewBag.team_regions)
                                            {
                                                if (region.ParentId == country.RegionId)
                                                {
                                                        <option value="@Html.DisplayFor(modelitem => region.RegionId)">&nbsp; &nbsp; &nbsp; @Html.DisplayFor(modelItem => region.Name)  </option>  
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        </select>
                    </label>
                </td>
            <td class="selectFilter"><label>@Html.DropDownList("team_years", String.Empty)</label></td>
            <td class="selectFilter"><label>@Html.DropDownList("team_genders")</label></td>
            <td class="selectFilter"><input type="button" id="compareTeam" name="compareTeam" value="Compare"/></td>
           </tr>

    </table>
    @Html.Action("LoadTeamRankings", "Ranking", new { sportId = ((SelectList)ViewBag.team_sports).First().Value })
</div>