﻿@model TeamOPSchoolCup.Web.Helpers.PaginatedList<TeamOPSchoolCup.Domain.POCO.Ranking.BestTeamResult>
@using TeamOPSchoolCup.Domain.Resources
<table id="team_rankingtable" class="pagertable">
@if (Model.TotalCount > 0)
{
    <tr class="header">
        <th id="rank" />
        <th id="name">@RankingStrings.Name</th>
        <th id="school">@RankingStrings.School</th>
        <th id="meeting">@RankingStrings.Meeting</th>
        <th id="points">@RankingStrings.Result</th>
        @if (Model.First().CompetitionYear == DateTime.Today.Year)
        {
            <th id="compare">@RankingStrings.Compare</th>
        }
    </tr>
    int index = 1;
    index = (Model.PageIndex * Model.PageSize) + 1;
    foreach (var rank in Model)
    {
        <tr id="row">
            <td class="number">
                @index
            </td>
            <td class="ranking">
                @Html.ActionLink(rank.TeamResult.Team.Name, "Profile", "Team", new { id = rank.TeamResult.Team.TeamId }, htmlAttributes: new { @class = "profile_link" })    
            </td>
             <td class="ranking">
                @Html.DisplayFor(modelItem => rank.TeamResult.Team.School.Name)    
            </td>
            <td class="ranking">
                @Html.ActionLink(rank.TeamResult.Meeting.Name, "Detail", "Meeting", new { id = rank.TeamResult.MeetingId }, htmlAttributes: new { @class = "profile_link" })   
            </td>
            <td class="ranking">
                @Html.DisplayFor(modelItem => rank.TeamResult.PointValue)    
            </td>
            @if (Model.First().CompetitionYear == DateTime.Today.Year)
            {
                <td class="compare"><input name="team_compare" value="@Html.DisplayFor(modelitem => rank.TeamId)" type="checkbox" id="team_compare" /></td>
            }
            @{ index += 1; }
        </tr>
    }  
    <tr class="tablebottomactions">
       <td colspan="2">
            @if (Model.PageIndex > 0)
            { 
                <a class="pager" id="previous"><img src="@Url.Content("~/Content/images/return_button.png")" alt="@SharedStrings.Previous" /><span>@SharedStrings.Previous</span></a>
            }
        </td>
        <td></td>
        @if (Model.First().CompetitionYear == DateTime.Today.Year)
        { <td></td> }
        <td id="nextparent" colspan="2">
            @if (Model.HasNextPage && Model.PageIndex < Model.TotalPages)
            {
               <a class="pager" id="next"><span>@SharedStrings.Next</span><img src="@Url.Content("~/Content/images/next_button.png")" alt="@SharedStrings.Next" /></a>
            } 
        </td>
    </tr>
}
else
{ 
    <tr><td>@RankingStrings.NoRankingsFound</td></tr>
}
</table>
