﻿@model TeamOPSchoolCup.Domain.DTO.NSSFRegion
@using TeamOPSchoolCup.Domain.Resources
@{
    ViewBag.Title = "Create";
}

@section nssf{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Administration.css")" type="text/css" />
}

<h2 class="wrappertitel">Create NSSF</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div id="content-form">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <table>
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(model => model.Name)</td>
            <td>
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </td>
        </tr>
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(model => model.Street)</td>
            <td>
                @Html.EditorFor(model => model.Street)
                @Html.ValidationMessageFor(model => model.Street)
            </td>
        </tr>
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(model => model.Zipcode)</td>
            <td>
                @Html.EditorFor(model => model.Zipcode)
                @Html.ValidationMessageFor(model => model.Zipcode)
            </td>
        </tr>
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(model => model.City)</td>
            <td>
                @Html.EditorFor(model => model.City)
                @Html.ValidationMessageFor(model => model.City)
            </td>
        </tr>
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(model => model.Country)</td>
            <td>
                @Html.EditorFor(model => model.Country)
                @Html.ValidationMessageFor(model => model.Country)
            </td>
        </tr>
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(model => model.PhoneNumber)</td>
            <td>
                @Html.EditorFor(model => model.PhoneNumber)
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </td>
        </tr>
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(model => model.FaxNumber)</td>
            <td>
                @Html.EditorFor(model => model.FaxNumber)
                @Html.ValidationMessageFor(model => model.FaxNumber)
            </td>
        </tr>
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(model => model.Email)</td>
            <td>
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </td>
        </tr>
        
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(model => model.RegionId, "Region")</td>
            <td>
                @Html.DropDownList("RegionId")
                @Html.ValidationMessageFor(model => model.RegionId)
            </td>
        </tr>
        <tr>
            <td>
                <a class="return" href="@Url.Action("Index")">
                    <img src="@Url.Content("~/Content/Images/return_button.png")", alt="Back" />
                    <span>Back</span>
                </a>
            </td>
            <td class="crud_submit"><input type="submit" value="Create" /></td>
        </tr>
    </table>
   
}
</div>
