﻿@model IEnumerable<TeamOPSchoolCup.Domain.POCO.NSSF>
@using TeamOPSchoolCup.Domain.Resources
@{
    ViewBag.Title = "Index";
}
<h2 class="wrappertitel">@SharedStrings.na</h2>
@section region{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Administration.css")" type="text/css" />
}
<div id="add">
    <p id="add1">
        <a title="@SharedStrings.ao" href="@Url.Action("Create")">
            <img class="addlogo" alt="add" src="@Url.Content("~/Content/images/addlogo.png")" />
            <span>
                @SharedStrings.ao
            </span>
        </a>
    </p>
</div>
<table id="nssftable" class="alternatingRows">
    <tr id="header">
        <th class="head" id="numberHeader">
            Name
        </th>
        <th class="head">
            Email
        </th>
        <th class="head">
            DateAdded
        </th>
        <th>
            NSSFRep
        </th>
        <th class="head">
            Region
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @if(TeamOPSchoolCup.Domain.Services.NSSFService.GetNSSFRepOfNSSF(item)!= null){@TeamOPSchoolCup.Domain.Services.NSSFService.GetNSSFRepOfNSSF(item).Member.Name} 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region.Name)
            </td>
            <td>
                <a title="Edit NSSF" href="@Url.Action("Edit", new { id = item.NSSFId })"><img class="addlogo" src="@Url.Content("~/Content/images/gear.png")" alt="Edit NSSFRep" /></a> | <a>make inactive</a> |
                <a title="Add a NSFFREP" href="@Url.Action("AddNSSFRep", "Member", new { nssfemail = item.Email })">
                    <img class="addlogo" src="@Url.Content("~/Content/images/addlogo.png")" alt="Add NSSFRep" />
                    </a>
            </td>
        </tr>
    }
</table>
<p id="back"><a href="@Url.Action("Index","Administration")">Go Back</a></p>
