﻿body {
    font-family: 'Raleway', sans-serif;
}

.hidden {
    display: none;
}

#table {
    margin: 0 auto;
}

td.number {
    background: rgba(146,60,135,.8);
    color: white;
    text-align: center;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

input[type="submit"] {
    padding: 5px;
    margin-top: 10px;
    color: #923c87;
    width: 60px;
    height: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    cursor: pointer;
    background-color: White;
    border-radius: .5em;
    border: solid 1px #923c87;
    background: white;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#cdcecf));
    background: -moz-linear-gradient(top, white, #cdcecf);
}

    input[type="submit"]:hover {
        background: white;
        background: -webkit-gradient(linear, left top, left bottom, from(white), to(#bab6b9));
        background: -moz-linear-gradient(top, white, #cdcfff);
    }

#MobileAccessKey, #IsStudent{
    display: none;
}

