﻿@model Nullable<System.DateTime>
@using TeamOPSchoolCup.Domain.Resources
@using TeamOPSchoolCup.Domain.DTO
@if ( Model.HasValue ) {
   @Html.TextBox( "" , String.Format( "{0:yyyy-MM-dd}" , Model.Value ) , new  { @class = "textbox" } )
}
else {
   @Html.TextBox( "" , "" , new { @class = "textbox" } )
}

@{
string name = ViewData.TemplateInfo.HtmlFieldPrefix;
string id = name.Replace( ".", "_" );
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#@id").datepicker
            ({
                dateFormat: 'yy-mm-dd',
                showStatus: true,
                showWeeks: true,
                highlightWeek: true,
                firstDay:1,
                numberOfMonths: 1,
                showAnim: "scale",
                changeMonth: true,
                changeYear: true,
                showOptions: {
                    origin: ["top", "left"]
                },
                dayNames: [ "@SharedStrings.DaySunday",  "@SharedStrings.DayMonday",  "@SharedStrings.DayTuesday",  "@SharedStrings.DayWednesday",  "@SharedStrings.DayThursday",  "@SharedStrings.DayFriday",  "@SharedStrings.DaySaturday" ],
                dayNamesMin: [ "@SharedStrings.DaySundayShort", "@SharedStrings.DayMondayShort", "@SharedStrings.DayTuesdayShort", "@SharedStrings.DayWednesdayShort", "@SharedStrings.DayThursdayShort", "@SharedStrings.DayFridayShort", "@SharedStrings.DaySaturdayShort" ],
                monthNames: [ "@SharedStrings.MonthJan","@SharedStrings.MonthFeb","@SharedStrings.MonthMar","@SharedStrings.MonthApr","@SharedStrings.MonthMay","@SharedStrings.MonthJun","@SharedStrings.MonthJul","@SharedStrings.MonthAug","@SharedStrings.MonthSep","@SharedStrings.MonthOct","@SharedStrings.MonthNov","@SharedStrings.MonthDec"],
                nextText: "@SharedStrings.Next",
                prevText: "@SharedStrings.Previous"
                @if (ViewBag.DateDropType==null) { ViewBag.DateDropType=DateType.NORESTRICTIONS; }
                @switch ((DateType)ViewBag.DateDropType) {
                    case DateType.FUTURE:
                        if (Model.HasValue) {
                            <text>,minDate:new Date(@Model.Value.Year,@Model.Value.Month-1,@Model.Value.Day),yearRange:"@Model.Value.Year:+90"</text>
                        } else {
                            <text>,minDate:0,yearRange:"c:+90"</text>
                        }
                        break;
                    case DateType.STUDENTBIRTHDAY:
                        <text>,yearRange: "-18:-15",defaultDate:"-18y"</text>
                        break;
                    case DateType.PAST:
                        <text>,yearRange: "-90:c"</text>
                        break;
                    default:
                    case DateType.NORESTRICTIONS:
                        //Nothing
                        break;
                }
            });
    });
</script>