﻿@model TeamOPSchoolCup.Domain.POCO.Event

@{
    ViewBag.Title = "Create a new event";
}

@section event{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Event.css")" type="text/css" />
}

<h1 class="titel">@ViewBag.Title</h1>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="content-form">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <table>
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(model => model.Name)</td>
            <td>
                 @Html.EditorFor(model => model.Name)
                 @Html.ValidationMessageFor(model => model.Name)
            </td>
        </tr>
        <tr class="crud_row">
            <td class="number"> @Html.LabelFor(model => model.Unit)</td>
            <td>
                 @Html.DropDownListFor(model => model.Unit, new SelectList(Enum.GetValues(typeof(TeamOPSchoolCup.Domain.POCO.Event.EUnit))))
                 @Html.ValidationMessageFor(model => model.Unit)
            </td>
        </tr>
        <tr>
            <td class="number">@TeamOPSchoolCup.Domain.Resources.EventStrings.Official</td>
            <td>
                 @Html.EditorFor(model => model.IsOfficial)
                 @Html.ValidationMessageFor(model => model.IsOfficial)
            </td>
        </tr>    
         <tr>
            <td class="number">@TeamOPSchoolCup.Domain.Resources.EventStrings.ScoringDirection</td>
            <td>
                 @Html.DropDownListFor(model => model.Directionality, new SelectList(Enum.GetValues(typeof(TeamOPSchoolCup.Domain.POCO.Event.EDirectionality))))
                 @Html.ValidationMessageFor(model => model.Unit)
            </td>
        </tr>   
         <tr>
            <td class="number">@TeamOPSchoolCup.Domain.Resources.EventStrings.MinimumScore</td>
            <td>
                 @Html.EditorFor(model => model.MinimumValue)
                 @Html.ValidationMessageFor(model => model.MinimumValue)
            </td>
        </tr> 
        <tr>
            <td class="number">@TeamOPSchoolCup.Domain.Resources.EventStrings.MaximumScore</td>
            <td>
                 @Html.EditorFor(model => model.MaximumValue)
                 @Html.ValidationMessageFor(model => model.MaximumValue)
            </td>
        </tr> 
         <tr>
            <td class="number">@Html.LabelFor(model => model.SportId, "Sport")</td>
            <td>
                @Html.DropDownList("SportId")
                @Html.ValidationMessageFor(model => model.SportId)
            </td>
        </tr> 
         <tr class="crud_row">
            <td class="number">@Html.LabelFor(model => model.NSSFId, "NSSF")</td>
            <td>
                @Html.DropDownList("NSSFId")
                @Html.ValidationMessageFor(model => model.NSSFId)
            </td>
        </tr>     

            <tr>
                <td>
                    <a class="return" href="@Url.Action("Index")">
                      <img src="@Url.Content("~/Content/Images/return_button.png")", alt="Edit" />
                      <span>@TeamOPSchoolCup.Domain.Resources.SharedStrings.back</span>
                    </a>
                </td>
                <td class="crud_submit"><input type="submit" value="Create" /></td>
            </tr>
        </table>
}


</div>
