﻿@model TeamOPSchoolCup.Domain.POCO.Event

@{
    ViewBag.Title = "Delete";
}

<h1 class="titel">@ViewBag.Title @Model.Name</h1>

<div class="content-form">
@using (Html.BeginForm())
{
<h3>Are you sure you want to delete this?</h3>
    @Html.HiddenFor(model => model.EventId)
<table>
   <tr class="crud_row">
        <td class="number"> @Html.LabelFor(model => model.Name) </td>
        <td>
            @Html.DisplayFor(model => model.Name)
        </td>
    </tr>

    <tr class="crud_row">
        <td class="number"> @Html.LabelFor(model => model.Unit)</td>
        <td>
            @Html.DisplayFor(model => model.Unit)
        </td>
    </tr>

    <tr>
        <td class="number">Official</td>
        <td>
             @Html.DisplayFor(model => model.IsOfficial)
        </td>
    </tr> 

        <tr class="crud_row">
        <td class="number">@Html.LabelFor(model => model.NSSFId, "NSSF")</td>
        <td>
            @Html.DisplayFor(model => model.NSSF.Name)
        </td>
    </tr>   
    <tr>
        <td>
            <a class="return" href="@Url.Action("Index")">
                <img src="@Url.Content("~/Content/Images/return_button.png")", alt="Edit" />
                <span>Back</span>
            </a>
        </td>
        <td class="crud_submit"><input type="submit" value="Delete" /></td>
    </tr>
</table>
}
</div>