﻿@model TeamOPSchoolCup.Domain.POCO.Event

@{
    ViewBag.Title = "Edit";
}

<h1 class="titel">@ViewBag.Title @Model.Name</h1>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="content-form">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
  <table>
        @Html.HiddenFor(model => model.EventId)
        <tr class="crud_row">
             <td class="number"> @Html.LabelFor(model => model.Name) </td>
             <td>
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
             </td>
         </tr>

        <tr class="crud_row">
            <td class="number"> @Html.LabelFor(model => model.Unit)</td>
            <td>
                 @Html.DropDownListFor(model => model.Unit, new SelectList(Enum.GetValues(typeof(TeamOPSchoolCup.Domain.POCO.Event.EUnit))))
                 @Html.ValidationMessageFor(model => model.Unit)
            </td>
        </tr>

        <tr>
            <td class="number">Official</td>
            <td>
                 @Html.EditorFor(model => model.IsOfficial)
                 @Html.ValidationMessageFor(model => model.IsOfficial)
            </td>
        </tr> 

         <tr class="crud_row">
            <td class="number">@Html.LabelFor(model => model.NSSFId, "NSSF")</td>
            <td>
                @Html.DropDownList("NSSFId", String.Empty)
                @Html.ValidationMessageFor(model => model.NSSFId)
            </td>
        </tr>   
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(model => model.SportId, "Sport")</td>
            <td>
                @Html.DropDownList("SportId",String.Empty)
                @Html.ValidationMessageFor(model => model.SportId)
            </td>
        </tr>  

            <tr>
                <td>
                    <a class="return" href="@Url.Action("Index")">
                      <img src="@Url.Content("~/Content/Images/return_button.png")", alt="Edit" />
                      <span>Back</span>
                    </a>
                </td>
                <td class="crud_submit"><input type="submit" value="Save" /></td>
            </tr>
    </table>
}

</div>
