﻿@model IEnumerable<TeamOPSchoolCup.Domain.POCO.Event>

@{
    ViewBag.Title = "Events";
}

@section event{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Event.css")" type="text/css" />
}


<h1 class="wrappertitel">@ViewBag.Title</h1>

<div id="addbutton">
    <a title="Add a new Event" href="@Url.Action("Create")">
        <img class="addlogo" src="@Url.Content("~/Content/images/addlogo.png")" alt="add" />
    <span>Create New</span></a>
</div>
<table class="alternatingRows">
    <tr class="header">
        <th class="numberHeader" />
        <th>@TeamOPSchoolCup.Domain.Resources.RankingStrings.Name</th>
        <th>@TeamOPSchoolCup.Domain.Resources.RankingStrings.Measure</th>
        <th>@TeamOPSchoolCup.Domain.Resources.EventStrings.ScoringDirection</th>
        <th>@TeamOPSchoolCup.Domain.Resources.RankingStrings.Sport</th>
        <th></th>
    </tr>
@{int index = 1;}
@foreach (var item in Model)
{
    <tr>
        <td class="number">
            @index
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit)
        </td>
        <td class="center">
            @Html.DisplayFor(modelItem => item.Directionality)
        </td>
         <td class="center">
            @Html.DisplayFor(modelItem => item.Sport.Abbreviation)
        </td>
        <td class="last">
            <a title="Edit" href="@Url.Action("Edit", new { id = item.EventId})"><img alt="edit" src="@Url.Content("~/Content/images/gear.png")"</a>
        </td>
        @{ index += 1; }
    </tr>
}

</table>
