﻿@model TeamOPSchoolCup.Web.Helpers.PaginatedList<TeamOPSchoolCup.Domain.POCO.Result>
@using TeamOPSchoolCup.Domain.Resources
<table id="result_table" class="pagertable alternatingRows">
    <tr class="header">
        <th>
            ResultScore
        </th>
        <th>
            IsOfficial
        </th>
        <th>
            Event
        </th>
        <th>
            Student
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="number">
            @Html.DisplayFor(modelItem => item.ResultScore)
        </td>

        <td class="ranking">
            @if (item.Event.IsOfficial && item.Meeting.IsOfficial) {<img src="../../Content/images/checkbox40x40_checked.png" alt="official"/>}
        </td>
       
        <td class="ranking">
            @Html.DisplayFor(modelItem => item.Event.Name)
        </td>
        <td class="ranking">
            @Html.DisplayFor(modelItem => item.TeamMembership.Student.Member.Name)
        </td>
        <td class="ranking">
            @Html.ActionLink("Edit", "Edit", new { id=item.ResultId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ResultId })
        </td>
    </tr>
    
}
<tr class="tablebottomactions">
       <td>
            @if (Model.PageIndex > 0) { 
                <a class="pager" id="previous"><img src="@Url.Content("~/Content/images/return_button.png")" alt="@SharedStrings.Previous" /><span>@SharedStrings.Previous</span></a>
            }
        </td>
        <td></td><td></td><td></td>
        <td id="nextparent">
            @if (Model.HasNextPage && Model.PageIndex < Model.TotalPages)
            {
               <a class="pager" id="next"><span>@SharedStrings.Next</span><img src="@Url.Content("~/Content/images/next_button.png")" alt="@SharedStrings.Next" /></a>
            } 
        </td>
        </tr>
</table>
