﻿@model TeamOPSchoolCup.Domain.POCO.Team

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Team</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Photo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Photo)
    </div>

    <div class="display-label">Logo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Logo)
    </div>

    <div class="display-label">Gender</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gender)
    </div>

    <div class="display-label">Coach</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Coach.Photo)
    </div>

    <div class="display-label">Students</div>
    <div class="display-field">
        <ul>
        @foreach (TeamOPSchoolCup.Domain.POCO.TeamMembership tm in Model.TeamMemberships)
        {
            <li>@tm.Student.Member.Name</li>
        }
        </ul>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TeamId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
