﻿@model TeamOPSchoolCup.Domain.POCO.Result
@using TeamOPSchoolCup.Domain.Resources
@using TeamOPSchoolCup.Domain.POCO
@{
    ViewBag.Title = "CreateSingle";
}
@section results {
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Result.js")" type="text/javascript"></script>
<script>var memberType="@ViewBag.MemberType";</script>
}
<h1 class="wrappertitel">CreateSingle</h1>
<div class="content-form">

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    if (ViewBag.MemberType.Equals("Student")) { @Html.Hidden("MemberId", (Guid)ViewBag.MemberId); }
    <table>
        @if (ViewBag.Meeting == null)
        {
            <tr class="crud_row">
                <td class="number">@Html.LabelFor(model => model.TeamId, @TeamStrings.Team)</td>
                <td>@Html.DropDownList("TeamId", (IEnumerable<SelectListItem>)ViewBag.Teams, String.Empty)</td>
            </tr>
            <tr class="crud_row">
                <td class="number">@Html.LabelFor(model => model.Meeting)</td>
                <td><select name="MeetingId" id="MeetingId"></select></td>
            </tr>
            <tr class="crud_row">
                <td class="number">@Html.LabelFor(model => model.Event)</td>
                <td><select name="EventId" id="EventId"></select></td>
            </tr>
        }
        else
        {
            @Html.Hidden("TeamId", (int)ViewBag.Team.TeamId)
            @Html.Hidden("MeetingId",(int)ViewBag.Meeting.MeetingId)
            <tr class="crud_row">
                <td class="number">@Html.LabelFor(model => model.Event)</td>
                <td><select name="EventId" id="EventId">
                    @foreach (Event pEvent in ((Meeting)ViewBag.Meeting).Events)
                    {
                        <option value="@pEvent.EventId">@pEvent.Name</option>
                    }
                </select></td>
            </tr>
        }
        @if (ViewBag.MemberType.Equals("Coach"))
        {
            <tr class="crud_row">
                <td class="number">@Html.LabelFor(model => model.MemberId,"Student")</td>
                <td><select name="MemberId" id="MemberId"></select></td>
            </tr>
        }
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(model => model.ResultScore)</td>
            <td>@Html.EditorFor(model => model.ResultScore)@Html.ValidationMessageFor(model => model.ResultScore)</td>
        </tr>
        
        <tr>
            <td>
                <a class="return" href="@Url.Action("SchoolCup","SchoolCup")">
                    <img src="@Url.Content("~/Content/Images/return_button.png")", alt="Back" />
                    <span>Back</span>
                </a>
            </td>
            <td class="crud_submit"><input type="submit" value="Create" /></td>
        </tr>
    </table>
}
</div>