﻿@model TeamOPSchoolCup.Domain.DTO.Meetings.ResultsBulkCreate
@{
    ViewBag.Title = "Create";
}

<h1 class="wrappertitel">Create</h1>
@section results {
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">var createType=@ViewBag.Type;var sport=@ViewBag.Sport;var nextRow=@ViewBag.InitialAmountOfRows;</script>
<script src="@Url.Content("~/Scripts/Result.js")" type="text/javascript"></script>
<link rel="Stylesheet" href="@Url.Content("~/Content/css/Result.css")" />
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.Hidden("MeetingId", (int)ViewBag.MeetingId);
    <p class="actionLinksTop"><span id="add1"><a href="#">Add a row</a></span></p>
    <table class="alternatingRows" id="resultCreateCrudTable">
        <tr class="header">
            <th class="head">Score</th>
            <th class="head">Event</th>
            @if (ViewBag.Type == 1) { <th class="head">Region</th> }
            @if (ViewBag.Type == 1 || ViewBag.Type == 2) { <th class="head">School</th><th class="head">Team</th> }
            <th class="head">Student</th>
        </tr>
        @for (int i = 0; i < ViewBag.InitialAmountOfRows; i++)
        {
        <tr>
            <td><input name="ResultNodes[@i].ResultScore" type="text" /></td>
            <td><select name="ResultNodes[@i].Event">
                @foreach (TeamOPSchoolCup.Domain.POCO.Event pEvent in ViewBag.Events)
                {
                    <option value="@pEvent.EventId">@pEvent.Name</option>
                }
            </select></td>
            @if (ViewBag.Type == 1)
            {
                <td><select class="regionsSelect" data-row="@i">
                    @foreach (KeyValuePair<int,string> reg in ViewBag.Regions2)
                    {
                        <option value="@reg.Key">@Html.Raw(reg.Value)</option>
                    }
                </select></td>
                <td><select class="schoolsSelect" data-row="@i" disabled="disabled"></select></td>
            }
            @if (ViewBag.Type == 2)
            {
                <td><select class="schoolsSelect" data-row="@i">
                    <option></option>
                    @foreach (TeamOPSchoolCup.Domain.POCO.School school in ViewBag.Schools)
                    {
                        <option value="@school.SchoolId">@school.Name</option>
                    }
                </select></td>
            }
            @if (ViewBag.Type == 1 || ViewBag.Type == 2)
            {
                <td><select class="teamsSelect" data-row="@i" disabled="disabled" name="ResultNodes[@i].Team"></select></td>
                <td><select class="studentsSelect" data-row="@i" disabled="disabled" name="ResultNodes[@i].Student"></select></td>
            }
            @if (ViewBag.Type == 3)
            {
                @Html.Hidden("ResultNodes[" + i + "].Team", (int)ViewBag.TeamId)
                <td><select class="studentsSelect" data-row="@i" name="ResultNodes[@i].Student">
                    @foreach (TeamOPSchoolCup.Domain.POCO.Members.Student student in ViewBag.Students)
                    {
                        <option value="@student.MemberId">@student.Member.Name (@student.Member.Email)</option>
                    }
                </select></td>
            }
        </tr>
        }
        <tr class="tablebottomactions">
            <td colspan="2">
                <a class="return" href="@Url.Action("Index", "Meeting")">
                    <img src="@Url.Content("~/Content/Images/return_button.png")", alt="Back" />
                    <span>Back</span>
                </a>
            </td>
            @if (ViewBag.Type == 1) { <td colspan="3"></td> }
            @if (ViewBag.Type == 2) { <td colspan="2"></td> }
            <td class="crud_submit"><input type="submit" value="Create" /></td>
        </tr>
        <tr style="display:none;" id="nextRowTempl">
            <td><input name="ResultNodes[$$ID$$].ResultScore" type="text" /></td>
            <td><select name="ResultNodes[$$ID$$].Event">
                @foreach (TeamOPSchoolCup.Domain.POCO.Event pEvent in ViewBag.Events)
                {
                    <option value="@pEvent.EventId">@pEvent.Name</option>
                }
            </select></td>
            @if (ViewBag.Type == 1)
            {
                <td><select class="regionsSelect" data-row="$$ID$$">
                    @foreach (KeyValuePair<int,string> reg in ViewBag.Regions2)
                    {
                        <option value="@reg.Key">@Html.Raw(reg.Value)</option>
                    }
                </select></td>
                <td><select class="schoolsSelect" data-row="$$ID$$" disabled="disabled"></select></td>
            }
            @if (ViewBag.Type == 2)
            {
                <td><select class="schoolsSelect" data-row="$$ID$$">
                    <option></option>
                    @foreach (TeamOPSchoolCup.Domain.POCO.School school in ViewBag.Schools)
                    {
                        <option value="@school.SchoolId">@school.Name</option>
                    }
                </select></td>
            }
            @if (ViewBag.Type == 1 || ViewBag.Type == 2)
            {
                <td><select class="teamsSelect" data-row="$$ID$$" disabled="disabled" name="ResultNodes[$$ID$$].Team"></select></td>
                <td><select class="studentsSelect" data-row="$$ID$$" disabled="disabled" name="ResultNodes[$$ID$$].Student"></select></td>
            }
            @if (ViewBag.Type == 3)
            {
                @Html.Hidden("ResultNodes[$$ID$$].Team", (int)ViewBag.TeamId)
                <td><select class="studentsSelect" data-row="$$ID$$" name="ResultNodes[$$ID$$].Student">
                    @foreach (TeamOPSchoolCup.Domain.POCO.Members.Student student in ViewBag.Students)
                    {
                        <option value="@student.MemberId">@student.Member.Name (@student.Member.Email)</option>
                    }
                </select></td>
            }
        </tr>
    </table>                                                
}