﻿@model TeamOPSchoolCup.Domain.POCO.Result

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Result</legend>

    <div class="display-label">ResultScore</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ResultScore)
    </div>

    <div class="display-label">IsOfficial</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsOfficial)
    </div>

    <div class="display-label">Event</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Event.Name)
    </div>

    <div class="display-label">TeamMebershipId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TeamMebershipId)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
