﻿@model TeamOPSchoolCup.Domain.POCO.Result

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Result</legend>

    <div class="display-label">ResultScore</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ResultScore)
    </div>

    <div class="display-label">IsOfficial</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsOfficial)
    </div>

    <div class="display-label">Event</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Event.Name)
    </div>

    <div class="display-label">TeamMebershipId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TeamMebershipId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ResultId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
