﻿@model TeamOPSchoolCup.Domain.POCO.Result

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Result</legend>

        @Html.HiddenFor(model => model.ResultId)

        <div class="editor-label">
            @Html.LabelFor(model => model.ResultScore)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ResultScore)
            @Html.ValidationMessageFor(model => model.ResultScore)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsOfficial)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsOfficial)
            @Html.ValidationMessageFor(model => model.IsOfficial)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EventId, "Event")
        </div>
        <div class="editor-field">
            @Html.DropDownList("EventId", String.Empty)
            @Html.ValidationMessageFor(model => model.EventId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TeamMembershipId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TeamMembershipId)
            @Html.ValidationMessageFor(model => model.TeamMembershipId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
