﻿
@{
    ViewBag.Title = "Results";
}

@section results{

     <script src="@Url.Content("~/Scripts/Result.js")" type="text/javascript"></script>
     <link rel="Stylesheet" href="@Url.Content("~/Content/css/Ranking.css")" type="text/css" />
     <link rel="Stylesheet" href="@Url.Content("~/Content/css/Result.css")" type="text/css" />

}

<p>
    <img class="addlogo" src="@Url.Content("~/Content/images/addlogo.png")" alt="add" />
    @Html.ActionLink("Create New", "Index","Meeting")
</p>
    @Html.Action("LoadResultTable", "Result", new { page = 1 })