﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />	
    <title>ISF School Cup</title>
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100' rel='stylesheet' type='text/css' />	
	<script src="@Url.Content("~/Scripts/jquery-1.8.0.min.js")" type="text/javascript"></script>
	<!--[if lt IE 9]>
		<script src="js/modernizr.custom.js"></script>
	<![endif]-->
	<script src="@Url.Content("~/Scripts/jquery.carouFredSel-5.5.0-packed.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/functions.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/custom.js")" type="text/javascript"></script>
</head>

<body>
    <!-- wrapper -->
<div id="wrapper">
	<div id="top">
		<div id="top-bar">
			<div class="bar-content">
				<div id="info"><a href="#">Login</a> <a href="#">About</a> <a href="#">Help</a></div>
				<div class="search">
					<form action="" method="post">
						<input type="text" class="field" value="Search..." id="search_box" title="Search" />
						<input type="submit" class="search-btn" value="" />
						<div class="cl">&nbsp;</div>
					</form>
				</div>
			</div>
		</div>
		<div id="bottom-bar">
			<div class="bar-content">	
				<a href="#"><img src="@Url.Content("~/Content/images/logotitel.png")" alt="logo" id="logotitel"/></a>
				<nav id="navigation">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">MySchoolCup</a></li>
						<li><a href="#">Results</a></li>
						<li><a href="#">Ranking</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
					<div class="cl">&nbsp;</div>
				</nav>
				<nav id="submenusc">
					<ul>
						<li><a href="#">My Dashboard</a></li>
						<li><a href="#">My Teams</a></li>
						<li><a href="#">My Results</a></li>
						<li><a href="#">My Settings</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="shell">
		<!-- nog in te vullen renderBody-->	
		@RenderBody()
	</div>
	<div id="footer">
		<div class="footer-nav">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Help</a></li>
			</ul>
			<div class="cl">&nbsp;</div>
		</div>
	</div>
			<!-- end of footer -->
</div>
<!-- end of wrapper -->

</body>
</html>
