﻿@model TeamOPSchoolCup.Domain.POCO.Record

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Record</legend>

    <div class="display-label">Result</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Result)
    </div>

    <div class="display-label">RecordHolder</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RecordHolder)
    </div>

    <div class="display-label">RecordDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RecordDate)
    </div>

    <div class="display-label">Age</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Age)
    </div>

    <div class="display-label">Meeting</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Meeting)
    </div>

    <div class="display-label">Event</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Event.Name)
    </div>

    <div class="display-label">Sport</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sport.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.RecordId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
