﻿@model TeamOPSchoolCup.Domain.POCO.Record
@using TeamOPSchoolCup.Domain.DTO
@{
    ViewBag.Title = "Edit";
}

<h2 class="wrappertitel">Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div id="recordForm">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.HiddenFor(x=>x.RecordId)
    <table>
        <tr class="crud_row">
                <td class="number">@Html.LabelFor(model => model.Result)
                </td>
                <td>@Html.EditorFor(model => model.Result)
            @Html.ValidationMessageFor(model => model.Result)
                </td>
            </tr>
    <tr class="crud_row">
                <td class="number">@Html.LabelFor(model => model.RecordHolder.Name)
                </td>
                <td>@Html.EditorFor(model => model.RecordHolder.Name)
            @Html.ValidationMessageFor(model => model.RecordHolder.Name)
                </td>
            </tr>
            <tr class="crud_row">
                <td class="number">@Html.LabelFor(model => model.RecordDate)
                </td>
                <td>@Html.EditorFor(model => model.RecordDate, new { DateDropType = TeamOPSchoolCup.Domain.DTO.DateType.PAST })
            @Html.ValidationMessageFor(model => model.RecordDate)
                </td>
            </tr>
            <tr class="crud_row">
                <td class="number">@Html.LabelFor(model => model.Age)
                </td>
                <td>@Html.EditorFor(model => model.Age)
            @Html.ValidationMessageFor(model => model.Age)
                </td>
            </tr>
            <tr class="crud_row">
                <td class="number">@Html.LabelFor(model => model.Meeting)
                </td>
                <td>@Html.EditorFor(model => model.Meeting)
            @Html.ValidationMessageFor(model => model.Meeting)
                </td>
            </tr>
        <tr class="crud_row">
                <td class="number">@Html.LabelFor(model => model.SportId, "Sport")
                </td>
                <td>@Html.DropDownList("SportId", String.Empty)
            @Html.ValidationMessageFor(model => model.SportId)
                </td>
            </tr>
            <tr class="crud_row">
                <td class="number">@Html.LabelFor(model => model.RecordHolder.Gender_Value, "Gender")
                </td>
                <td> @{List<Gender> genders = new List<Gender>();
                      foreach (Gender g in Enum.GetValues(typeof(TeamOPSchoolCup.Domain.DTO.Gender))) {
                          if (!g.Equals(Gender.UNISEX)) {
                              genders.Add(g);
                          }
                      }}
                @Html.DropDownListFor(model => model.RecordHolder.Gender, new SelectList(genders))
                @Html.ValidationMessageFor(model => model.RecordHolder.Gender)
                </td>
            </tr>
            <tr class="crud_row">
                <td class="number">@Html.LabelFor(model => model.Event, "Event")
                </td>
                <td> <select id="eventSelect" name="EventId">
           </select>
                </td>
            </tr>
        <tr>
                <td>
                    <a class="return" href="@Url.Action("Index")">
                        <img src="@Url.Content("~/Content/Images/return_button.png")", alt="Back" />
                        <span>Back</span> </a>
                </td>
                <td class="crud_submit">
                    <input id="derp" type="submit" value="Save" />
                </td>
            </tr>
    </table>
}
</div>
