﻿@model IEnumerable<TeamOPSchoolCup.Domain.POCO.Record>
@using TeamOPSchoolCup.Domain.Resources;
@using TeamOPSchoolCup.Domain.POCO;
@using System.Security;
@{
    ViewBag.Title = "Records of World Athletes";
}
<link rel="Stylesheet" href="@Url.Content("~/Content/css/Site.css")" type="text/css" />
<link rel="Stylesheet" href="@Url.Content("~/Content/css/Ranking.css")" type="text/css" />
<script src="@Url.Content("~/Scripts/Record.js")" type="text/javascript"></script>
<style>
#tabs {
    padding: 3px;
    font-family:  sans-serif;
    font-size: 10pt;
    font-weight:bold;
    color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:none;

    width: 860px;
    height: 99%;
    margin: 0 auto;
}
#tabs ul
{
    width:852px;
    margin: 0 auto;
    background:#923c87;  
    border-radius:0;
    border:0;
    padding:5px 5px 0;
}
#tabcontents  
{
    font: #923c87
    border: 1px solid #923C87;
    width:860px;
    margin:0 auto;
}

#tabs li  
{
    border-radius:0; 
        cursor: pointer; 
}
#tabs li a
{
    color: #923c87;
}

</style>
<h1 class="wrappertitel">@ViewBag.Title</h1>
@if (Roles.IsUserInRole("ISFAdmin")) {<p class="actionLinksTop"><span id="add1">@Html.ActionLink("Add a new World Record", "Create")</span></p>}
<div id="tabs">
      <ul>
        <li><a href="#male">Men Records</a></li>
        <li><a href="#female">Women Records</a></li>
      </ul>
    <div id="tabcontents">
    <div id="male">
   @if (Model.Count() > 0 && Model != null)
    {
         
            <table class="filters">
                <tr>
            <th class="header">
                    @RankingStrings.Sport
                </th>
                <th class="header">
                    @RankingStrings.Event
                </th>
                <th class="header">
                    RecordHolder
                </th>
        
            </tr>
                <tr>
                    <td class="selectFilter">
                        <label>@Html.DropDownList("Sports", String.Empty)</label>
                    </td>
                    <td class="selectFilter">
                         <label>@Html.DropDownList("Events", String.Empty)</label>
                    </td>
                    <td class="selectFilter">
                        <label>@Html.DropDownList("RecordHolders", String.Empty)</label>
                                                   
                    </td>
                
                </tr>
            </table>
            <div id="myResultDiv">
                @Html.Action("LoadRecordResult", "Record", new { gender_value = 1})
            </div>
        
    }
    else
    {
            <p class="center">@SharedStrings.noresults</p>
    }
    </div>
    <div id="female">
    
    @if (Model.Count() > 0 && Model != null)
    {
        <table class="filters" >
            <tr>
        <th class="header">
                @RankingStrings.Sport
            </th>
            <th class="header">
                @RankingStrings.Event
            </th>
            <th class="header">
                RecordHolder
            </th>
        
        </tr>
            <tr>
                <td class="selectFilter">
                    <label>@Html.DropDownList("Sports", String.Empty)</label>
                </td>
                <td class="selectFilter">
                     <label>@Html.DropDownList("Events", String.Empty)</label>
                </td>
                <td class="selectFilter">
                    <label>@Html.DropDownList("RecordHolders", String.Empty)</label>
                </td>
                
            </tr>
        </table>
        <div id="myResultDiv">
            @Html.Action("LoadRecordResult", "Record",new { gender_value = 2})
        </div>
    }
    else
    {
            <p class="center">@SharedStrings.noresults</p>
    }
    </div>
    </div>
</div>