﻿@model TeamOPSchoolCup.Web.Helpers.PaginatedList<TeamOPSchoolCup.Domain.POCO.Ranking.BestTeamResult>

<table id="team_rankingtable" class="alternatingRows">
    <tr class="header">
        <th id="rank" />
        <th id="name">@TeamOPSchoolCup.Domain.Resources.RankingStrings.Name</th>
        <th id="meeting">@TeamOPSchoolCup.Domain.Resources.RankingStrings.Meeting</th>
        <th id="points">@TeamOPSchoolCup.Domain.Resources.RankingStrings.Points</th>
    </tr>
    @{int index = 1;}
    @{index = (Model.PageIndex * Model.PageSize) + 1;}
    @foreach (var rank in Model)
    {
        <tr>
            <td class="number">
                @index
            </td>
            <td class="ranking">
                @Html.ActionLink(rank.TeamResult.Team.Name, "Profile", "Team", new { id = rank.TeamId },null)    
            </td>
            <td class="ranking">
                @Html.ActionLink(rank.TeamResult.Meeting.Name, "Detail", "Meeting", new { id = rank.MeetingId },null)    
            </td>
            <td class="ranking">
                @Html.DisplayFor(modelItem => rank.TeamResult.PointValue)    
            </td>
            @{ index += 1; }
        </tr>
    }  

</table>
