﻿@using TeamOPSchoolCup.Domain.Resources
@{
    ViewBag.Title = "Administration";
}
@section SchoolCup{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Administration.css")" type="text/css" />
}
<h1 class="wrappertitel">
    ISF
    @SharedStrings.administration</h1>
    <a href="@Url.Action("EditProfile", "Member", new { id = TeamOPSchoolCup.Domain.Services.MemberService.GetMember(email: User.Identity.Name).MemberId })" id="setting">Change Your ISF<img src="@Url.Content("~/Content/images/gear.png")" alt="settings" title="Change Your ISF"/></a>
<div id="admin">
    <div id="isfadmindiv">
        <div class="isfDiv">
            <a href="@Url.Action("Index", "Region")">
                <span class="adminimage"><img class="isfbol" title="@SharedStrings.ra" alt="regions" src="@Url.Content("~/Content/images/addregionImage2.png")"/></span>
                <span class="admintext">@SharedStrings.ra</span></a></div>
        <div class="isfDiv">
            <a href="@Url.Action("Index", "Advertisement")">
                <span class="adminimage"><img class="isfadv" title="@SharedStrings.aa" alt="adveristement" src="@Url.Content("~/Content/images/advAdm.png")"/></span>
                <span class="admintext">@SharedStrings.aa</span></a></div>
        <div class="isfDiv">
            <a href="@Url.Action("Index", "Sport")">
                <span class="adminimage"><img class="isfadv" title="@SharedStrings.sa2" alt="Sport" src="@Url.Content("~/Content/images/sport.png")"/></span>
                <span class="admintext">@SharedStrings.sa2</span></a></div>
        <div class="isfDiv">
            <a href="@Url.Action("Index", "NSSF")">
                <span class="adminimage"><img class="isfadv" title="@SharedStrings.na" alt="NSSF" src="@Url.Content("~/Content/images/nssfpurple.png")"/></span>
                <span class="admintext">@SharedStrings.na</span></a></div>
        <div class="isfDiv">
            <a href="@Url.Action("Index", "Event")">
                <span class="adminimage"><img class="isfadv" title="@SharedStrings.ea" alt="Event" src="@Url.Content("~/Content/images/adeventpurple.png")"/></span>
                <span class="admintext">@SharedStrings.ea</span></a></div>
        <div class="isfDiv">
            <a href="@Url.Action("Index", "Record")">
                <span class="adminimage"><img class="isfadv" title="@SharedStrings.ra3" alt="Record" src="@Url.Content("~/Content/images/record.png")"/></span>
                <span class="admintext">@SharedStrings.ra3</span></a></div>
        <div class="isfDiv">
            <a href="@Url.Action("Index", "Meeting")">
                <span class="adminimage"><img class="isfadv" title="@SharedStrings.ma" alt="Record" src="@Url.Content("~/Content/images/meeting.png")"/>
                <span class="admintext">@SharedStrings.ma</span></a></div>
    </div>
</div>
