﻿@using TeamOPSchoolCup.Domain.Resources
@{
    ViewBag.Title = "Administration";
}
@section SchoolCup{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Administration.css")" type="text/css" />
}
<h1 class="wrappertitel">
    NSSF @SharedStrings.administration</h1>
    <a href="@Url.Action("Edit", "NSSF", new { nssfid = TeamOPSchoolCup.Domain.Services.MemberService.GetNSSFRep(TeamOPSchoolCup.Domain.Services.MemberService.GetMember(email: User.Identity.Name).MemberId).NSSFId })" id="setting">Change Your NSSF<img src="@Url.Content("~/Content/images/gear.png")" alt="settings" title="Change Your NSSF"/></a>
<div id="admin">
    <div id="sccadmin">
        <div class="bigAdminIcon">
            <a href="@Url.Action("Index","School")">
                <img class="adv" title="@SharedStrings.sa" alt="schools" src="@Url.Content("~/Content/images/school.png")"/></span>
                <span class="sccadmintext">@SharedStrings.sa</span></a></div>
        <div class="bigAdminIcon">
            <a href="@Url.Action("Index","Meeting")">
                <img class="adv" title="@SharedStrings.ma" alt="meetings" src="@Url.Content("~/Content/images/meeting.png")"/></span>
                <span class="sccadmintext">@SharedStrings.ma</span></a></div>
        <div class="bigAdminIcon">
            <a href="@Url.Action("Index","Result")">
                <img class="adv" title="@SharedStrings.ra2" alt="resultss" src="@Url.Content("~/Content/images/results.png")"/></span>
                <span class="sccadmintext">@SharedStrings.ra2</span></a></div>
        <div class="bigAdminIcon">
            <a href="@Url.Action("Index","Event")">
                <img class="adv" title="@SharedStrings.ea2" alt="unoffical events" src="@Url.Content("~/Content/images/adeventpurple.png")"/></span>
                <span class="sccadmintext">@SharedStrings.ea2</span></a></div>        
    </div>
</div>
