﻿@using TeamOPSchoolCup.Domain.Resources
@{
    ViewBag.Title = "Administration";
}
@section SchoolCup{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Administration.css")" type="text/css" />
}
<h1 class="wrappertitel">
    SCC @SharedStrings.administration</h1>
    <a href="@Url.Action("EditProfile", "Member", new { id = TeamOPSchoolCup.Domain.Services.MemberService.GetMember(email: User.Identity.Name).MemberId })" id="setting">Change Your SCC<img src="@Url.Content("~/Content/images/gear.png")" alt="settings" title="Change Your SCC"/></a>
<div id="admin">
    <div id="sccadmin">
        <div class="bigAdminIcon">
            <a href="@Url.Action("Edit", "School", new { id = TeamOPSchoolCup.Domain.Services.MemberService.GetSCC(TeamOPSchoolCup.Domain.Services.MemberService.GetMember(email: User.Identity.Name).MemberId).SchoolId })">
                <img class="adv" title="@SharedStrings.sm" alt="schools" src="@Url.Content("~/Content/images/school.png")"/>
                <span class="sccadmintext">@SharedStrings.sa</span></a>
                </div>
        <div class="bigAdminIcon">
            <a href="@Url.Action("AddCoach", "Member", new { schoolId = TeamOPSchoolCup.Domain.Services.MemberService.GetSCC(TeamOPSchoolCup.Domain.Services.MemberService.GetMember(email: User.Identity.Name).MemberId).SchoolId })">
                <img class="adv" title="@SharedStrings.ca" alt="Coach" src="@Url.Content("~/Content/images/nssfpurple.png")"/>
                <span class="sccadmintext">@SharedStrings.ca</span></a>
                </div>
    </div>
</div>
