﻿@model TeamOPSchoolCup.Domain.POCO.Region
@using TeamOPSchoolCup.Domain.Resources
@{
    ViewBag.Title = @RegionStrings.AddOne;
}

@section region{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Region.css")" type="text/css" />
}

<h1 class="titel">@ViewBag.Title</h1>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="content-form">
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <table>
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(model => model.Name)</td>
            <td>
                 @Html.EditorFor(model => model.Name)
                 @Html.ValidationMessageFor(model => model.Name)
            </td>
        </tr>
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(model => model.ParentId, RegionStrings.ModelParent):</td>
            <td>
                 @Html.TextBox("Parent.Name", null, new { disabled = "disabled" })
                 @Html.ValidationMessageFor(model => model.ParentId)
            </td>
        </tr>
        <tr>
            <td>
                <a class="return" href="@Url.Action("Index")">
                    <img src="@Url.Content("~/Content/Images/return_button.png")", alt="@RegionStrings.Back" />
                    <span>@RegionStrings.Back</span>
                </a>
            </td>
            <td class="crud_submit"><input type="submit" value="@RegionStrings.AddOne" /></td>
        </tr>
    </table>
}
</div>