﻿﻿@model IEnumerable<TeamOPSchoolCup.Domain.POCO.Region>
@using TeamOPSchoolCup.Domain.Resources
@{
    ViewBag.Title = @RegionStrings.Index;
}

@section region{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Region.css")" type="text/css" />
}

<h1 class="wrappertitel">
    @{if (ViewBag.ParentName != null) { <text>@ViewBag.ParentName</text> }
    else { @RegionStrings.Region }}
</h1>
<div id="add">
    <p id="add1">
        <a title="@RegionStrings.AddOne" href="@Url.Action("Create", new { parentId = ViewBag.RegionId})">
            <img class="addlogo" src="@Url.Content("~/Content/images/addlogo.png")" alt="@RegionStrings.AddOne" />
        <span>@RegionStrings.AddOne</span></a>
    </p>
   <!-- <p id="add2">
        <a title="@RegionStrings.AddMultiple" href="@Url.Action("AddRegions")">
            <img class="addlogo" src="@Url.Content("~/Content/images/addslogo.png")" alt="@RegionStrings.AddMultiple" />
        <span>@RegionStrings.AddMultiple</span></a>
    </p>-->
</div>


<table id="regionTable" class="alternatingRows">
    <tr id="header">
        <th class="head" id="numberHeader" />
        <th class="head">@RegionStrings.Region</th>
        <th class="head">@RegionStrings.AmountSubregions</th>
        <th />
    </tr>
    @{int index = 1;}
    @foreach (var region in Model)
    {
        <tr>
            <td class="number">
                @index
            </td>
            <td class="infocell">
                @Html.ActionLink(region.Name, "Index", new { regionId = region.RegionId })
            </td>
            <td class="infocell">@TeamOPSchoolCup.Domain.Services.RegionService.GetChildren(region, true).Count()</td>
            <td class="last">
             <a  href="@Url.Action("Edit", new { id = region.RegionId })"><img style="width:20px; height:20px" alt="edit" src="@Url.Content("~/Content/images/gear.png")"</a>
            </td>
            @{ index += 1; }
        </tr>
    }  
</table>
<div id="back">@Html.ActionLink(@RegionStrings.BackToParent, "Index", new { regionId = @ViewBag.ParentId })</div>

