﻿@model IEnumerable<TeamOPSchoolCup.Domain.POCO.Result>
@{
    ViewBag.Title = "MyResults";
}
@section SchoolCup{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/SchoolCup.css")" type="text/css" />
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/SchoolCupNavigation.css")" type="text/css" />
}
@using TeamOPSchoolCup.Domain.POCO;
@using TeamOPSchoolCup.Domain.POCO.Members;
@using TeamOPSchoolCup.Domain.DTO;
@using TeamOPSchoolCup.Domain.Services;
@using TeamOPSchoolCup.Domain.Resources.GraphStrings;
@using TeamOPSchoolCup.Domain.Resources;
@using System.Web.Script.Serialization;
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load('visualization', '1.1', { packages: ['controls', 'corechart'] });
</script>
<script src="@Url.Content("~/Scripts/Graph.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/MyResult.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(
    function()
    {
        var teamStudents = [];
        var selectedItems = [];
        var nextPage = 0;
        var language = $('body').attr('data-language');
        setEventHandlers();
        var student = @Html.Raw(ViewBag.StudentJson);
        setTeamPicker(student);
        $('#EventSelect').change(
        function(){
            drawGraph(selectedItems,$('#EventSelect').children(":selected").attr("value"));
        });
        function setEventHandlers() 
        {
            // next click
            $('#tab_student').on('click', '#next', function () {
                nextPage++;
                getSearchResults();
            });
        
            // previous click
            $('#tab_student').on('click', '#previous', function () {
                nextPage--;
                getSearchResults();
            });
        }   
        
        function getSearchResults()
        {
             @{Guid? memId = null;
               if (ViewBag.Student != null)
               {
                   memId = ViewBag.Student.MemberId;

               }
               if (User.Identity.IsAuthenticated && MemberService.GetMember(email: User.Identity.Name).Student != null)
               {
                   memId = MemberService.GetMember(email: User.Identity.Name).MemberId;
               }
                
            }
            $.ajax({
                type: 'GET',
                url: '/' + language + '/SchoolCup/LoadStudentResults?query=' + $('#searchquery').val()+'&gender_value='+ @MemberService.GetMember(memId.Value).Gender_Value  + '&page=' + nextPage,
                success: function (data) {
                    //alert(data.toString());
                    $('#tab_student').empty();
                    $('#tab_student').html(data);
                    onMouseClick(); //the HTML I returned from the controller
                },
                error: function (errorData) { onError(errorData); }
            });
        }
        
        $("#TeamPicker").on('click','#add_team',function()
        {
            setTeamStudents();    
        });
       
        // Student text selection
        $('#searchquery').keydown(function (event) {
            // number 13 = enter and return
            if (event.which == 13) {
                getSearchResults();
            }
        }); 

        $('#addMe').on('click','#add_me',function()
        {
            setSelectedItems();  //the HTML I returned from the controller
        });

        function onMouseClick(){
            $('#student_results').on('click','#add_student',function()
            {
                setSelectedItems();  //the HTML I returned from the controller
            });
        }

        function setTeamStudents()
        {
            var teamStudent = [];
            $('#TeamPicker').find('input[type=checkbox]').each(function () 
            {
                if ($(this).prop("checked")) 
                {
                    var data = getStudents($(this).attr("value"));
                    
                    for (var j = 0 ; j < data.length;j++)
                    {
                        if(teamStudent != "")
                        {
                            var isIn = false;
                            for (var i = 0; i< teamStudent.length;i++)
                            {
                                if(teamStudent[i] == data[j]){
                                    isIn = true;
                                }
                            }
                            if(!isIn){
                                teamStudent.push(data[j]);
                            }
                        }  
                        else{
                            teamStudent.push(data[j]); 
                        }                
                    }
                }
            });
            teamStudents = teamStudent;
            setSelectedItems();
        }
        function getStudents(teamId)
        {
            var data2 = null;
            $.ajax({
                type: 'GET',
                async: false,
                url: '/' + language + '/SchoolCup/GetStudentIdsOfTeam?teamId=' + teamId,
                success: function (data) {
                    data2 =  data;
                },
                error: function (errorData) { onError(errorData); }
            });
                
            return data2
        }
         
        function setSelectedItems()
        {
            var selectedItem = [];
            $("#tab_student").find('input[type=checkbox]').each(function () {
                if ($(this).prop("checked")) {
                    selectedItem.push($(this).attr("value"));
                }
            });
            $("#addMe").find('input[type=checkbox]').each(function () {
                if ($(this).prop("checked")) {
                    selectedItem.push($(this).attr("value"));
                }
            });
            if(teamStudents != "")
            {
                for( var i = 0; i < teamStudents.length;i++)
                {
                    var isIn = false;
                    for(var j =0 ; j< selectedItem.length;j++){
                        if ( teamStudents[i] == selectedItem[j])
                        {
                            isIn = true;
                        }
                    }
                    if(!isIn)
                    {
                        selectedItem.push(teamStudents[i]);
                    }
                }
            }
            selectedItems = selectedItem;
            @{ string mId = "";
               if (ViewBag.Student != null)
               {
                   mId = ViewBag.Student.MemberId.ToString();
               }
               if (User.Identity.IsAuthenticated && MemberService.GetMember(email: User.Identity.Name).Student != null && MemberService.GetMember(email: User.Identity.Name).MemberId == ViewBag.Student.MemberId)
               {
                   mId = MemberService.GetMember(email: User.Identity.Name).MemberId.ToString();
               }
             <text> var isIn = false;
              for( var i = 0; i < selectedItems.length;i++){
                
               if(selectedItems[i] == "@mId"){
                isIn = true;
               }
             }if(!isIn){
                selectedItems.push("@mId");
               }</text>
            }
            drawGraph(selectedItems,($("#EventSelect").val()==null?null:$("#EventSelect").val()));
        }
        function setTeamPicker(student)
        {
            var div = document.getElementById("TeamPicker");
            var teams = [];
            if(div != null && div != "")
            {
                for (var i = 0; i < student.TeamInfos.length;i++)
                {
                    var isIn = false;
                    for (var j = 0; j < teams.length;j++){
                        if(teams[j]!= student.TeamInfos[i])
                        {
                            isIn = true;
                        }
                    }
                    if (!isIn){
                        teams.push(student.TeamInfos[i])
                    }
                }
                for (var i = 0; i < teams.length;i++)
                {
                    var team = teams[i];
                    var par = document.createElement("p");
                    par.textContent = team.Name + " ";
                    var el = document.createElement("input");
                    el.id = "add_team";
                    el.type="checkbox";
                    el.value =  team.TeamId;
                    el.name ="add_team";
                    par.appendChild(el);
                    div.appendChild(par);
                }
            }        
        }

        function setEventPicker(data, eventName)
        {
            $("#EventSelect").empty();
            var select = document.getElementById("EventSelect");
            
            for(var i = 0; i < data.ComparisonLines.length; i++){
                var opt = data.ComparisonLines[i];
                var el = document.createElement("option");
                el.text = opt.EventName;
                el.id = opt.EventId;
                el.value = opt.EventName;
                if(eventName == opt.EventName){
                    el.selected = "selected";
                }
                select.appendChild(el);
            }
        }
        
        function drawGraph(memberIds, eventName){
            $.ajax({
                type: 'GET',
                url: '/' + language + '/SchoolCup/GetGraphData?memberIds='+ memberIds.join().toString(),
                success: function (data) {
                    
                    if(data != ""){
                        setEventPicker(data,eventName);
                    
                        var canDrawGraph=drawMyResultsGraph(data, (eventName == null? data.ComparisonLines[0].EventName: eventName));
                        if (!canDrawGraph) {
                             $("#chart").empty();$("#chart").append("@GraphStrings.nodata");
                        } else {
                            $("#graphtitle").empty().append("Results of "+(eventName == null? data.ComparisonLines[0].EventName: eventName));
                        }
                    } else{ $("#chart").empty();$("#chart").append("@GraphStrings.nodata");}
                },
                error: function (errorData) { onError(errorData); }
            });
        }
        google.setOnLoadCallback(function () { 
            setSelectedItems();
        })

        @{
            Guid memberId = new Guid();

            if (ViewBag.Student != null)
            {
                memberId = ViewBag.Student.MemberId;
            }
            else
            {
                memberId = MemberService.GetMember(email: User.Identity.Name).MemberId;
            }
          }
        onLoad("@memberId");
    });

</script>
@if (User.Identity.IsAuthenticated && ViewBag.Student.MemberId == MemberService.GetMember(email: User.Identity.Name).MemberId)
{
    @Html.Partial("Partials/_Navigation")
}
<h1 class="wrappertitel">
    @if (User.Identity.IsAuthenticated && ViewBag.Student.MemberId == MemberService.GetMember(email: User.Identity.Name).MemberId)
    { <text>MyResults</text>}
    else
    {<text>Results @ViewBag.Student.Member.Name</text> }</h1>
<div id="myResult">
    <table class="filters">
        <tr>
            <td>@RankingStrings.Sport
            </td>
            <td>
                Team
            </td>
            <td>@RankingStrings.Meeting
            </td>
            <td>@RankingStrings.Event
            </td>
            <td>
                Official
            </td>
        </tr>
        <tr>
            <td class="selectFilter">
                <label>@Html.DropDownList("Sports", String.Empty)</label>
            </td>
            <td class="selectFilter">
                <label>@Html.DropDownList("Teams", String.Empty)</label>
            </td>
            <td class="selectFilter">
                <label>@Html.DropDownList("Meetings", String.Empty)</label>
            </td>
            <td class="selectFilter">
                <label>@Html.DropDownList("Events", String.Empty)</label>
            </td>
            <td class="selectFilter">
                <label>
                    <select id="Official">
                        <option value="null"></option>
                        <option value="true">Official</option>
                        <option value="false">Unofficial</option>
                    </select></label>
            </td>
        </tr>
    </table>
    <div id="myResultDiv">
        @Html.Action("LoadMyResult", "SchoolCup", new { studentId = (!User.Identity.IsAuthenticated || ViewBag.Student.MemberId != MemberService.GetMember(email: User.Identity.Name).MemberId ? ViewBag.Student.MemberId : MemberService.GetMember(email: User.Identity.Name).MemberId) })
    </div>
</div>
@if (Model != null && Model.ToList().Count != 0)
{
    <div id="graph">
        <div id="graphcontrols">
            @if (User.Identity.IsAuthenticated && ViewBag.Student.MemberId == MemberService.GetMember(email: User.Identity.Name).MemberId)
            {
                <div id="TeamPicker">
                    <p>@GraphStrings.TeamPicker</p>
                </div>
            }
            <div id="EventPicker">
                <p>@RankingStrings.CommonEvents</p>
                <select id="EventSelect">
                </select>
            </div>
            @if (User.Identity.IsAuthenticated && ViewBag.Student.MemberId == MemberService.GetMember(email: User.Identity.Name).MemberId)
            {
                <div id="StudentPicker">
                    <input name="query"type="text" class="field ui-tooltip" value="@TeamOPSchoolCup.Domain.Resources.SharedStrings.Search" id="searchquery" title="Type in a student his/her name"  />
                </div>
            }
        </div>
        <div class="clear">
        </div>
        @if (User.Identity.IsAuthenticated && ViewBag.Student.MemberId == MemberService.GetMember(email: User.Identity.Name).MemberId)
        {
            <div id="addMe" class="add_me">
                <p>
                    Add me<input type="checkbox" value="@MemberService.GetMember(email: User.Identity.Name).MemberId" checked = "checked" name="add_me" id="add_me" /></p>
            </div>
        }
        <div id="searchresults">
            <div id="tab_student">
                @if (ViewBag.Query != null)
                {
                    @Html.Action("LoadStudentResults", "SchoolCup", new { query = ViewBag.Query })
                }
            </div>
        </div>
        <div>
            <p class="center" id="graphtitle">Results of x</p>
            <div id="chart" class="chart1"></div>
        </div>
    </div>
    <div class="clear">
    </div>
}