﻿@model TeamOPSchoolCup.Domain.POCO.Member
@using TeamOPSchoolCup.Domain.Resources
@using System.Security
@{
    ViewBag.Title = "SchoolCup";
}

@section SchoolCup{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/SchoolCup.css")" type="text/css" />
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/SchoolCupNavigation.css")" type="text/css" />
    <script src="@Url.Content("~/Scripts/Schoolcup.js")" type="text/javascript"></script>
}

@Html.Partial("Partials/_Navigation")

    
<div id="SCcontent">
    <div id="SCinfo">
            <p class="title">@TeamStrings.info</p>
            <div id="infoBox">
                <p><span class="infoTitle">@TeamOPSchoolCup.Domain.Resources.SharedStrings.name:</span> @Model.Name</p>
                <p><span class="infoTitle">E-mail:</span> @User.Identity.Name</p>
                <p><span class="infoTitle">@TeamOPSchoolCup.Domain.Resources.SharedStrings.address:</span> @Model.Street</p>
                <p><span class="infoTitle">@TeamOPSchoolCup.Domain.Resources.SharedStrings.city:</span> @Model.Zipcode @Model.City</p>
                <p id="edit">@Html.ActionLink(@TeamOPSchoolCup.Domain.Resources.SchoolCup.viewp, "Profile", "Member", new { id = @Model.MemberId }, null)</p>
            </div>
        </div>
        <div id="teams">
            <div class="title"><span>@TeamStrings.mt</span>
            @if(Roles.IsUserInRole("Coach")){<a href="@Url.Action("Create","Team")"><img class="addlogo" title="Make a team" id="addteam" alt="add" src="@Url.Content("~/Content/images/addlogo.png")" /></a>}
            </div>
            <div id="myteams">
                @{int index = 1;}
                @foreach (TeamOPSchoolCup.Domain.POCO.Team item in (List<TeamOPSchoolCup.Domain.POCO.Team>)ViewBag.TeamList) {
                    if (index % 2 == 0) {
                        <div>
                            @index. @Html.ActionLink(item.Name, "Dashboard", "Team", new { id = item.TeamId }, null)
                            @{index += 1;}
                            @if (!ViewBag.StudCoach) {<a class="fright" href="@Url.Action("TeamManagement", "Team", new { id = item.TeamId },null)"><img alt="settings" src="@Url.Content("~/Content/images/gear.png")" /></a>}
                        </div>
                    }
                    else {
                        <div class="normal">
                            @index. @Html.ActionLink(item.Name, "Dashboard", "Team", new { id = item.TeamId }, null)
                            @{index += 1;}
                            @if (!ViewBag.StudCoach) {<a class="fright" href="@Url.Action("TeamManagement", "Team", new { id = item.TeamId },null)"><img alt="settings" src="@Url.Content("~/Content/images/gear.png")" /></a>}
                        </div>
                    }
                }  
            </div>
        </div>     
@if (Roles.IsUserInRole("Coach")) {  
   <div id="SCresults">
   </div>
}
else {
    <div id="SCresults">
        @if (ViewBag.StudRankings.Count != 0) {
            
        
            <table id="rankingTable"> 
            <tr class="tableHeader">
                <th id="first">Event</th>
                <th>CWR*</th>
                <th>BWRTY**</th>
            </tr>           
            @foreach (var item in ViewBag.StudRankings) {
                var link = @item.CurrentWorldRanking;
                <tr>
                    <td class="number">@item.Event.Name</td>
                    <td>@item.CurrentWorldRanking</td>
                    <td>@item.BestWorldRankingThisYear</td>
                </tr>
            } 
        </table>
        <p>@TeamStrings.Rank_Explanation1<br />
        @TeamStrings.Rank_Explanation2</p>
        
        }
        else {
            <p id="plain">No Results Were found</p>
        }</div>
}
 </div>