﻿@model TeamOPSchoolCup.Domain.POCO.Sport

@{
    ViewBag.Title = @TeamOPSchoolCup.Domain.Resources.SportStrings.Create;
}

@section sport{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Sport.css")" type="text/css" />
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<h2 class="wrappertitel">Create Sport</h2>
<div id="content-form">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <table>
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(model => model.Name)</td>
            <td>
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </td>
        </tr>
        <tr class="crud_row">
            <td class="number">@Html.LabelFor(model => model.Abbreviation)</td>
            <td>
                @Html.EditorFor(model => model.Abbreviation)
                @Html.ValidationMessageFor(model => model.Abbreviation)
            </td>
        </tr>
        <tr>
            <td>
                <a class="return" href="@Url.Action("Index")">
                    <img src="@Url.Content("~/Content/Images/return_button.png")", alt="Back" />
                    <span>Back</span>
                </a>
            </td>
            <td class="crud_submit"><input type="submit" value="Create" /></td>
        </tr>
    </table>
}
</div>
