﻿@model IEnumerable<TeamOPSchoolCup.Domain.POCO.Sport>
@{
    ViewBag.Title = @TeamOPSchoolCup.Domain.Resources.SportStrings.Index;
}

@section sport{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Sport.css")" type="text/css" />
}

<h1 class="wrappertitel">@TeamOPSchoolCup.Domain.Resources.SportStrings.Sports</h1>

<div id="add">
    <p id="add1">
        <a title="@TeamOPSchoolCup.Domain.Resources.SportStrings.AddSport" href="@Url.Action("Create", new { parentId = ViewBag.RegionId })">
            <img class="addlogo" src="@Url.Content("~/Content/images/addlogo.png")" alt="@TeamOPSchoolCup.Domain.Resources.SportStrings.Add" />
            <span>@TeamOPSchoolCup.Domain.Resources.SportStrings.AddOne</span></a>
    </p>
</div>

<table id="sportTable" class="alternatingRows">
    <tr id="header">
        <th id="numberHeader"></th>
        <th>@TeamOPSchoolCup.Domain.Resources.SportStrings.ModelName</th>
        <th>@TeamOPSchoolCup.Domain.Resources.SportStrings.ModelAbbr</th>
    </tr>
    @{int index = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <td class="number">@index</td>
            <td class="infocell">
                @Html.ActionLink(item.Name, "Edit", new { id = item.SportId })
            </td>
            <td id="abbreviation" class="infocell">
                @Html.DisplayFor(modelItem => item.Abbreviation)
            </td>
            @{ index += 1; }
        </tr>
    }

</table>
