﻿@model String

@{
    ViewBag.Title = TeamOPSchoolCup.Domain.Resources.SharedStrings.results;
}


@section home{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Home.css")" type="text/css" />
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Search.css")" type="text/css" />
    <div id="search_query">@ViewBag.query</div>
    <script src="@Url.Content("~/Scripts/Search.js")" type="text/javascript"></script>
}

@using TeamOPSchoolCup.Domain.POCO.Members;
@using TeamOPSchoolCup.Domain.POCO;
@using TeamOPSchoolCup.Domain.Services;
@using TeamOPSchoolCup.Domain.Resources;
<h2 class="wrappertitel">@TeamOPSchoolCup.Domain.Resources.SharedStrings.results</h2>
<div id="tabs">
      <ul>
        <li><a href="#tab_student">Students</a></li>
        <li><a href="#tab_team">Teams</a></li>
        <li><a href="#tab_coach">Coaches</a></li>
        <li><a href="#tab_meeting">Meetings</a></li>
      </ul>
    <div id="searchresults">
       <div id="tab_student">
            @Html.Action("LoadStudentResults", "Search", new { query = ViewBag.query })
        </div>
        <div id="tab_team">
           @Html.Action("LoadTeamResults", "Search", new { query = ViewBag.query })
        </div>
        <div id="tab_coach">
           @Html.Action("LoadCoachResults", "Search", new { query = ViewBag.query })
        </div>
        <div id="tab_meeting">
            @Html.Action("LoadMeetingResults", "Search", new { query = ViewBag.query})
        </div>

    </div>
</div>