﻿@model TeamOPSchoolCup.Domain.DTO.Conversation

@{
    ViewBag.Title = "Create";
}

@section teamDashboard{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Team.css")" type="text/css" />
}

<h2 class="wrappertitel">Add a Topic</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div id="content-form">
    @{
        object routeValues = null;
        if(Roles.IsUserInRole("Student")){
            routeValues = new { studentId = TeamOPSchoolCup.Domain.Services.MemberService.GetMember(email:User.Identity.Name).MemberId};
        }
        else if(Roles.IsUserInRole("Coach")){
            routeValues = new { coachId = TeamOPSchoolCup.Domain.Services.MemberService.GetMember(email: User.Identity.Name).MemberId };
        }
    }

    @using (Html.BeginForm(routeValues)) {
        @Html.ValidationSummary(true)
        <table>
            <tr class="crud_row">
                <td class="number"> @Html.LabelFor(model => model.Title)</td>
                <td>
                    @Html.EditorFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                </td>
            </tr>
            <tr class="crud_row">
                <td class="number"> @Html.LabelFor(model => model.Content)</td>
                <td>
                    @Html.TextAreaFor(model => model.Content)
                    @Html.ValidationMessageFor(model => model.Content)
                </td>
            </tr>
            @if (!ViewBag.StudCoach) {
                <tr class="crud_row">
                    <td class="number">@Html.LabelFor(model => model.Spotlight)</td>
                    <td>
                        @Html.EditorFor(model => model.Spotlight)
                        @Html.ValidationMessageFor(model => model.Spotlight)
                    </td>
                </tr>
            }
            else {
                @Html.HiddenFor(model => model.Spotlight)
            }     
            @Html.HiddenFor(model => model.TeamId);  
            <tr class="create">
                <td><input type="submit" value="Create" /></td>
                <td id="back">
                @Html.ActionLink("Back to Dashboard", "DashBoard", "Team",new { id = Model.TeamId },null)
            </td>
            </tr>
            
        </table>
    }
</div>

