﻿@model TeamOPSchoolCup.Domain.POCO.Topic

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Topic</legend>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">Spotlight</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Spotlight)
    </div>

    <div class="display-label">Team</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Team.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
