﻿@model TeamOPSchoolCup.Domain.POCO.Topic

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Topic</legend>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">Spotlight</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Spotlight)
    </div>

    <div class="display-label">Team</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Team.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TopicId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
