﻿@model TeamOPSchoolCup.Domain.POCO.Message

@{
    ViewBag.Title = "Edit";
}

@section teamDashboard{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Team.css")" type="text/css" />
}

<h2 class="wrappertitel">Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div id="content-form">
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)
        <table>
            @Html.HiddenFor(model => model.TopicId)
            <tr class="crud_row">
                <td class="number">Title</td>
                <td>@Html.DisplayFor(model => model.Topic.Title)</td>
            </tr>
        
            <tr class="crud_row">
                <td class="number">Message</td>
                <td>@Html.Raw(Html.Encode(Model.Content).Replace("\n", "<br />"))</td>
            </tr>  
        
            <tr class="crud_row">
                <td class="number">@Html.LabelFor(model => model.Content)</td>
                <td id="ta">@*Html.TextAreaFor(model => model.Content)*@<textarea class="roundedBorder" name="Content"></textarea></td>
            </tr>     
            <tr class="create">
                <td><input type="submit" value="Save" /></td>
            </tr>
        </table>
    }
</div>
<div id="back">
    @Html.ActionLink("Back to Dashboard", "DashBoard", "Team", new { id = Model.Topic.TeamId }, null)
</div>
