﻿@model IEnumerable<TeamOPSchoolCup.Domain.POCO.Topic>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using TeamOPSchoolCup.Domain.POCO.Members;
@using TeamOPSchoolCup.Domain.POCO;
@using TeamOPSchoolCup.Domain.Services;
@{ Member member = MemberService.GetMember(email: User.Identity.Name);}
<p>
    @Html.ActionLink("Create New", "Create", new { studentId = (member.Student != null ? (int?)member.MemberId : null), coachId = (member.Coach != null ? (int?)member.MemberId : null), teamId = Model.First().TeamId })
</p>
<table>
    <tr>
        <th>
            Title
        </th>
        <th>
            Spotlight
        </th>
        <th>
            Team
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Spotlight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team.Name)
        </td>
        @foreach (var message in item.Messages)
        {
            <td>
            Content:
            @Html.DisplayFor(modelItem => message.Content)
            </td>
        }
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TopicId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TopicId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TopicId })
        </td>
    </tr>
}

</table>
