﻿@using TeamOPSchoolCup.Domain.Services;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    <title>ISF School Cup</title>
    <!--<script src="@Url.Content("~/Scripts/jquery-1.8.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>-->
    <script src="http://code.jquery.com/jquery-1.9.1.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" type="text/javascript"></script>
    
    <!--[if lt IE 9]>
		<script src="js/modernizr.custom.js"></script>
	<![endif]-->
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/custom.js")" type="text/javascript"></script>
    <!-- CSS -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100'
        rel='stylesheet' type='text/css' />
    <link href="@Url.Content("~/Content/css/jquery-ui.min.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/Site.css")" rel="stylesheet" type="text/css" />
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Account.css")" type="text/css" />
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/eigenlogozondertekst.ico")" type="image/x-icon" />
    @RenderSection("region", required: false)
    @RenderSection("home", required: false)
    @RenderSection("sport", required: false)
    @RenderSection("account", required: false)
    @RenderSection("event", required: false)
    @RenderSection("ranking", required: false)
    @RenderSection("profile", required: false)
    @RenderSection("SchoolCup", required: false)
    @RenderSection("advertisement", required: false)
    @RenderSection("teamDashboard", required: false)
    @RenderSection("results", required: false)
    @RenderSection("meeting", required: false)
    @RenderSection("editprofile", required: false)
    @RenderSection("schoolCupNav", required: false)
    @RenderSection("nssf", required: false)
    <script type="text/javascript">
        $(function () {
            $(document).tooltip();
        });
        @if (ViewBag.WantToLogin==true) {
            <text>$(document).ready(function() {$("#login-form").dialog("open");});</text>
        }
    </script>
</head>
<body data-language="@System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName">
    <!-- wrapper -->
    <div id="wrapper">
        <div id="top">
            <div id="top-bar">
                <div class="bar-content">
                    <div id="info">
                        @if (User.Identity.IsAuthenticated) {
                            @Html.ActionLink("Log out", "LogOff", "Account")
                        }
                        else {
                            <a href="#" id="login-button" name="top">Login</a>
                        }
                        @Html.ActionLink("About","About","Home") @Html.ActionLink("Help", "Index", "Help")</div>
                        
                    
                    
                        <div class="search">
                            <form action="@Url.Action("Results","Search")" method="get">
                            <input name="query" type="text" class="field ui-tooltip" value="@TeamOPSchoolCup.Domain.Resources.SharedStrings.Search" id="search_box" title="@TeamOPSchoolCup.Domain.Resources.SharedStrings.SearchTooltip" name="searchquery" />
                            <input type="submit" class="search-btn" value="" />
                            <div class="cl">
                                &nbsp;</div>
                            </form>
                        </div>

                        @if (User.Identity.IsAuthenticated) {
                            <div id="welcome">@TeamOPSchoolCup.Domain.Resources.SharedStrings.welcome @TeamOPSchoolCup.Domain.Services.MemberService.GetMember(email:User.Identity.Name).Name</div>
                        }

                </div>
            </div>
            <div id="bottom-bar">
                <div class="bar-content">

                    <a href="@Url.Action("Index", "Home")">
                        <img src="@Url.Content("~/Content/images/logotitel2.png")" alt="logo" id="logotitel"/>
                    </a>
                    <nav id="navigation">
					<ul>
						<li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Meetings","Index","Meeting")</li>
                        @if (User.Identity.IsAuthenticated) {
						<li>
                            @if (Roles.IsUserInRole("Student") || Roles.IsUserInRole("Coach"))
                            {
                                @Html.ActionLink("SchoolCup", "SchoolCup", "SchoolCup")
                            }
                            else if (Roles.IsUserInRole("ISFAdmin") || Roles.IsUserInRole("NSSFRep") || Roles.IsUserInRole("SCC"))
                            {
                                @Html.ActionLink("Administration", "Index", "Administration")
                            }
                        </li>
                        }
						<li>@Html.ActionLink("Ranking", "Index", "Ranking")</li>
                        <li>@Html.ActionLink("Records", "Index", "Record")</li>
						<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
					</ul>
					<div class="cl">&nbsp;</div>
				</nav>
                </div>
            </div>
        </div>
        <div class="shell">
            <!-- nog in te vullen renderBody-->
            @{ var ctr = ViewContext.RouteData.Values["controller"].ToString();
               var act = ViewContext.RouteData.Values["action"].ToString();
               var classStr=String.Format("controller{0} action{1}",ctr,act);
            }
            <div id="pagebody" class="@classStr">@RenderBody()</div>
            @Html.Action("FooterAd", "Advertisement")
        </div>
        <div id="footer">
            <div class="footer-nav">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Contact", "#", "Contact")</li>
                    <li>@Html.ActionLink("About", "#", "#")</li>
                    <li>@Html.ActionLink("Help", "#", "#")</li>
                    @Html.Action("CultureChanger", "Home")
                </ul>
                <div class="cl">
                </div>
            </div>
            <div class="cl">
                &nbsp;</div>
        </div>
        <!-- end of footer -->
    </div>
    <!-- end of wrapper -->
    <!-- Login form -->
    @if (ViewBag.WantToLogin == true)
    {
        @Html.Action("LogOn", "Account", new { ReturnUrl = ViewBag.LoginReturnUrl })
    }
    else
    {
        @Html.Action("LogOn", "Account", new { })
    }
    <div id="popupoverlay">
    </div>
</body>
</html>
