﻿@model List<KeyValuePair<int, string>>
@{
        
}
@using TeamOPSchoolCup.Web.Helpers
<li id="languagepicker">
    <span id="currentlanguage">@if (System.Threading.Thread.CurrentThread.CurrentUICulture.EnglishName == "English") {<img src="@Url.Content("~/Content/images/languages/1.png")" alt="flag"/>}
                               else {<img src="@Url.Content("~/Content/images/languages/2.png")" alt="flag"/>}@System.Threading.Thread.CurrentThread.CurrentUICulture.NativeName</span>
    <ul id="languagelist">
        @foreach (KeyValuePair<int, string> kvp in Model) {
            <li>@Html.ActionImage("ChangeCulture", "Home", new { lang = kvp.Key, returnUrl = this.Request.RawUrl }, "~/Content/images/languages/" + kvp.Key + ".png", "", kvp.Value)</li>
        }
    </ul>
</li>