﻿@model System.Web.Mvc.HandleErrorInfo
@using TeamOPSchoolCup.Domain.Exceptions
@using TeamOPSchoolCup.Domain.Resources
@{
    ViewBag.Title = ErrorStrings.ErrorOccured;
    
}

<h1 class="wrappertitel">@ErrorStrings.ErrorOccured</h1>
<p class="errormessage">@Model.Exception.Message</p>