﻿@using TeamOPSchoolCup.Domain.Resources
@{
    ViewBag.Title = "Contact";
}
@section home{
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/css/Home.css")" />
}
<h1 class="wrappertitel">
    Team OP</h1>
<div id="contacts">
    <div class="contact left roundedborder">
        <img class="contactPhoto" src="@Url.Content("~/Content/images/wim.png")" alt="wim" />
        <div class="contactInfo">
            <ul>
                <li><a href="https://www.facebook.com/wimtibackx" target="_blank">Wim Tibackx</a></li>
                <li>wim.tibackx@student.kdg.be</li>
                <li>@SharedStrings.Age: 19</li>
            </ul>
        </div>
    </div>
    <div class="contact right roundedborder">
        <img class="contactPhoto" src="@Url.Content("~/Content/images/thomas.png")" alt="thomas" />
        <div class="contactInfo">
            <ul>
                <li><a href="https://www.facebook.com/ducheyne.thomas" target="_blank">Thomas Ducheyne</a></li>
                <li>thomas.ducheyne@student. kdg.be</li>
                <li>@SharedStrings.Age: 19</li>
            </ul>
        </div>
    </div>
    <div class="contact left roundedborder">
        <img class="contactPhoto" src="@Url.Content("~/Content/images/mo.png")" alt="mo" />
        <div class="contactInfo">
            <ul>
                <li><a href="https://www.facebook.com/mo.binni" target="_blank">Mo Binni</a></li>
                <li>mohamad.el-binni@student.kdg.be</li>
                <li>@SharedStrings.Age: 21</li>
            </ul>
        </div>
    </div>
    <div class="contact right roundedborder">
        <img class="contactPhoto" src="@Url.Content("~/Content/images/jerry.png")" alt="jerry" />
        <div class="contactInfo">
            <ul>
                <li><a href="https://www.facebook.com/jerrylee.boonen target="_blank">Jerry-Lee Boonen</a></li>
                <li>jerry-lee.boonen@student.kdg.be</li>
                <li>@SharedStrings.Age: 21</li>
            </ul>
        </div>
    </div>
    <div class="contact left roundedborder">
        <img class="contactPhoto" src="@Url.Content("~/Content/images/joey.png")" alt="joey" />
        <div class="contactInfo">
            <ul>
                <li><a href="https://www.facebook.com/joey.comhaire" target="_blank">Joey Comhaire</a></li>
                <li>joey.comhaire@student.kdg.be</li>
                <li>@SharedStrings.Age: 21</li>
            </ul>
        </div>
    </div>
    <div class="contact right roundedborder">
        <img class="contactPhoto" src="@Url.Content("~/Content/images/janne.png")" alt="janne" />
        <div class="contactInfo">
            <ul>
                <li><a href="https://www.facebook.com/janne.siera" target="_blank">Janne Siera</a></li>
                <li>janne.sierra@student.kdg.be</li>
                <li>@SharedStrings.Age: 20</li>
            </ul>
        </div>
    </div>
</div>
 