﻿@{
    ViewBag.Title = "ImportPointsTemp";
}

<h2>ImportPointsTemp</h2>
@using (Html.BeginForm("ImportPointsTemp", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file"  accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.csv"  name="file" />
    <input type="submit" value="OK" />
}