﻿@using TeamOPSchoolCup.Domain.Resources
@{
    ViewBag.Title = "Index";
}
@section home{
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Home.css")" type="text/css" />
    <link rel="Stylesheet" href="@Url.Content("~/Content/css/Ranking.css")" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.carouFredSel-5.5.0-packed.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/functions.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/HomeRanking.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EasterEgg.js")" type="text/javascript" />
}
<div class="slider-holder">
    <!-- slider -->
    <div class="slider" id="slideshow">
        <div class="socials">
            
            <a href="https://www.facebook.com/isfsports?fref=ts" target="_blank" class="icon">
                <img src="@Url.Content("~/Content/images/facebook.png")" class="ico" alt="facebookico" /></a>
            <a href="https://twitter.com/isfsports" target="_blank" class="icon">
                <img src="@Url.Content("~/Content/images/twitter.png")" alt="facebookico" class="ico"/></a>
            <a href="http://files.wimtibackx.be/ISFSchoolCup.apk" target="_blank" class="icon">
                <img src="@Url.Content("~/Content/images/androidplay.png")"  class="playico" /></a>
            <div class="cl">
                &nbsp;</div>
        </div>
        <ul>
            <li id="img1">
                <div class="slide-cnt">
                    <h4>
                         @TeamOPSchoolCup.Domain.Resources.SharedStrings.wuc</h4>
                    <h2>
                        Team OP</h2>
                    <p>
                        @TeamOPSchoolCup.Domain.Resources.SharedStrings.follow <a href="https://www.facebook.com/isfsports?fref=ts"
                            target="_blank">Facebook</a>
                        @TeamOPSchoolCup.Domain.Resources.SharedStrings.and <a href="https://twitter.com/isfsports"
                            target="_blank">Twitter</a></p>
                </div>
                <img src="@Url.Content("~/Content/images/uc.png")" alt="" />
            </li>
            <li id="img2">
                <div class="slide-cnt">
                    <h4>
                        Team OP</h4>
                    <h2>
                      @TeamOPSchoolCup.Domain.Resources.SharedStrings.wtftb</h2>
                    <p>
                        @TeamOPSchoolCup.Domain.Resources.SharedStrings.construction . <a href="#">@TeamOPSchoolCup.Domain.Resources.SharedStrings.read</a></p>
                </div>
                <img src="@Url.Content("~/Content/images/eigenlogozondertekst.png")" alt="" />
            </li>
        </ul>
    </div>
    <!-- end of slider -->
    <!-- thumbs -->
    <div id="thumbs-wrapper">
        <div id="thumbs">
            <a href="#img1" class="selected">
                <img alt="thumb1" src="@Url.Content("~/Content/images/bullet.png")" /></a> <a href="#img2">
                    <img alt="thumb2" src="@Url.Content("~/Content/images/bullet.png")" /></a>
        </div>
    </div>
    <!-- end of thumbs -->
</div>
<div id="filling">
    <div class="homeResults" id="worldResultsAth">
    <div id="tabATH">
        <ul>
            <li><a href="#tab_male">Male</a></li>
            <li><a href="#tab_female">Female</a></li>
       </ul>
       <div id="tab_male">
            <p class="tableTitleSw">Ranking @SharedStrings.athletics</p>
            @Html.Action("LoadHomeRankings", "Home", new { sportId = 2, gender = TeamOPSchoolCup.Domain.DTO.Gender.MALE,  pageSize = 4 })</div>

           <div id="tab_female">
           <p class="tableTitleSw">Ranking @SharedStrings.athletics</p>
            @Html.Action("LoadHomeRankings", "Home", new { sportId = 2, gender = TeamOPSchoolCup.Domain.DTO.Gender.FEMALE,  pageSize = 4 })</div>
        </div>
     </div>
    <div id="aboutUs">
        <p>
            About Us</p>
        @TeamOPSchoolCup.Domain.Resources.SharedStrings.about1 Karel de Grote Hogeschool
        @TeamOPSchoolCup.Domain.Resources.SharedStrings.about2
        <a href="https://twitter.com/isfsports" target="_blank">Rudy Montigny</a>
    </div>
    <div class="homeResults" id="worldResultsSw">
        <div id="tabSW">
        <ul>
            <li><a href="#tab_male">Male</a></li>
            <li><a href="#tab_female">Female</a></li>
       </ul>
       
       <div id="tab_male">
            <p class="tableTitleAth">Ranking @SharedStrings.swimming</p>
            @Html.Action("LoadHomeRankings", "Home", new { sportId = 1, gender = TeamOPSchoolCup.Domain.DTO.Gender.MALE,  pageSize = 4 })</div>

           <div id="tab_female">
           <p class="tableTitleAth">Ranking @SharedStrings.swimming</p>
            @Html.Action("LoadHomeRankings", "Home", new { sportId = 1, gender = TeamOPSchoolCup.Domain.DTO.Gender.FEMALE,  pageSize = 4 })</div>
        </div>
     </div>
    <div id="worldEvents">
        <p>@TeamOPSchoolCup.Domain.Resources.SharedStrings.latestm</p>
        <table class="alternatingRows">
            @foreach (TeamOPSchoolCup.Domain.POCO.Meeting m in (List<TeamOPSchoolCup.Domain.POCO.Meeting>)ViewBag.UpcomingMeetings) {
                <tr><td>@Html.ActionLink(m.Name, "Detail", "Meeting", new { id = m.MeetingId }, null)</td> <td>@m.Date.Day/@m.Date.Month/@m.Date.Year</td></tr>
            }
        </table>
    </div>
</div>

<div id="easterEgg"></div>
